# ğŸ“ Pandas
: íŒŒì´ì¬ì—ì„œ ì‚¬ìš©í•˜ëŠ” ë°ì´í„° ë¶„ì„ ë¼ì´ë¸ŒëŸ¬ë¦¬

In [1]:
import pandas as pd

pd.__version__

'2.0.3'

# ğŸ“ Series
: 1ì°¨ì› ë°ì´í„°(ì •ìˆ˜, ì‹¤ìˆ˜, ë¬¸ìì—´ ë“±)
### âœ… ì°¨ì›
: ```Series.ndim```

In [2]:
# SeriesëŠ” 1ì°¨ì› ìë£Œêµ¬ì¡°ì´ë¯€ë¡œ 1 ì¶œë ¥
s = pd.Series([1, 2, 3, 4])
s.ndim

1

### âœ… Series ê°ì²´ ìƒì„±
: ```pd.Series([list], dtype)```

ì˜ˆ) 1ì›”ë¶€í„° 4ì›”ê¹Œì§€ í‰ê·  ì˜¨ë„ ë°ì´í„°(-20, -10, 10, 20)

In [3]:
temp = pd.Series([-20, -10, 10, 20])
print(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [4]:
# float typeìœ¼ë¡œ ì„¤ì •
pd.Series([-20, -10, 10, 20], dtype='float')

0   -20.0
1   -10.0
2    10.0
3    20.0
dtype: float64

In [5]:
# ë‹¤ì–‘í•œ íƒ€ì…ì˜ ë°ì´í„°ê°€ ì„ì¸ ê²½ìš° objectë¡œ ìƒì„±
s = pd.Series([91, 2.5, 'sport'])
print(s)

0       91
1      2.5
2    sport
dtype: object

### âœ… Series ì ‘ê·¼
: ```Series([idx])```

In [6]:
temp[0] # 1ì›” ì˜¨ë„

-20

In [7]:
# ìŒìˆ˜(negative) ìƒ‰ì¸ ë¶ˆê°€ëŠ¥
temp[-1]

KeyError: -1

### âœ… Series Index ì§€ì •
: ```pd.Series([list], index=[index_list])```

In [8]:
temp = pd.Series([-20, -10, 10, 20], index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [9]:
temp['Jan']

-20

In [10]:
# ì¡´ì¬í•˜ì§€ ì•ŠëŠ” Index ì ‘ê·¼ ì‹œë„ ì‹œ ì—ëŸ¬
temp['Jun']

KeyError: 'Jun'

In [11]:
# ê¸°ë³¸ë¶€ì—¬ëœ ìˆ«ìí˜• indexë¡œë„ ì ‘ê·¼ ê°€ëŠ¥
temp[0]

-20

In [12]:
# temp 'Apr'ê°’ìœ¼ë¡œ ìƒ‰ì¸ë˜ëŠ” ì›ë¦¬, ë”°ë¼ì„œ -1 position ë˜í•œ 'Apr'ìš”ì†Œê°€ ìˆê¸° ë•Œë¬¸ì— 'Apr'ê°’ìœ¼ë¡œ ì¶œë ¥ì´ ë¨
temp[-1]

20

# ğŸ“ DataFrame
: í–‰(row), ì—´(column)ë¡œ êµ¬ì„±ëœ 2ì°¨ì› ë°ì´í„°(Seriesë“¤ì˜ ëª¨ì„)\
  ê° ì—´(column)ì€ ê°ê°ì˜ ë°ì´í„° íƒ€ì…(dtype)ì„ ê°€ì§

ì˜ˆ) ìŠ¬ë¨ë©í¬ ì£¼ìš” ì¸ë¬¼ 8ëª…ì— ëŒ€í•œ ë°ì´í„°

In [13]:
data = {
    'ì´ë¦„' : ['ì±„ì¹˜ìˆ˜', 'ì •ëŒ€ë§Œ', 'ì†¡íƒœì„­', 'ì„œíƒœì›…', 'ê°•ë°±í˜¸', 'ë³€ë•ê·œ', 'í™©íƒœì‚°', 'ìœ¤ëŒ€í˜‘'],
    'í•™êµ' : ['ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ëŠ¥ë‚¨ê³ ', 'ëŠ¥ë‚¨ê³ ', 'ëŠ¥ë‚¨ê³ '],
    'í‚¤' : [197, 184, 168, 187, 188, 202, 188, 190],
    'êµ­ì–´' : [90, 40, 80, 40, 15, 80, 55, 100],
    'ì˜ì–´' : [85, 35, 75, 60, 20, 100, 65, 85],
    'ìˆ˜í•™' : [100, 50, 70, 70, 10, 95, 45, 90],
    'ê³¼í•™' : [95, 55, 80, 75, 35, 85, 40, 95],
    'ì‚¬íšŒ' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SWíŠ¹ê¸°' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

In [14]:
data['ì´ë¦„']

['ì±„ì¹˜ìˆ˜', 'ì •ëŒ€ë§Œ', 'ì†¡íƒœì„­', 'ì„œíƒœì›…', 'ê°•ë°±í˜¸', 'ë³€ë•ê·œ', 'í™©íƒœì‚°', 'ìœ¤ëŒ€í˜‘']

### âœ… DataFrame ê°ì²´ ìƒì„±
: ```pd.DataFrame({data})```

In [15]:
df = pd.DataFrame(data)
df

    ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
0  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
1  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
2  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
3  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
4  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10
5  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
6  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
7  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [16]:
df['ì´ë¦„']

0    ì±„ì¹˜ìˆ˜
1    ì •ëŒ€ë§Œ
2    ì†¡íƒœì„­
3    ì„œíƒœì›…
4    ê°•ë°±í˜¸
5    ë³€ë•ê·œ
6    í™©íƒœì‚°
7    ìœ¤ëŒ€í˜‘
Name: ì´ë¦„, dtype: object

In [17]:
df[['ì´ë¦„', 'í‚¤']]

    ì´ë¦„    í‚¤
0  ì±„ì¹˜ìˆ˜  197
1  ì •ëŒ€ë§Œ  184
2  ì†¡íƒœì„­  168
3  ì„œíƒœì›…  187
4  ê°•ë°±í˜¸  188
5  ë³€ë•ê·œ  202
6  í™©íƒœì‚°  188
7  ìœ¤ëŒ€í˜‘  190

### âœ… DataFrame Index ì§€ì •
: ```pd.DataFrame({data}, index=[index_list])```

In [18]:
# ì¸ë±ìŠ¤ê°¯ìˆ˜ì™€ dataì˜ í–‰ìˆ˜ê°€ ê°™ì•„ì•¼ í•œë‹¤
df = pd.DataFrame(data, index=['1ë²ˆ', '2ë²ˆ', '3ë²ˆ', '4ë²ˆ', '5ë²ˆ', '6ë²ˆ', '7ë²ˆ', '8ë²ˆ'])
df

     ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
1ë²ˆ  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
5ë²ˆ  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10
6ë²ˆ  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… DataFrame Column ì§€ì •
: ```pd.DataFrame({data}, columns=[column_list])```

In [19]:
pd.DataFrame([[1, 2, 3],
             [4, 5, 6],
             [7, 8, 9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
pd.DataFrame([[1, 2, 3],
             [4, 5, 6],
             [7, 8, 9]], columns=['ê°€', 'ë‚˜', 'ë‹¤'])

   ê°€  ë‚˜  ë‹¤
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
# ì›í•˜ëŠ” columnë§Œ ì„ íƒ
df = pd.DataFrame(data, columns=['ì´ë¦„', 'í•™êµ', 'í‚¤'])
df

    ì´ë¦„   í•™êµ    í‚¤
0  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197
1  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184
2  ì†¡íƒœì„­  ë¶ì‚°ê³   168
3  ì„œíƒœì›…  ë¶ì‚°ê³   187
4  ê°•ë°±í˜¸  ë¶ì‚°ê³   188
5  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202
6  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188
7  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190

In [22]:
# column ìˆœì„œ ë³€ê²½
df = pd.DataFrame(data, columns=['ì´ë¦„', 'í‚¤', 'í•™êµ'])
df

    ì´ë¦„    í‚¤   í•™êµ
0  ì±„ì¹˜ìˆ˜  197  ë¶ì‚°ê³
1  ì •ëŒ€ë§Œ  184  ë¶ì‚°ê³
2  ì†¡íƒœì„­  168  ë¶ì‚°ê³
3  ì„œíƒœì›…  187  ë¶ì‚°ê³
4  ê°•ë°±í˜¸  188  ë¶ì‚°ê³
5  ë³€ë•ê·œ  202  ëŠ¥ë‚¨ê³
6  í™©íƒœì‚°  188  ëŠ¥ë‚¨ê³
7  ìœ¤ëŒ€í˜‘  190  ëŠ¥ë‚¨ê³

### âœ… DataFrame ì „ì¹˜
: ```df.T```

In [23]:
df.T

      0    1    2    3    4    5    6    7
ì´ë¦„  ì±„ì¹˜ìˆ˜  ì •ëŒ€ë§Œ  ì†¡íƒœì„­  ì„œíƒœì›…  ê°•ë°±í˜¸  ë³€ë•ê·œ  í™©íƒœì‚°  ìœ¤ëŒ€í˜‘
í‚¤   197  184  168  187  188  202  188  190
í•™êµ  ë¶ì‚°ê³   ë¶ì‚°ê³   ë¶ì‚°ê³   ë¶ì‚°ê³   ë¶ì‚°ê³   ëŠ¥ë‚¨ê³   ëŠ¥ë‚¨ê³   ëŠ¥ë‚¨ê³