# üìç Pandas
: ÌååÏù¥Ïç¨ÏóêÏÑú ÏÇ¨Ïö©ÌïòÎäî Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù ÎùºÏù¥Î∏åÎü¨Î¶¨

In [1]:
import pandas as pd

pd.__version__

'2.0.3'

# üìç Series
: 1Ï∞®Ïõê Îç∞Ïù¥ÌÑ∞(Ï†ïÏàò, Ïã§Ïàò, Î¨∏ÏûêÏó¥ Îì±)
### ‚úÖ Ï∞®Ïõê
: ```Series.ndim```

In [2]:
# SeriesÎäî 1Ï∞®Ïõê ÏûêÎ£åÍµ¨Ï°∞Ïù¥ÎØÄÎ°ú 1 Ï∂úÎ†•
s = pd.Series([1, 2, 3, 4])
s.ndim

1

### ‚úÖ Series Í∞ùÏ≤¥ ÏÉùÏÑ±
: ```pd.Series([list], dtype)```

Ïòà) 1ÏõîÎ∂ÄÌÑ∞ 4ÏõîÍπåÏßÄ ÌèâÍ∑† Ïò®ÎèÑ Îç∞Ïù¥ÌÑ∞(-20, -10, 10, 20)

In [3]:
temp = pd.Series([-20, -10, 10, 20])
print(temp)

0   -20
1   -10
2    10
3    20
dtype: int64

In [4]:
# float typeÏúºÎ°ú ÏÑ§Ï†ï
pd.Series([-20, -10, 10, 20], dtype='float')

0   -20.0
1   -10.0
2    10.0
3    20.0
dtype: float64

In [5]:
# Îã§ÏñëÌïú ÌÉÄÏûÖÏùò Îç∞Ïù¥ÌÑ∞Í∞Ä ÏÑûÏù∏ Í≤ΩÏö∞ objectÎ°ú ÏÉùÏÑ±
s = pd.Series([91, 2.5, 'sport'])
print(s)

0       91
1      2.5
2    sport
dtype: object

### ‚úÖ Series Ï†ëÍ∑º
: ```Series([idx])```

In [6]:
temp[0] # 1Ïõî Ïò®ÎèÑ

-20

In [7]:
# ÏùåÏàò(negative) ÏÉâÏù∏ Î∂àÍ∞ÄÎä•
temp[-1]

KeyError: -1

### ‚úÖ Series Index ÏßÄÏ†ï
: ```pd.Series([list], index=[index_list])```

In [8]:
temp = pd.Series([-20, -10, 10, 20], index=['Jan', 'Feb', 'Mar', 'Apr'])
temp

Jan   -20
Feb   -10
Mar    10
Apr    20
dtype: int64

In [9]:
temp['Jan']

-20

In [10]:
# Ï°¥Ïû¨ÌïòÏßÄ ÏïäÎäî Index Ï†ëÍ∑º ÏãúÎèÑ Ïãú ÏóêÎü¨
temp['Jun']

KeyError: 'Jun'

In [11]:
# Í∏∞Î≥∏Î∂ÄÏó¨Îêú Ïà´ÏûêÌòï indexÎ°úÎèÑ Ï†ëÍ∑º Í∞ÄÎä•
temp[0]

-20

In [12]:
# temp 'Apr'Í∞íÏúºÎ°ú ÏÉâÏù∏ÎêòÎäî ÏõêÎ¶¨, Îî∞ÎùºÏÑú -1 position ÎòêÌïú 'Apr'ÏöîÏÜåÍ∞Ä ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê 'Apr'Í∞íÏúºÎ°ú Ï∂úÎ†•Ïù¥ Îê®
temp[-1]

20

# üìç DataFrame
: Ìñâ(row), Ïó¥(column)Î°ú Íµ¨ÏÑ±Îêú 2Ï∞®Ïõê Îç∞Ïù¥ÌÑ∞(SeriesÎì§Ïùò Î™®ÏûÑ)\
  Í∞Å Ïó¥(column)ÏùÄ Í∞ÅÍ∞ÅÏùò Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ(dtype)ÏùÑ Í∞ÄÏßê

Ïòà) Ïä¨Îû®Îç©ÌÅ¨ Ï£ºÏöî Ïù∏Î¨º 8Î™ÖÏóê ÎåÄÌïú Îç∞Ïù¥ÌÑ∞

In [13]:
data = {
    'Ïù¥Î¶Ñ' : ['Ï±ÑÏπòÏàò', 'Ï†ïÎåÄÎßå', 'ÏÜ°ÌÉúÏÑ≠', 'ÏÑúÌÉúÏõÖ', 'Í∞ïÎ∞±Ìò∏', 'Î≥ÄÎçïÍ∑ú', 'Ìô©ÌÉúÏÇ∞', 'Ïú§ÎåÄÌòë'],
    'ÌïôÍµê' : ['Î∂ÅÏÇ∞Í≥†', 'Î∂ÅÏÇ∞Í≥†', 'Î∂ÅÏÇ∞Í≥†', 'Î∂ÅÏÇ∞Í≥†', 'Î∂ÅÏÇ∞Í≥†', 'Îä•ÎÇ®Í≥†', 'Îä•ÎÇ®Í≥†', 'Îä•ÎÇ®Í≥†'],
    'ÌÇ§' : [197, 184, 168, 187, 188, 202, 188, 190],
    'Íµ≠Ïñ¥' : [90, 40, 80, 40, 15, 80, 55, 100],
    'ÏòÅÏñ¥' : [85, 35, 75, 60, 20, 100, 65, 85],
    'ÏàòÌïô' : [100, 50, 70, 70, 10, 95, 45, 90],
    'Í≥ºÌïô' : [95, 55, 80, 75, 35, 85, 40, 95],
    'ÏÇ¨Ìöå' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SWÌäπÍ∏∞' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}

In [14]:
data['Ïù¥Î¶Ñ']

['Ï±ÑÏπòÏàò', 'Ï†ïÎåÄÎßå', 'ÏÜ°ÌÉúÏÑ≠', 'ÏÑúÌÉúÏõÖ', 'Í∞ïÎ∞±Ìò∏', 'Î≥ÄÎçïÍ∑ú', 'Ìô©ÌÉúÏÇ∞', 'Ïú§ÎåÄÌòë']

### ‚úÖ DataFrame Í∞ùÏ≤¥ ÏÉùÏÑ±
: ```pd.DataFrame({data})```

In [15]:
df = pd.DataFrame(data)
df

    Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
0  Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
1  Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
2  ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
3  ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80
4  Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10
5  Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
6  Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
7  Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

In [16]:
df['Ïù¥Î¶Ñ']

0    Ï±ÑÏπòÏàò
1    Ï†ïÎåÄÎßå
2    ÏÜ°ÌÉúÏÑ≠
3    ÏÑúÌÉúÏõÖ
4    Í∞ïÎ∞±Ìò∏
5    Î≥ÄÎçïÍ∑ú
6    Ìô©ÌÉúÏÇ∞
7    Ïú§ÎåÄÌòë
Name: Ïù¥Î¶Ñ, dtype: object

In [17]:
df[['Ïù¥Î¶Ñ', 'ÌÇ§']]

    Ïù¥Î¶Ñ    ÌÇ§
0  Ï±ÑÏπòÏàò  197
1  Ï†ïÎåÄÎßå  184
2  ÏÜ°ÌÉúÏÑ≠  168
3  ÏÑúÌÉúÏõÖ  187
4  Í∞ïÎ∞±Ìò∏  188
5  Î≥ÄÎçïÍ∑ú  202
6  Ìô©ÌÉúÏÇ∞  188
7  Ïú§ÎåÄÌòë  190

### ‚úÖ DataFrame Index ÏßÄÏ†ï
: ```pd.DataFrame({data}, index=[index_list])```

In [18]:
# Ïù∏Îç±Ïä§Í∞ØÏàòÏôÄ dataÏùò ÌñâÏàòÍ∞Ä Í∞ôÏïÑÏïº ÌïúÎã§
df = pd.DataFrame(data, index=['1Î≤à', '2Î≤à', '3Î≤à', '4Î≤à', '5Î≤à', '6Î≤à', '7Î≤à', '8Î≤à'])
df

     Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
1Î≤à  Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à  Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à  ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à  ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80
5Î≤à  Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10
6Î≤à  Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à  Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à  Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

### ‚úÖ DataFrame Column ÏßÄÏ†ï
: ```pd.DataFrame({data}, columns=[column_list])```

In [19]:
pd.DataFrame([[1, 2, 3],
             [4, 5, 6],
             [7, 8, 9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
pd.DataFrame([[1, 2, 3],
             [4, 5, 6],
             [7, 8, 9]], columns=['Í∞Ä', 'ÎÇò', 'Îã§'])

   Í∞Ä  ÎÇò  Îã§
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
# ÏõêÌïòÎäî columnÎßå ÏÑ†ÌÉù
df = pd.DataFrame(data, columns=['Ïù¥Î¶Ñ', 'ÌïôÍµê', 'ÌÇ§'])
df

    Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§
0  Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197
1  Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184
2  ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168
3  ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187
4  Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188
5  Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202
6  Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188
7  Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190

In [22]:
# column ÏàúÏÑú Î≥ÄÍ≤Ω
df = pd.DataFrame(data, columns=['Ïù¥Î¶Ñ', 'ÌÇ§', 'ÌïôÍµê'])
df

    Ïù¥Î¶Ñ    ÌÇ§   ÌïôÍµê
0  Ï±ÑÏπòÏàò  197  Î∂ÅÏÇ∞Í≥†
1  Ï†ïÎåÄÎßå  184  Î∂ÅÏÇ∞Í≥†
2  ÏÜ°ÌÉúÏÑ≠  168  Î∂ÅÏÇ∞Í≥†
3  ÏÑúÌÉúÏõÖ  187  Î∂ÅÏÇ∞Í≥†
4  Í∞ïÎ∞±Ìò∏  188  Î∂ÅÏÇ∞Í≥†
5  Î≥ÄÎçïÍ∑ú  202  Îä•ÎÇ®Í≥†
6  Ìô©ÌÉúÏÇ∞  188  Îä•ÎÇ®Í≥†
7  Ïú§ÎåÄÌòë  190  Îä•ÎÇ®Í≥†

### ‚úÖ DataFrame Ï†ÑÏπò
: ```df.T```

In [23]:
df.T

      0    1    2    3    4    5    6    7
Ïù¥Î¶Ñ  Ï±ÑÏπòÏàò  Ï†ïÎåÄÎßå  ÏÜ°ÌÉúÏÑ≠  ÏÑúÌÉúÏõÖ  Í∞ïÎ∞±Ìò∏  Î≥ÄÎçïÍ∑ú  Ìô©ÌÉúÏÇ∞  Ïú§ÎåÄÌòë
ÌÇ§   197  184  168  187  188  202  188  190
ÌïôÍµê  Î∂ÅÏÇ∞Í≥†  Î∂ÅÏÇ∞Í≥†  Î∂ÅÏÇ∞Í≥†  Î∂ÅÏÇ∞Í≥†  Î∂ÅÏÇ∞Í≥†  Îä•ÎÇ®Í≥†  Îä•ÎÇ®Í≥†  Îä•ÎÇ®Í≥†