## ğŸ“ ì €ì¥

### âœ… DataFrame ê°ì²´ ìƒì„±
: ```pd.DataFrame({data, index=[index_list]})```

In [2]:
import pandas as pd

data = {
    'ì´ë¦„' : ['ì±„ì¹˜ìˆ˜', 'ì •ëŒ€ë§Œ', 'ì†¡íƒœì„­', 'ì„œíƒœì›…', 'ê°•ë°±í˜¸', 'ë³€ë•ê·œ', 'í™©íƒœì‚°', 'ìœ¤ëŒ€í˜‘'],
    'í•™êµ' : ['ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ëŠ¥ë‚¨ê³ ', 'ëŠ¥ë‚¨ê³ ', 'ëŠ¥ë‚¨ê³ '],
    'í‚¤' : [197, 184, 168, 187, 188, 202, 188, 190],
    'êµ­ì–´' : [90, 40, 80, 40, 15, 80, 55, 100],
    'ì˜ì–´' : [85, 35, 75, 60, 20, 100, 65, 85],
    'ìˆ˜í•™' : [100, 50, 70, 70, 10, 95, 45, 90],
    'ê³¼í•™' : [95, 55, 80, 75, 35, 85, 40, 95],
    'ì‚¬íšŒ' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SWíŠ¹ê¸°' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df = pd.DataFrame(data, index=['1ë²ˆ', '2ë²ˆ', '3ë²ˆ', '4ë²ˆ', '5ë²ˆ', '6ë²ˆ', '7ë²ˆ', '8ë²ˆ']) # index ì„¤ì •
df.index.name='ì§€ì›ë²ˆí˜¸' # index_name ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… csvë¡œ ì €ì¥
: ```df.to_csv('íŒŒì¼ëª….csv', encoding='utf-8-sig', index=True/False)```

In [4]:
df.to_csv('score.csv') # txtë¡œ ì˜ë³´ì´ì§€ë§Œ excelë¡œëŠ” ê¹¨ì ¸ë³´ì„

In [7]:
df.to_csv('score.csv', encoding='utf-8-sig') # excelë„ ê¹¨ì§€ì§€ ì•Šê²Œ ë¨

In [8]:
df.to_csv('score.csv', encoding='utf-8-sig', index=False) # index ì œì™¸í•˜ê³  ì €ì¥

### âœ… í…ìŠ¤íŠ¸(.txt)ë¡œ ì €ì¥
: ```df.to_csv('íŒŒì¼ëª….txt', sep='\t')```

In [10]:
df.to_csv('score.txt', sep='\t') # tapìœ¼ë¡œ êµ¬ë¶„ëœ txtíŒŒì¼ë¡œ ì €ì¥

### âœ… ì—‘ì…€ë¡œ ì €ì¥
: ```df.to_excel('íŒŒì¼ëª….xlsx')```

In [11]:
df.to_excel('score.xlsx')

# ğŸ“ ì—´ê¸°
### âœ… csvë¡œ ì—´ê¸°
: ```pd.read_csv('íŒŒì¼ëª….csv', skiprows=ì‚­ì œí• rowê°¯ìˆ˜ / [row_list], nrows=ë¶ˆëŸ¬ì˜¬rowê°¯ìˆ˜)```

In [13]:
df = pd.read_csv('score.csv')
df

    ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
0  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
1  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
2  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
3  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
4  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
5  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
6  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
7  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [15]:
df = pd.read_csv('score.csv', skiprows=1) # 1ê°œ rowë¥¼ ìŠ¤í‚µ
df

   ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85.1      Python
0  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55    25        Java
1  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80    75  Javascript
2  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75    80         NaN
3  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35    10         NaN
4  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85    80           C
5  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40    35      PYTHON
6  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95    95          C#

In [16]:
df = pd.read_csv('score.csv', skiprows=[1, 3, 5]) # 1, 3, 5 row ì œì™¸
df

    ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
0  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35  50  55  25    Java
1  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60  70  75  80     NaN
2  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100  95  85  80       C
3  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65  45  40  35  PYTHON
4  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85  90  95  95      C#

In [18]:
df = pd.read_csv('score.csv', nrows=4) # ì§€ì •ëœ ê°¯ìˆ˜ë§Œí¼ì˜ rowë§Œ ê°€ì ¸ì˜´
df

    ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
0  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85      Python
1  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25        Java
2  ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75   70  80  75  Javascript
3  ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60   70  75  80         NaN

In [19]:
df = pd.read_csv('score.csv', skiprows=2, nrows=4) # ì²˜ìŒ 2 row ë¬´ì‹œ, 4 rowë§Œ ë“¤ê³ ì˜´
df

   ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40   35  50  55  25        Java
0  ì†¡íƒœì„­  ë¶ì‚°ê³   168  80   75  70  80  75  Javascript
1  ì„œíƒœì›…  ë¶ì‚°ê³   187  40   60  70  75  80         NaN
2  ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15   20  10  35  10         NaN
3  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202  80  100  95  85  80           C

### âœ… í…ìŠ¤íŠ¸(.txt)ë¡œ ì—´ê¸°
: ```pd.read_csv('íŒŒì¼ëª….txt', sep='\t', index_col='column')```

In [22]:
df = pd.read_csv('score.txt', sep='\t') # tapì„ ê¸°ì¤€ìœ¼ë¡œ ì—´ê¸°
df

  ì§€ì›ë²ˆí˜¸   ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
0   1ë²ˆ  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
1   2ë²ˆ  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
2   3ë²ˆ  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
3   4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
4   5ë²ˆ  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
5   6ë²ˆ  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
6   7ë²ˆ  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
7   8ë²ˆ  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [23]:
df = pd.read_csv('score.txt', sep='\t', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [25]:
df = pd.read_excel('score.xlsx')
df

  ì§€ì›ë²ˆí˜¸   ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
0   1ë²ˆ  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
1   2ë²ˆ  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
2   3ë²ˆ  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
3   4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
4   5ë²ˆ  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
5   6ë²ˆ  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
6   7ë²ˆ  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
7   8ë²ˆ  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [26]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#