## ğŸ“ ì €ì¥

### âœ… DataFrame ê°ì²´ ìƒì„±
: ```pd.DataFrame({data, index=[index_list]})```

In [1]:
import pandas as pd

data = {
    'ì´ë¦„' : ['ì±„ì¹˜ìˆ˜', 'ì •ëŒ€ë§Œ', 'ì†¡íƒœì„­', 'ì„œíƒœì›…', 'ê°•ë°±í˜¸', 'ë³€ë•ê·œ', 'í™©íƒœì‚°', 'ìœ¤ëŒ€í˜‘'],
    'í•™êµ' : ['ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ë¶ì‚°ê³ ', 'ëŠ¥ë‚¨ê³ ', 'ëŠ¥ë‚¨ê³ ', 'ëŠ¥ë‚¨ê³ '],
    'í‚¤' : [197, 184, 168, 187, 188, 202, 188, 190],
    'êµ­ì–´' : [90, 40, 80, 40, 15, 80, 55, 100],
    'ì˜ì–´' : [85, 35, 75, 60, 20, 100, 65, 85],
    'ìˆ˜í•™' : [100, 50, 70, 70, 10, 95, 45, 90],
    'ê³¼í•™' : [95, 55, 80, 75, 35, 85, 40, 95],
    'ì‚¬íšŒ' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SWíŠ¹ê¸°' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
}
df = pd.DataFrame(data, index=['1ë²ˆ', '2ë²ˆ', '3ë²ˆ', '4ë²ˆ', '5ë²ˆ', '6ë²ˆ', '7ë²ˆ', '8ë²ˆ']) # index ì„¤ì •
df.index.name='ì§€ì›ë²ˆí˜¸' # index_name ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… csvë¡œ ì €ì¥
: ```df.to_csv('íŒŒì¼ëª….csv', encoding='utf8', index=True/False)```\
  index=True(defalutê°’)ì¼ ê²½ìš° indexê°€ ë³„ë„ì˜ ì¹¼ëŸ¼ìœ¼ë¡œ ì €ì¥(ê°€ê¸‰ì  index=Falseë¡œ ì§€ì •)

In [2]:
df.to_csv('score.csv') # txtë¡œ ì˜ë³´ì´ì§€ë§Œ excelë¡œëŠ” í•œê¸€ ê¹¨ì ¸ë³´ì„

In [3]:
df.to_csv('score.csv', encoding='utf8') # excelë„ ê¹¨ì§€ì§€ ì•Šê²Œ ë¨

In [4]:
df.to_csv('score.csv', encoding='utf8', index=False) # index ì œì™¸í•˜ê³  ì €ì¥

### âœ… í…ìŠ¤íŠ¸(.txt)ë¡œ ì €ì¥
: ```df.to_csv('íŒŒì¼ëª….txt', sep='\t')```

In [5]:
df.to_csv('score.txt', sep='\t') # tapìœ¼ë¡œ êµ¬ë¶„ëœ txtíŒŒì¼ë¡œ ì €ì¥

### âœ… ì—‘ì…€ë¡œ ì €ì¥
: ```df.to_excel('íŒŒì¼ëª….xlsx', index=True/False, sheet_name='sheet_name')```\
  sheet_nameì„ ì§€ì •í•˜ì—¬ ì €ì¥í•  ì‹œíŠ¸ì˜ ì´ë¦„ ë³€ê²½ ê°€ëŠ¥

In [6]:
df.to_excel('score.xlsx')

In [7]:
df.to_excel('score.xlsx', index=False)

In [8]:
df.to_excel('score.xlsx', index=True, sheet_name='ìƒ˜í”Œ')

### âœ… ì—‘ì…€ë¡œ ì €ì¥(ì—¬ëŸ¬ê°œì˜ ì‹œíŠ¸)
: ```writer=pd.ExcelWriter('íŒŒì¼ëª….xlsx')```\
```df.to_excel(writer, index=True/False, sheet_name='sheet_name')```\
```writer.close()```

In [9]:
writer = pd.ExcelWriter('score_mult.xlsx')
df.to_excel(writer, index=False, sheet_name='ìƒ˜í”Œ1')
df.to_excel(writer, index=False, sheet_name='ìƒ˜í”Œ2')
df.to_excel(writer, index=False, sheet_name='ìƒ˜í”Œ3')
writer.close()

# ğŸ“ ì—´ê¸°
### âœ… csvë¡œ ì—´ê¸°
: ```pd.read_csv('íŒŒì¼ëª….csv', skiprows=ì‚­ì œí• rowê°¯ìˆ˜ / [row_list], nrows=ë¶ˆëŸ¬ì˜¬rowê°¯ìˆ˜)```

In [10]:
df = pd.read_csv('score.csv')
df

    ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
0  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
1  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
2  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
3  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
4  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
5  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
6  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
7  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [11]:
df = pd.read_csv('score.csv', skiprows=1) # 1ê°œ rowë¥¼ ìŠ¤í‚µ
df

   ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85.1      Python
0  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55    25        Java
1  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80    75  Javascript
2  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75    80         NaN
3  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35    10         NaN
4  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85    80           C
5  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40    35      PYTHON
6  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95    95          C#

In [12]:
df = pd.read_csv('score.csv', skiprows=[1, 3, 5]) # 1, 3, 5 row ì œì™¸
df

    ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
0  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35  50  55  25    Java
1  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60  70  75  80     NaN
2  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100  95  85  80       C
3  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65  45  40  35  PYTHON
4  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85  90  95  95      C#

In [13]:
df = pd.read_csv('score.csv', nrows=4) # ì§€ì •ëœ ê°¯ìˆ˜ë§Œí¼ì˜ rowë§Œ ê°€ì ¸ì˜´
df

    ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
0  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85      Python
1  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25        Java
2  ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75   70  80  75  Javascript
3  ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60   70  75  80         NaN

In [14]:
df = pd.read_csv('score.csv', skiprows=2, nrows=4) # ì²˜ìŒ 2 row ë¬´ì‹œ, 4 rowë§Œ ë“¤ê³ ì˜´
df

   ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40   35  50  55  25        Java
0  ì†¡íƒœì„­  ë¶ì‚°ê³   168  80   75  70  80  75  Javascript
1  ì„œíƒœì›…  ë¶ì‚°ê³   187  40   60  70  75  80         NaN
2  ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15   20  10  35  10         NaN
3  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202  80  100  95  85  80           C

### âœ… csvë¡œ ì—´ê¸°(í° ë°ì´í„°ì˜ íŒŒì¼)
: ```pd.read_csv('íŒŒì¼ëª….csv', chunksize=int)```\
  ë°ì´í„°ì˜ í¬ê¸°ê°€ ë§¤ìš° í° ê²½ìš° memoryì— í•œë²ˆì— ë¡œë“œí•  ìˆ˜ ì—†ìŒ\
  chunksizeë¥¼ ì§€ì •í•˜ê³  chunksizeë§Œí¼ ëŠì–´ ë¶ˆëŸ¬ì™€ì„œ ì²˜ë¦¬

In [15]:
df = pd.read_csv('seoul_population.csv', nrows=10, chunksize=5)
for d in df:
    display(d)

,ì—°ë„,ìì¹˜êµ¬,ì„¸ëŒ€ìˆ˜,ì¸êµ¬ í•©ê³„,ë‚¨ì ì¸êµ¬ í•©ê³„,ì—¬ì ì¸êµ¬ í•©ê³„,í•œêµ­ì¸ ì¸êµ¬ í•©ê³„,í•œêµ­ì¸ ë‚¨ì ì¸êµ¬ìˆ˜,í•œêµ­ì¸ ì—¬ì ì¸êµ¬ìˆ˜,ë“±ë¡ ì™¸êµ­ì¸ ì¸êµ¬ í•©ê³„,ë“±ë¡ ì™¸êµ­ì¸ ì¸êµ¬ ë‚¨ììˆ˜,ë“±ë¡ ì™¸êµ­ì¸ ì¸êµ¬ ì—¬ììˆ˜,ì„¸ëŒ€ë‹¹ ì¸êµ¬,65ì„¸ ì´ìƒ ê³ ë ¹ì ìˆ˜
0,2020,í•©ê³„,"4,417,954","9,911,088","4,816,522","5,094,566","9,668,465","4,701,723","4,966,742","242,623","114,799","127,824",2.19,"1,568,331"
1,2020,ì¢…ë¡œêµ¬,"75,003","158,996","76,876","82,120","149,384","72,635","76,749","9,612","4,241","5,371",1.99,"28,507"
2,2020,ì¤‘êµ¬,"63,686","134,635","65,776","68,859","125,240","61,222","64,018","9,395","4,554","4,841",1.97,"24,495"
3,2020,ìš©ì‚°êµ¬,"113,093","244,645","118,835","125,810","230,040","110,722","119,318","14,605","8,113","6,492",2.03,"40,247"
4,2020,ì„±ë™êµ¬,"135,870","300,505","146,424","154,081","293,556","143,387","150,169","6,949","3,037","3,912",2.16,"45,603"

,ì—°ë„,ìì¹˜êµ¬,ì„¸ëŒ€ìˆ˜,ì¸êµ¬ í•©ê³„,ë‚¨ì ì¸êµ¬ í•©ê³„,ì—¬ì ì¸êµ¬ í•©ê³„,í•œêµ­ì¸ ì¸êµ¬ í•©ê³„,í•œêµ­ì¸ ë‚¨ì ì¸êµ¬ìˆ˜,í•œêµ­ì¸ ì—¬ì ì¸êµ¬ìˆ˜,ë“±ë¡ ì™¸êµ­ì¸ ì¸êµ¬ í•©ê³„,ë“±ë¡ ì™¸êµ­ì¸ ì¸êµ¬ ë‚¨ììˆ˜,ë“±ë¡ ì™¸êµ­ì¸ ì¸êµ¬ ì—¬ììˆ˜,ì„¸ëŒ€ë‹¹ ì¸êµ¬,65ì„¸ ì´ìƒ ê³ ë ¹ì ìˆ˜
5,2020,ê´‘ì§„êµ¬,"167,427","360,109","173,000","187,109","346,682","167,310","179,372","13,427","5,690","7,737",2.07,"50,560"
6,2020,ë™ëŒ€ë¬¸êµ¬,"167,598","357,014","175,322","181,692","342,837","169,769","173,068","14,177","5,553","8,624",2.05,"61,796"
7,2020,ì¤‘ë‘êµ¬,"185,920","399,562","197,118","202,444","394,702","195,165","199,537","4,860","1,953","2,907",2.12,"69,447"
8,2020,ì„±ë¶êµ¬,"195,396","447,056","214,658","232,398","437,153","210,810","226,343","9,903","3,848","6,055",2.24,"73,770"
9,2020,ê°•ë¶êµ¬,"145,896","311,569","151,466","160,103","308,055","150,143","157,912","3,514","1,323","2,191",2.11,"63,422"

### âœ… í…ìŠ¤íŠ¸(.txt)ë¡œ ì—´ê¸°
: ```pd.read_csv('íŒŒì¼ëª….txt', sep='\t', index_col='column')```

In [16]:
df = pd.read_csv('score.txt', sep='\t') # tapì„ ê¸°ì¤€ìœ¼ë¡œ ì—´ê¸°
df

  ì§€ì›ë²ˆí˜¸   ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
0   1ë²ˆ  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
1   2ë²ˆ  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
2   3ë²ˆ  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
3   4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
4   5ë²ˆ  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
5   6ë²ˆ  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
6   7ë²ˆ  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
7   8ë²ˆ  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [17]:
df = pd.read_csv('score.txt', sep='\t', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [18]:
df = pd.read_excel('score.xlsx')
df

  ì§€ì›ë²ˆí˜¸   ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
0   1ë²ˆ  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
1   2ë²ˆ  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
2   3ë²ˆ  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
3   4ë²ˆ  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
4   5ë²ˆ  ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
5   6ë²ˆ  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
6   7ë²ˆ  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
7   8ë²ˆ  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [19]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… ì—‘ì…€ë¡œ ì—´ê¸°(ì—¬ëŸ¬ê°œì˜ ì‹œíŠ¸)
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column', sheet_name='sheet_name'/None)```\
```sheet_name=None```ìœ¼ë¡œ ì§€ì •í•˜ì—¬ ëª¨ë“  sheet ë¶ˆëŸ¬ì˜¤ê¸° ê°€ëŠ¥(OrderDictë¡œ ë¶ˆëŸ¬ì˜´)

In [20]:
excel = pd.read_excel('seoul_transportation.xlsx', sheet_name='ì² ë„', engine='openpyxl')
excel

    ëŒ€ì¤‘êµí†µêµ¬ë¶„    ë…¸ì„ ëª…      ë…„ì›”   ìŠ¹ì°¨ì´ìŠ¹ê°ìˆ˜
0      ì§€í•˜ì²     1í˜¸ì„   201711  8633618
1      ì§€í•˜ì²     1í˜¸ì„   201712  8737235
2      ì§€í•˜ì²     1í˜¸ì„   201801  8145989
3      ì§€í•˜ì²     1í˜¸ì„   201802  7273309
4      ì§€í•˜ì²     1í˜¸ì„   201803  8692551
..     ...    ...     ...      ...
596    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201901  1263643
597    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201902  1102109
598    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201903  1402393
599    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201904  1403115
600    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201905  1469681

[601 rows x 4 columns]

In [21]:
excel = pd.read_excel('seoul_transportation.xlsx', sheet_name=None, engine='openpyxl')
excel

{'ì² ë„':     ëŒ€ì¤‘êµí†µêµ¬ë¶„    ë…¸ì„ ëª…      ë…„ì›”   ìŠ¹ì°¨ì´ìŠ¹ê°ìˆ˜
 0      ì§€í•˜ì²     1í˜¸ì„   201711  8633618
 1      ì§€í•˜ì²     1í˜¸ì„   201712  8737235
 2      ì§€í•˜ì²     1í˜¸ì„   201801  8145989
 3      ì§€í•˜ì²     1í˜¸ì„   201802  7273309
 4      ì§€í•˜ì²     1í˜¸ì„   201803  8692551
 ..     ...    ...     ...      ...
 596    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201901  1263643
 597    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201902  1102109
 598    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201903  1402393
 599    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201904  1403115
 600    ì§€í•˜ì²   ìš°ì´ì‹ ì„¤ì„   201905  1469681

 [601 rows x 4 columns],
 'ë²„ìŠ¤':    ëŒ€ì¤‘êµí†µêµ¬ë¶„      ë…„ì›”     ìŠ¹ì°¨ì´ìŠ¹ê°ìˆ˜
 0      ë²„ìŠ¤  201711  163443126
 1      ë²„ìŠ¤  201712  162521011
 2      ë²„ìŠ¤  201801  153335185
 3      ë²„ìŠ¤  201802  134768582
 4      ë²„ìŠ¤  201803  166177855
 5      ë²„ìŠ¤  201804  160452595
 6      ë²„ìŠ¤  201805  164390595
 7      ë²„ìŠ¤  201806  156999747
 8      ë²„ìŠ¤  201807  163736112
 9      ë²„ìŠ¤  201808  160240197
 10     ë²„ìŠ¤  201809  151311657
 11     ë²„ìŠ¤  201810  165820934
 12     ë²„ìŠ¤  201811  163017758
 13     ë²„ìŠ¤  201812  158049446
 14     ë²„ìŠ¤  201901  153037549
 15     ë²„ìŠ¤  201902  131621925
 16     ë²„ìŠ¤  201903  161694445
 17     ë²„ìŠ¤  201904  161900273
 18     ë²„ìŠ¤  201905  166587933}

: ```df.keys()```\
  ì‹œíŠ¸ëª… ì¡°íšŒ

In [22]:
excel.keys()

dict_keys(['ì² ë„', 'ë²„ìŠ¤'])

In [23]:
excel['ë²„ìŠ¤'].head()

  ëŒ€ì¤‘êµí†µêµ¬ë¶„      ë…„ì›”     ìŠ¹ì°¨ì´ìŠ¹ê°ìˆ˜
0     ë²„ìŠ¤  201711  163443126
1     ë²„ìŠ¤  201712  162521011
2     ë²„ìŠ¤  201801  153335185
3     ë²„ìŠ¤  201802  134768582
4     ë²„ìŠ¤  201803  166177855