# ğŸ“ DataFrame ë°ì´í„° í™•ì¸
### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… describe()
: ë°ì´í„°ì— ëŒ€í•œ í†µê³„ìš”ì•½ì •ë³´ ì œê³µ
- count : ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë°ì´í„° ê°¯ìˆ˜
- mean : í‰ê· ê°’
- std : í‘œì¤€í¸ì°¨
- min : ìµœì†Ÿê°’
- 25% : 1ì‚¬ë¶„ìœ„ìˆ˜
- 50% : 2ì‚¬ë¶„ìœ„ìˆ˜(ì¤‘ì•™ê°’)
- 75% : 3ì‚¬ë¶„ìœ„ìˆ˜
- max : ìµœëŒ“ê°’

In [2]:
df.describe()

                í‚¤          êµ­ì–´          ì˜ì–´          ìˆ˜í•™         ê³¼í•™         ì‚¬íšŒ
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

: ```df.describe(include='object')```\
  categorical column (ë¬¸ìì—´ ì¹¼ëŸ¼) ìš”ì•½ í†µê³„ í™•ì¸ ê°€ëŠ¥

In [3]:
df.describe(include='object')
# unique(ê³ ìœ ê°’) : ex. ë¶ì‚°ê³ , ëŠ¥ë‚¨ê³  ë“±)

         ì´ë¦„   í•™êµ    SWíŠ¹ê¸°
count     8    8       6
unique    8    2       6
top     ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   Python
freq      1    5       1

### âœ… info()
: ë°ì´í„°ì˜ ê° íŠ¹ì„±ì— ëŒ€í•œ ì „ë°˜ì ì¸ ì •ë³´ í™•ì¸

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1ë²ˆ to 8ë²ˆ
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      8 non-null      object
 1   í•™êµ      8 non-null      object
 2   í‚¤       8 non-null      int64
 3   êµ­ì–´      8 non-null      int64
 4   ì˜ì–´      8 non-null      int64
 5   ìˆ˜í•™      8 non-null      int64
 6   ê³¼í•™      8 non-null      int64
 7   ì‚¬íšŒ      8 non-null      int64
 8   SWíŠ¹ê¸°    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

### âœ… head(n)
: ìƒìœ„ nê°œì˜ ë°ì´í„°í”„ë ˆì„ í™•ì¸

In [5]:
df.head() # defaultê°’ì€ 5

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15  20   10  35  10         NaN

In [6]:
df.head(7)

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202  80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  55   65   45  40  35      PYTHON

### âœ… tail(n)
: í•˜ìœ„ nê°œì˜ ë°ì´í„°í”„ë ˆì„ í™•ì¸

In [7]:
df.tail() # defaultê°’ì€ 5

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60  70  75  80     NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20  10  35  10     NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100  95  85  80       C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65  45  40  35  PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85  90  95  95      C#

In [8]:
df.tail(3)

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100  95  85  80       C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65  45  40  35  PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85  90  95  95      C#

### âœ… values
: ë°ì´í„°í”„ë ˆì„ê°’ ì¶”ì¶œ\
  ë°˜í™˜íƒ€ì…ì€ numpy array

In [9]:
df.values

array([['ì±„ì¹˜ìˆ˜', 'ë¶ì‚°ê³ ', 197, 90, 85, 100, 95, 85, 'Python'],
       ['ì •ëŒ€ë§Œ', 'ë¶ì‚°ê³ ', 184, 40, 35, 50, 55, 25, 'Java'],
       ['ì†¡íƒœì„­', 'ë¶ì‚°ê³ ', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['ì„œíƒœì›…', 'ë¶ì‚°ê³ ', 187, 40, 60, 70, 75, 80, nan],
       ['ê°•ë°±í˜¸', 'ë¶ì‚°ê³ ', 188, 15, 20, 10, 35, 10, nan],
       ['ë³€ë•ê·œ', 'ëŠ¥ë‚¨ê³ ', 202, 80, 100, 95, 85, 80, 'C'],
       ['í™©íƒœì‚°', 'ëŠ¥ë‚¨ê³ ', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['ìœ¤ëŒ€í˜‘', 'ëŠ¥ë‚¨ê³ ', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)

### âœ… index
: ë°ì´í„°í”„ë ˆì„ index ì¶”ì¶œ

In [10]:
df.index

Index(['1ë²ˆ', '2ë²ˆ', '3ë²ˆ', '4ë²ˆ', '5ë²ˆ', '6ë²ˆ', '7ë²ˆ', '8ë²ˆ'], dtype='object', name='ì§€ì›ë²ˆí˜¸')

### âœ… columns
: ë°ì´í„°í”„ë ˆì„ columns ì¶”ì¶œ

In [11]:
df.columns

Index(['ì´ë¦„', 'í•™êµ', 'í‚¤', 'êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™', 'ì‚¬íšŒ', 'SWíŠ¹ê¸°'], dtype='object')

### âœ… shape
: (í–‰, ì—´) íŠœí”Œí˜•íƒœë¡œ ì¶œë ¥

In [12]:
df.shape # row, column

(8, 9)

### âœ… astype
: int32, float32, str(object), category ë“±ìœ¼ë¡œ type ë³€ê²½

In [13]:
df.dtypes

ì´ë¦„      object
í•™êµ      object
í‚¤        int64
êµ­ì–´       int64
ì˜ì–´       int64
ìˆ˜í•™       int64
ê³¼í•™       int64
ì‚¬íšŒ       int64
SWíŠ¹ê¸°    object
dtype: object

In [14]:
df['í•™êµ'] = df['í•™êµ'].astype('category')
df['í•™êµ'].head()

ì§€ì›ë²ˆí˜¸
1ë²ˆ    ë¶ì‚°ê³
2ë²ˆ    ë¶ì‚°ê³
3ë²ˆ    ë¶ì‚°ê³
4ë²ˆ    ë¶ì‚°ê³
5ë²ˆ    ë¶ì‚°ê³
Name: í•™êµ, dtype: category
Categories (2, object): ['ëŠ¥ë‚¨ê³ ', 'ë¶ì‚°ê³ ']

### âœ… cat
: ```df.cat.codes```\
  ì¹´í…Œê³ ë¦¬ë¥¼ ìˆ«ì(index)ë¡œ ë³€í™˜

In [15]:
df['í•™êµ'].cat.codes

ì§€ì›ë²ˆí˜¸
1ë²ˆ    1
2ë²ˆ    1
3ë²ˆ    1
4ë²ˆ    1
5ë²ˆ    1
6ë²ˆ    0
7ë²ˆ    0
8ë²ˆ    0
dtype: int8

: ```df.cat.categories```\
  ìˆ«ìë¡œ ë³€í™˜ëœ ì¹´í…Œê³ ë¦¬ ëª©ë¡ì„ indexìˆœìœ¼ë¡œ í™•ì¸ ê°€ëŠ¥

In [16]:
[df['í•™êµ'].cat.categories]

[Index(['ëŠ¥ë‚¨ê³ ', 'ë¶ì‚°ê³ '], dtype='object')]

: ```df.cat.rename_categories([rename_list])```\
  ì¹´í…Œê³ ë¦¬ì˜ ì´ë¦„ì„ ì¬ì§€ì •

In [17]:
df['í•™êµ'] = df['í•™êµ'].cat.rename_categories([g for g in df['í•™êµ'].cat.categories])
df['í•™êµ'].value_counts()

í•™êµ
ë¶ì‚°ê³     5
ëŠ¥ë‚¨ê³     3
Name: count, dtype: int64

### âœ… numerical(ìˆ˜ì¹˜í˜•) type ë³€í™˜
: ```pd.to_numeric(df, errors)```\
  NaNê°’ì´ë‚˜ ìˆ«ìë¡œ ë³€í™˜ì´ ë¶ˆê°€ëŠ¥í•œ ë¬¸ìì—´ì´ ì¡´ì¬í•  ë•Œ error ë°œìƒ
- errors='raise' : ì—ëŸ¬ë¥¼ ì¼ìœ¼í‚¤ë©° ì½”ë“œë¥¼ ì¤‘ë‹¨(defaultê°’)
- errors='coerce' : ì˜ëª»ëœ ë¬¸ìì—´ì€ NaNê°’ìœ¼ë¡œ ì¹˜í™˜
- errors='ignore' : ì˜ëª»ëœ ë¬¸ìì—´ì€ ë³€í™˜ ë˜ì§€ ì•Šê³  ë¬´ì‹œ\
    ë”°ë¼ì„œ ì „ì²´ ì»¬ëŸ¼ì˜ dtypeì€ objectë¡œ ë‚¨ì•„ìˆìŒ

In [18]:
df = pd.read_csv('seoul_bicycle.csv')
df.head()

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬ì†Œëª…,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì´ìš©ì‹œê°„
0,Jan-20-2020,3,ì¤‘ë‘ì„¼í„°,ì¼ì¼(íšŒì›),M,AGE_003,3,61.82,0.52,2230.0,75
1,Jan-20-2020,3,ì¤‘ë‘ì„¼í„°,ì¼ì¼(íšŒì›),M,AGE_004,1,39.62,0.28,1220.0,15
2,Jan-20-2020,3,ì¤‘ë‘ì„¼í„°,ì •ê¸°,M,AGE_005,3,430.85,4.01,17270.0,53
3,Jan-20-2020,5,ìƒì•”ì„¼í„° ì •ë¹„ì‹¤,ì¼ì¼(íšŒì›),\N,AGE_005,2,1.79,0.02,90.0,33
4,Jan-20-2020,5,ìƒì•”ì„¼í„° ì •ë¹„ì‹¤,ì •ê¸°,F,AGE_003,1,4501.96,45.47,196010.0,64

In [19]:
# ìš´ë™ëŸ‰ì€ ìˆ˜ì¹˜í˜• columnìœ¼ë¡œ ë³´ì´ì§€ë§Œ object typeì„
df['ìš´ë™ëŸ‰'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 327231 entries, 0 to 327230
Series name: ìš´ë™ëŸ‰
Non-Null Count   Dtype
--------------   -----
327231 non-null  object
dtypes: object(1)
memory usage: 2.5+ MB

In [20]:
pd.to_numeric(df['ìš´ë™ëŸ‰'])

ValueError: Unable to parse string "\N" at position 2344

In [21]:
# 2344 positionì—ì„œ ì—ëŸ¬
df.loc[2344]

ëŒ€ì—¬ì¼ì      Jan-20-2020
ëŒ€ì—¬ì†Œë²ˆí˜¸             165
ëŒ€ì—¬ì†Œëª…      165. ì¤‘ì•™ê·¼ë¦°ê³µì›
ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ         ì¼ì¼(íšŒì›)
ì„±ë³„                 \N
ì—°ë ¹ëŒ€ì½”ë“œ         AGE_003
ì´ìš©ê±´ìˆ˜                1
ìš´ë™ëŸ‰                \N
íƒ„ì†ŒëŸ‰                \N
ì´ë™ê±°ë¦¬              0.0
ì´ìš©ì‹œê°„               40
Name: 2344, dtype: object

In [22]:
pd.to_numeric(df['ìš´ë™ëŸ‰'], errors='ignore')

0           61.82
1           39.62
2          430.85
3            1.79
4         4501.96
           ...
327226     689.57
327227          0
327228      19.96
327229      43.77
327230    4735.63
Name: ìš´ë™ëŸ‰, Length: 327231, dtype: object

In [23]:
# error ë¬´ì‹œ
pd.to_numeric(df['ìš´ë™ëŸ‰'], errors='ignore').loc[2344]

'\\N'

In [24]:
df['ìš´ë™ëŸ‰']=pd.to_numeric(df['ìš´ë™ëŸ‰'], errors='coerce')
df['ìš´ë™ëŸ‰']

0           61.82
1           39.62
2          430.85
3            1.79
4         4501.96
           ...
327226     689.57
327227       0.00
327228      19.96
327229      43.77
327230    4735.63
Name: ìš´ë™ëŸ‰, Length: 327231, dtype: float64

In [25]:
# nanìœ¼ë¡œ ì¹˜í™˜
pd.to_numeric(df['ìš´ë™ëŸ‰'], errors='coerce').loc[2344]

nan

### âœ… pd.cut
: ìˆ˜ì¹˜ë¡œ êµ¬ê°„ ë‚˜ëˆ„ê¸°(binning)\
  ì—°ì†ëœ ìˆ˜ì¹˜ë¥¼ êµ¬ê°„ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ì¹´í…Œê³ ë¦¬í™”í•  ë•Œ ì‚¬ìš©\
  ```pd.cut(df, bins=[bins_list] / int, labels=[labels_list], right=True/False)```
- binsëŠ” ë²”ìœ„ë¦¬ìŠ¤íŠ¸ ë˜ëŠ” bin ê°¯ìˆ˜ ì§€ì •
- labelsëŠ” ì§€ì •í•œ binsì˜ ê°œìˆ˜ë³´ë‹¤ 1ê°œ ì ì–´ì•¼ í•¨

In [26]:
# right=Falseë¡œ ì§€ì •ì‹œ ìš°ì¸¡ ë²”ìœ„ë¥¼ í¬í•¨í•˜ì§€ ì•ŠìŒ
bins = [0, 200, 400, df['ìš´ë™ëŸ‰'].max()]
labels = ['ìš´ë™ë¶€ì¡±', 'ë³´í†µ', 'ë§ìŒ']
pd.cut(df['ìš´ë™ëŸ‰'], bins, labels=labels, right=False)

0         ìš´ë™ë¶€ì¡±
1         ìš´ë™ë¶€ì¡±
2           ë§ìŒ
3         ìš´ë™ë¶€ì¡±
4           ë§ìŒ
          ...
327226      ë§ìŒ
327227    ìš´ë™ë¶€ì¡±
327228    ìš´ë™ë¶€ì¡±
327229    ìš´ë™ë¶€ì¡±
327230      ë§ìŒ
Name: ìš´ë™ëŸ‰, Length: 327231, dtype: category
Categories (3, object): ['ìš´ë™ë¶€ì¡±' < 'ë³´í†µ' < 'ë§ìŒ']

In [27]:
# valueê°’ ê¸°ì¤€ bins ì§€ì •ìˆ˜ë§Œí¼ êµ¬ê°„ì„ ë‚˜ëˆ”
df['ìš´ë™ëŸ‰_cut'] = pd.cut(df['ìš´ë™ëŸ‰'].values, bins=10)

In [28]:
df['ìš´ë™ëŸ‰_cut'].value_counts()

ìš´ë™ëŸ‰_cut
(-163936.052, 16393605.23]      326816
(98361631.38, 114755236.61]          9
(32787210.46, 49180815.69]           2
(16393605.23, 32787210.46]           1
(114755236.61, 131148841.84]         1
(147542447.07, 163936052.3]          1
(49180815.69, 65574420.92]           0
(65574420.92, 81968026.15]           0
(81968026.15, 98361631.38]           0
(131148841.84, 147542447.07]         0
Name: count, dtype: int64

### âœ… pd.qcut()
: ë™ì¼í•œ ê°œìˆ˜ë¥¼ ê°–ë„ë¡ êµ¬ê°„ ë¶„í• \
  quantity ì¦‰ ë°ì´í„°ì˜ ë¶„í¬ë¥¼ ìµœëŒ€í•œ ë¹„ìŠ·í•˜ê²Œ ìœ ì§€\
  ```pd.qcut(df, q=int, qcut_bins=[bins_list], labels=[labels_list])```

In [29]:
# q ì§€ì •ìˆ˜ë§Œí¼ ë™ì¼í•œ ê°œìˆ˜ë¥¼ ê°–ë„ë¡ êµ¬ê°„ ë¶„í• 
df['ìš´ë™ëŸ‰_qcut'] = pd.qcut(df['ìš´ë™ëŸ‰'], q=10)

In [30]:
df['ìš´ë™ëŸ‰_qcut'].value_counts()

ìš´ë™ëŸ‰_qcut
(93.414, 192.02]           32690
(-0.001, 24.737]           32683
(24.737, 93.414]           32683
(601.705, 1079.744]        32683
(1079.744, 1889.606]       32683
(1889.606, 3328.186]       32683
(3328.186, 6805.188]       32683
(6805.188, 163936052.3]    32683
(344.45, 601.705]          32680
(192.02, 344.45]           32679
Name: count, dtype: int64

In [31]:
# ë¶„ìœ„ë¡œ ë‚˜ëˆ”
qcut_bins = [0, 0.2, 0.8, 1]
qcut_labels = ['ì ìŒ', 'ë³´í†µ', 'ë§ìŒ']
pd.qcut(df['ìš´ë™ëŸ‰'], qcut_bins, labels=qcut_labels).value_counts()

ìš´ë™ëŸ‰
ë³´í†µ    196098
ì ìŒ     65366
ë§ìŒ     65366
Name: count, dtype: int64

# ğŸ“ Series ë°ì´í„° í™•ì¸
### âœ… describe()
: ë°ì´í„°ì— ëŒ€í•œ í†µê³„ìš”ì•½ì •ë³´ ì œê³µ
- count : ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë°ì´í„° ê°¯ìˆ˜
- mean : í‰ê· ê°’
- std : í‘œì¤€í¸ì°¨
- min : ìµœì†Ÿê°’
- 25% : 1ì‚¬ë¶„ìœ„ìˆ˜
- 50% : 2ì‚¬ë¶„ìœ„ìˆ˜(ì¤‘ì•™ê°’)
- 75% : 3ì‚¬ë¶„ìœ„ìˆ˜
- max : ìµœëŒ“ê°’

In [33]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
df['í‚¤'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: í‚¤, dtype: float64