# ğŸ“ DataFrame ë°ì´í„° í™•ì¸
### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… describe()
: ë°ì´í„°ì— ëŒ€í•œ í†µê³„ìš”ì•½ì •ë³´ ì œê³µ
- count : ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë°ì´í„° ê°¯ìˆ˜
- mean : í‰ê· ê°’
- std : í‘œì¤€í¸ì°¨
- min : ìµœì†Ÿê°’
- 25% : 1ì‚¬ë¶„ìœ„ìˆ˜
- 50% : 2ì‚¬ë¶„ìœ„ìˆ˜(ì¤‘ì•™ê°’)
- 75% : 3ì‚¬ë¶„ìœ„ìˆ˜
- max : ìµœëŒ“ê°’

In [2]:
df.describe()

                í‚¤          êµ­ì–´          ì˜ì–´          ìˆ˜í•™         ê³¼í•™         ì‚¬íšŒ
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

: ```df.describe(include='object')```\
  categorical column (ë¬¸ìì—´ ì¹¼ëŸ¼) ìš”ì•½ í†µê³„ í™•ì¸ ê°€ëŠ¥

In [3]:
df.describe(include='object')
# unique(ê³ ìœ ê°’) : ex. ë¶ì‚°ê³ , ëŠ¥ë‚¨ê³  ë“±)

         ì´ë¦„   í•™êµ    SWíŠ¹ê¸°
count     8    8       6
unique    8    2       6
top     ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   Python
freq      1    5       1

### âœ… info()
: ë°ì´í„°ì˜ ê° íŠ¹ì„±ì— ëŒ€í•œ ì „ë°˜ì ì¸ ì •ë³´ í™•ì¸

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1ë²ˆ to 8ë²ˆ
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì´ë¦„      8 non-null      object
 1   í•™êµ      8 non-null      object
 2   í‚¤       8 non-null      int64
 3   êµ­ì–´      8 non-null      int64
 4   ì˜ì–´      8 non-null      int64
 5   ìˆ˜í•™      8 non-null      int64
 6   ê³¼í•™      8 non-null      int64
 7   ì‚¬íšŒ      8 non-null      int64
 8   SWíŠ¹ê¸°    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 640.0+ bytes

### âœ… head(n)
: ìƒìœ„ nê°œì˜ ë°ì´í„°í”„ë ˆì„ í™•ì¸

In [5]:
df.head() # defaultê°’ì€ 5

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15  20   10  35  10         NaN

In [6]:
df.head(7)

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202  80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  55   65   45  40  35      PYTHON

### âœ… tail(n)
: í•˜ìœ„ nê°œì˜ ë°ì´í„°í”„ë ˆì„ í™•ì¸

In [7]:
df.tail() # defaultê°’ì€ 5

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60  70  75  80     NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20  10  35  10     NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100  95  85  80       C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65  45  40  35  PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85  90  95  95      C#

In [8]:
df.tail(3)

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100  95  85  80       C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65  45  40  35  PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85  90  95  95      C#

### âœ… values
: ë°ì´í„°í”„ë ˆì„ê°’ ì¶”ì¶œ\
  ë°˜í™˜íƒ€ì…ì€ numpy array

In [9]:
df.values

array([['ì±„ì¹˜ìˆ˜', 'ë¶ì‚°ê³ ', 197, 90, 85, 100, 95, 85, 'Python'],
       ['ì •ëŒ€ë§Œ', 'ë¶ì‚°ê³ ', 184, 40, 35, 50, 55, 25, 'Java'],
       ['ì†¡íƒœì„­', 'ë¶ì‚°ê³ ', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['ì„œíƒœì›…', 'ë¶ì‚°ê³ ', 187, 40, 60, 70, 75, 80, nan],
       ['ê°•ë°±í˜¸', 'ë¶ì‚°ê³ ', 188, 15, 20, 10, 35, 10, nan],
       ['ë³€ë•ê·œ', 'ëŠ¥ë‚¨ê³ ', 202, 80, 100, 95, 85, 80, 'C'],
       ['í™©íƒœì‚°', 'ëŠ¥ë‚¨ê³ ', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['ìœ¤ëŒ€í˜‘', 'ëŠ¥ë‚¨ê³ ', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)

### âœ… index
: ë°ì´í„°í”„ë ˆì„ index ì¶”ì¶œ

In [10]:
df.index

Index(['1ë²ˆ', '2ë²ˆ', '3ë²ˆ', '4ë²ˆ', '5ë²ˆ', '6ë²ˆ', '7ë²ˆ', '8ë²ˆ'], dtype='object', name='ì§€ì›ë²ˆí˜¸')

### âœ… columns
: ë°ì´í„°í”„ë ˆì„ columns ì¶”ì¶œ

In [11]:
df.columns

Index(['ì´ë¦„', 'í•™êµ', 'í‚¤', 'êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™', 'ì‚¬íšŒ', 'SWíŠ¹ê¸°'], dtype='object')

### âœ… shape
: (í–‰, ì—´) íŠœí”Œí˜•íƒœë¡œ ì¶œë ¥

In [12]:
df.shape # row, column

(8, 9)

### âœ… astype
: int32, float32, str(object), category ë“±ìœ¼ë¡œ type ë³€ê²½

In [13]:
df.dtypes

ì´ë¦„      object
í•™êµ      object
í‚¤        int64
êµ­ì–´       int64
ì˜ì–´       int64
ìˆ˜í•™       int64
ê³¼í•™       int64
ì‚¬íšŒ       int64
SWíŠ¹ê¸°    object
dtype: object

In [14]:
df['í•™êµ'] = df['í•™êµ'].astype('category')
df['í•™êµ'].head()

ì§€ì›ë²ˆí˜¸
1ë²ˆ    ë¶ì‚°ê³
2ë²ˆ    ë¶ì‚°ê³
3ë²ˆ    ë¶ì‚°ê³
4ë²ˆ    ë¶ì‚°ê³
5ë²ˆ    ë¶ì‚°ê³
Name: í•™êµ, dtype: category
Categories (2, object): ['ëŠ¥ë‚¨ê³ ', 'ë¶ì‚°ê³ ']

### âœ… cat
: ```df.cat.codes```\
  ì¹´í…Œê³ ë¦¬ë¥¼ ìˆ«ì(index)ë¡œ ë³€í™˜

In [15]:
df['í•™êµ'].cat.codes

ì§€ì›ë²ˆí˜¸
1ë²ˆ    1
2ë²ˆ    1
3ë²ˆ    1
4ë²ˆ    1
5ë²ˆ    1
6ë²ˆ    0
7ë²ˆ    0
8ë²ˆ    0
dtype: int8

: ```df.cat.categories```\
  ìˆ«ìë¡œ ë³€í™˜ëœ ì¹´í…Œê³ ë¦¬ ëª©ë¡ì„ indexìˆœìœ¼ë¡œ í™•ì¸ ê°€ëŠ¥

In [16]:
[df['í•™êµ'].cat.categories]

[Index(['ëŠ¥ë‚¨ê³ ', 'ë¶ì‚°ê³ '], dtype='object')]

: ```df.cat.rename_categories([rename_list])```\
  ì¹´í…Œê³ ë¦¬ì˜ ì´ë¦„ì„ ì¬ì§€ì •

In [17]:
df['í•™êµ'] = df['í•™êµ'].cat.rename_categories([g for g in df['í•™êµ'].cat.categories])
df['í•™êµ'].value_counts()

í•™êµ
ë¶ì‚°ê³     5
ëŠ¥ë‚¨ê³     3
Name: count, dtype: int64

# ğŸ“ Series ë°ì´í„° í™•ì¸
### âœ… describe()
: ë°ì´í„°ì— ëŒ€í•œ í†µê³„ìš”ì•½ì •ë³´ ì œê³µ
- count : ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë°ì´í„° ê°¯ìˆ˜
- mean : í‰ê· ê°’
- std : í‘œì¤€í¸ì°¨
- min : ìµœì†Ÿê°’
- 25% : 1ì‚¬ë¶„ìœ„ìˆ˜
- 50% : 2ì‚¬ë¶„ìœ„ìˆ˜(ì¤‘ì•™ê°’)
- 75% : 3ì‚¬ë¶„ìœ„ìˆ˜
- max : ìµœëŒ“ê°’

In [18]:
df['í‚¤'].describe()

count      8.000000
mean     188.000000
std        9.985704
min      168.000000
25%      186.250000
50%      188.000000
75%      191.750000
max      202.000000
Name: í‚¤, dtype: float64