# 📍 통계함수
### ✅ 엑셀로 열기
: ```pd.read_excel('파일명.xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='지원번호') # index 설정
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

### ✅ min()
: 행/열에 대한 최솟값

In [16]:
df['키'].min()

168

### ✅ max()
: 행/열에 대한 최댓값

In [17]:
df['키'].max()

202

### ✅ nlargest(n)
: 상위 n개의 데이터 출력

In [18]:
df['키'].nlargest(3) # 키 큰 사람 순서대로 3명 데이터

지원번호
6번    202
1번    197
8번    190
Name: 키, dtype: int64

### ✅ mean()
: 행/열에 대한 평균값

In [19]:
df['키'].mean()

188.0

### ✅ count()
: Nan값을 제외한 데이터 갯수

In [20]:
df['SW특기'].count()

6

### ✅ unique()
: 데이터의 고유값 종류

In [21]:
df['학교'].unique()

array(['북산고', '능남고'], dtype=object)

### ✅ nunique()
: 데이터의 고유값 갯수\
  unique값 갯수

In [22]:
df['학교'].nunique()

2