# ğŸ“ í†µê³„í•¨ìˆ˜
### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… min()
: í–‰/ì—´ì— ëŒ€í•œ ìµœì†Ÿê°’

In [2]:
df['í‚¤'].min()

168

### âœ… max()
: í–‰/ì—´ì— ëŒ€í•œ ìµœëŒ“ê°’

In [3]:
df['í‚¤'].max()

202

### âœ… median()
: ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í–ˆì„ ë•Œ ì¤‘ì•™ê°’\
  ì§ìˆ˜ê°œì˜ ë°ì´í„°ê°€ ìˆì„ ë•Œ ê°€ìš´ë° 2ê°œ ì¤‘ì•™ ë°ì´í„°ì˜ í‰ê· ê°’

In [4]:
df['í‚¤'].median()

188.0

### âœ… nlargest(n)
: ìƒìœ„ nê°œì˜ ë°ì´í„° ì¶œë ¥

In [5]:
df['í‚¤'].nlargest(3) # í‚¤ í° ì‚¬ëŒ ìˆœì„œëŒ€ë¡œ 3ëª… ë°ì´í„°

ì§€ì›ë²ˆí˜¸
6ë²ˆ    202
1ë²ˆ    197
8ë²ˆ    190
Name: í‚¤, dtype: int64

### âœ… mean()
: í–‰/ì—´ì— ëŒ€í•œ í‰ê· ê°’

In [6]:
df['í‚¤'].mean()

188.0

: ```df.mean(skipna=True/False)```
- skipna = True(defaultê°’)
- skipna = Falseë¡œ ì„¤ì •ë˜ì–´ ìˆë‹¤ë©´, NaNê°’ì´ ìˆëŠ” columns NaNìœ¼ë¡œ ì¶œë ¥

In [7]:
import numpy as np

df.loc['2ë²ˆ', 'êµ­ì–´'] = np.nan
df.mean(skipna=True, numeric_only = True)

í‚¤     188.000000
êµ­ì–´     65.714286
ì˜ì–´     65.625000
ìˆ˜í•™     66.250000
ê³¼í•™     70.000000
ì‚¬íšŒ     60.625000
dtype: float64

In [8]:
df.mean(skipna=False, numeric_only = True)

í‚¤     188.000
êµ­ì–´        NaN
ì˜ì–´     65.625
ìˆ˜í•™     66.250
ê³¼í•™     70.000
ì‚¬íšŒ     60.625
dtype: float64

### âœ… var()
: ë¶„ì‚°
$$ \text{ë¶„ì‚°} (\text{Var}) = \frac{1}{n} \sum_{i=1}^{n} (x_i - \bar{x})^2 $$
- n ë°ì´í„°ì˜ ê°œìˆ˜
- x_i ê° ë°ì´í„°
- bar_x ë°ì´í„°ì˜ í‰ê·

In [9]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
# í‰ê· 
math_mean = df['ìˆ˜í•™'].mean()

# ë¶„ì‚°
math_var = ((df['ìˆ˜í•™'] - math_mean) ** 2).sum() / (df['ìˆ˜í•™'].count() - 1)
print(math_var)

print(df['ìˆ˜í•™'].var())

919.6428571428571
919.6428571428571

### âœ… std()
: í‘œì¤€í¸ì°¨
$$ \text{í‘œì¤€ í¸ì°¨} (\text{SD}) = \sqrt{\text{ë¶„ì‚°} (\text{Var})} = \sqrt{\frac{1}{n} \sum_{i=1}^{n} (x_i - \bar{x})^2} $$

- n ë°ì´í„°ì˜ ê°œìˆ˜
- x_i ê° ë°ì´í„°
- bar_x ë°ì´í„°ì˜ í‰ê·

In [10]:
print(np.sqrt(df['ìˆ˜í•™'].var()))
print(df['ìˆ˜í•™'].std())

30.325613879076826
30.325613879076826

### âœ… sum()
: í•©ê³„

In [11]:
df.sum(numeric_only = True)

í‚¤     1504
êµ­ì–´     500
ì˜ì–´     525
ìˆ˜í•™     530
ê³¼í•™     560
ì‚¬íšŒ     485
dtype: int64

### âœ… cumsum()
: ëˆ„ì í•©

In [12]:
df['í‚¤'].cumsum()

ì§€ì›ë²ˆí˜¸
1ë²ˆ     197
2ë²ˆ     381
3ë²ˆ     549
4ë²ˆ     736
5ë²ˆ     924
6ë²ˆ    1126
7ë²ˆ    1314
8ë²ˆ    1504
Name: í‚¤, dtype: int64

### âœ… cumprod()
: ëˆ„ì ê³±

In [13]:
df['êµ­ì–´'].cumprod()

ì§€ì›ë²ˆí˜¸
1ë²ˆ                90
2ë²ˆ              3600
3ë²ˆ            288000
4ë²ˆ          11520000
5ë²ˆ         172800000
6ë²ˆ       13824000000
7ë²ˆ      760320000000
8ë²ˆ    76032000000000
Name: êµ­ì–´, dtype: int64

### âœ… count()
: Nanê°’ì„ ì œì™¸í•œ ë°ì´í„° ê°¯ìˆ˜

In [14]:
df['SWíŠ¹ê¸°'].count()

6

### âœ… mode()
: ìµœë¹ˆê°’

In [15]:
df['í•™êµ'].mode()

0    ë¶ì‚°ê³
Name: í•™êµ, dtype: object

### âœ… quantile()
: ë¶„ìœ„(ì£¼ì–´ì§„ ë°ì´í„°ë¥¼ ë™ë“±í•œ í¬ê¸°ë¡œ ë¶„í• í•˜ëŠ” ì§€ì )

In [16]:
# í•˜ìœ„ 10%
df['ê³¼í•™'].quantile(0.1)

38.5

### âœ… unique()
: ë°ì´í„°ì˜ ê³ ìœ ê°’ ì¢…ë¥˜

In [17]:
df['í•™êµ'].unique()

array(['ë¶ì‚°ê³ ', 'ëŠ¥ë‚¨ê³ '], dtype=object)

### âœ… nunique()
: ë°ì´í„°ì˜ ê³ ìœ ê°’ ê°¯ìˆ˜\
  uniqueê°’ ê°¯ìˆ˜

In [18]:
df['í•™êµ'].nunique()

2

### âœ… agg (aggregation) 
: ë³µìˆ˜ í†µê³„ í•¨ìˆ˜ ì ìš©\
  ```df[['column_list']].agg([statistics_list])```

In [19]:
df[['êµ­ì–´', 'ìˆ˜í•™']].agg(['min', 'max', 'count', 'mean'])

          êµ­ì–´      ìˆ˜í•™
min     15.0   10.00
max    100.0  100.00
count    8.0    8.00
mean    62.5   66.25

### âœ… corr()
: ìƒê´€ê´€ê³„
- -1 ~ 1 ì‚¬ì´ì˜ ë²”ìœ„
- -1ì— ê°€ê¹Œìš¸ìˆ˜ë¡ ë°˜ë¹„ë¡€ ê´€ê³„, 1ì— ê°€ê¹Œìš¸ìˆ˜ë¡ ì •ë¹„ë¡€ ê´€ê³„

In [20]:
import seaborn as sns
df = sns.load_dataset('titanic')
df.corr(numeric_only=True)

,survived,pclass,age,sibsp,parch,fare,adult_male,alone
survived,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307,-0.557080,-0.203367
pclass,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500,0.094035,0.135207
age,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067,0.280328,0.198270
sibsp,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651,-0.253586,-0.584471
parch,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225,-0.349943,-0.583398
fare,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000,-0.182024,-0.271832
adult_male,-0.557080,0.094035,0.280328,-0.253586,-0.349943,-0.182024,1.000000,0.404744
alone,-0.203367,0.135207,0.198270,-0.584471,-0.583398,-0.271832,0.404744,1.000000