# ğŸ“ ë°ì´í„° ì„ íƒ(loc)
: ì´ë¦„ì„ ì´ìš©í•˜ì—¬ ì›í•˜ëŠ” row, col ì„ íƒ

### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… loc
: ```df.loc['row', 'col']```

In [2]:
df.loc['1ë²ˆ'] # index 1ë²ˆì— í•´ë‹¹í•˜ëŠ” ì „ì²´ ë°ì´í„°

ì´ë¦„         ì±„ì¹˜ìˆ˜
í•™êµ         ë¶ì‚°ê³
í‚¤          197
êµ­ì–´          90
ì˜ì–´          85
ìˆ˜í•™         100
ê³¼í•™          95
ì‚¬íšŒ          85
SWíŠ¹ê¸°    Python
Name: 1ë²ˆ, dtype: object

In [4]:
df.loc['1ë²ˆ', 'êµ­ì–´'] # index 1ë²ˆì— í•´ë‹¹í•˜ëŠ” êµ­ì–´ ë°ì´í„°

90

: ```df.loc[[row_list], [col_list]]```

In [5]:
df.loc[['1ë²ˆ', '3ë²ˆ'], 'ì˜ì–´'] # index 1ë²ˆ, 3ë²ˆì— í•´ë‹¹í•˜ëŠ” ì˜ì–´ ë°ì´í„°

ì§€ì›ë²ˆí˜¸
1ë²ˆ    85
3ë²ˆ    75
Name: ì˜ì–´, dtype: int64

In [6]:
df.loc[['1ë²ˆ', '2ë²ˆ'], ['ì˜ì–´', 'ìˆ˜í•™']] # index 1ë²ˆ, 2ë²ˆì— í•´ë‹¹í•˜ëŠ” ì˜ì–´, ìˆ˜í•™ ë°ì´í„°

      ì˜ì–´   ìˆ˜í•™
ì§€ì›ë²ˆí˜¸
1ë²ˆ    85  100
2ë²ˆ    35   50

: ```df.loc['row1' : 'row2', 'col1' : 'col2']```\
  ìŠ¬ë¼ì´ì‹±ë„ ê°€ëŠ¥(row2, col2 ~~ë¯¸ë§Œ~~ì´ ì•„ë‹Œ **ì´í•˜**ì„ì„ ì£¼ì˜)

In [7]:
# index 1ë²ˆ~5ë²ˆ, êµ­ì–´~ì‚¬íšŒ ë°ì´í„° (ì•ì„  ê²°ê³¼ë“¤ê³¼ ë‹¤ë¥´ê²Œ ë¯¸ë§Œì´ ì•„ë‹Œ ì´í•˜ë¡œ ì§€ì •)
df.loc['1ë²ˆ':'5ë²ˆ', 'êµ­ì–´':'ì‚¬íšŒ']

      êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ
ì§€ì›ë²ˆí˜¸
1ë²ˆ    90  85  100  95  85
2ë²ˆ    40  35   50  55  25
3ë²ˆ    80  75   70  80  75
4ë²ˆ    40  60   70  75  80
5ë²ˆ    15  20   10  35  10