# ğŸ“ ë°ì´í„° ì„ íƒ(iloc)
: ìœ„ì¹˜ë¥¼ ì´ìš©í•˜ì—¬ ì›í•˜ëŠ” row, col ì„ íƒ

### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… iloc
: ```df.iloc['row_idx', 'col_idx']```

In [2]:
df.iloc[0] # 0ë²ˆì§¸ í–‰ì˜ ë°ì´í„°

ì´ë¦„         ì±„ì¹˜ìˆ˜
í•™êµ         ë¶ì‚°ê³
í‚¤          197
êµ­ì–´          90
ì˜ì–´          85
ìˆ˜í•™         100
ê³¼í•™          95
ì‚¬íšŒ          85
SWíŠ¹ê¸°    Python
Name: 1ë²ˆ, dtype: object

In [3]:
df.iloc[4, 2] # 4ë²ˆì§¸ í–‰ì˜ 2ë²ˆì§¸ ì—´ë°ì´í„°(5ë²ˆ í•™ìƒì˜ í‚¤ë°ì´í„°)

188

: ```df.iloc[[row_idxlist], [col_idxlist]]```

In [4]:
df.iloc[[0, 1], 2] # 0, 1ë²ˆì§¸ í–‰ì˜ 2ë²ˆì§¸ ì—´ë°ì´í„°(1, 2ë²ˆí•™ìƒì˜ í‚¤ë°ì´í„°)

ì§€ì›ë²ˆí˜¸
1ë²ˆ    197
2ë²ˆ    184
Name: í‚¤, dtype: int64

In [5]:
df.iloc[[0, 1], [3, 4]] # 0, 1ë²ˆì§¸ í–‰ì˜ 3, 4ë²ˆì§¸ ì—´ë°ì´í„°(1, 2ë²ˆí•™ìƒì˜ êµ­ì–´, ì˜ì–´ë°ì´í„°)

      êµ­ì–´  ì˜ì–´
ì§€ì›ë²ˆí˜¸
1ë²ˆ    90  85
2ë²ˆ    40  35

: ```df.iloc[row_idx1 : row_idx2, col_idx1 : col_idx2]```\
  ìŠ¬ë¼ì´ì‹±ë„ ê°€ëŠ¥

In [6]:
df.iloc[0:5] # 0~4ë²ˆì§¸ í–‰ì˜ ë°ì´í„°(1ë²ˆ~5ë²ˆ í•™ìƒì˜ ë°ì´í„°)

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15  20   10  35  10         NaN

In [7]:
df.iloc[0:5, 3:8] # 0~4ë²ˆì§¸ í–‰ ì¤‘ì—ì„œ 3~7ë²ˆì§¸ ë°ì´í„°(1ë²ˆ~5ë²ˆ í•™ìƒì˜ êµ­ì–´~ì‚¬íšŒë°ì´í„°)

      êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ
ì§€ì›ë²ˆí˜¸
1ë²ˆ    90  85  100  95  85
2ë²ˆ    40  35   50  55  25
3ë²ˆ    80  75   70  80  75
4ë²ˆ    40  60   70  75  80
5ë²ˆ    15  20   10  35  10