# ğŸ“ ë°ì´í„° ì„ íƒ(ì¡°ê±´)

### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… ì¡°ê±´ì— í•´ë‹¹í•˜ëŠ” ë°ì´í„°ì„ íƒ
: ```df[filter]```

In [2]:
df['í‚¤'] >= 185 # í•™ìƒë“¤ì˜ í‚¤ê°€ 185 ì´ìƒì¸ì§€ ì—¬ë¶€ë¥¼ True/False

ì§€ì›ë²ˆí˜¸
1ë²ˆ     True
2ë²ˆ    False
3ë²ˆ    False
4ë²ˆ     True
5ë²ˆ     True
6ë²ˆ     True
7ë²ˆ     True
8ë²ˆ     True
Name: í‚¤, dtype: bool

In [3]:
filt = (df['í‚¤'] >= 185)
df[filt]

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85  Python
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80     NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10     NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80       C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35  PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95      C#

: ```df[~filter]```\
  filterë¥¼ ì—­ìœ¼ë¡œ ì ìš©

In [4]:
df[~filt]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35  50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  70  80  75  Javascript

In [5]:
df[df['í‚¤'] >= 185]

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85  Python
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80     NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10     NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80       C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35  PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95      C#

: ```df[filter, [column_list]]```

In [6]:
df.loc[df['í‚¤'] >= 185, 'ìˆ˜í•™'] # í‚¤ê°€ 185 ì´ìƒì¸ í•™ìƒë“¤ì˜ ìˆ˜í•™ ë°ì´í„°

ì§€ì›ë²ˆí˜¸
1ë²ˆ    100
4ë²ˆ     70
5ë²ˆ     10
6ë²ˆ     95
7ë²ˆ     45
8ë²ˆ     90
Name: ìˆ˜í•™, dtype: int64

In [7]:
df.loc[df['í‚¤'] >= 185, ['ì´ë¦„', 'ìˆ˜í•™', 'ê³¼í•™']] # í‚¤ê°€ 185 ì´ìƒì¸ í•™ìƒë“¤ì˜ ì´ë¦„, ìˆ˜í•™, ê³¼í•™ ë°ì´í„°

       ì´ë¦„   ìˆ˜í•™  ê³¼í•™
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  100  95
4ë²ˆ    ì„œíƒœì›…   70  75
5ë²ˆ    ê°•ë°±í˜¸   10  35
6ë²ˆ    ë³€ë•ê·œ   95  85
7ë²ˆ    í™©íƒœì‚°   45  40
8ë²ˆ    ìœ¤ëŒ€í˜‘   90  95

### âœ… & (and) ê·¸ë¦¬ê³ 
: ì¡°ê±´ ëª¨ë‘ ì¶©ì¡±í•´ì•¼ í•¨

In [9]:
df.loc[(df['í‚¤'] >= 185) & (df['í•™êµ'] == 'ë¶ì‚°ê³ ')] # í‚¤ê°€ 185 ì´ìƒì¸ ë¶ì‚°ê³  í•™ìƒ ë°ì´í„°

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85  Python
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60   70  75  80     NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15  20   10  35  10     NaN

### âœ… | (or) ë˜ëŠ”
: ì¡°ê±´ ì¤‘ í•˜ë‚˜ë§Œ ì¶©ì¡±í•˜ë©´ ë¨

In [10]:
df.loc[(df['í‚¤'] < 170) | (df['í‚¤'] > 200)] # í‚¤ê°€ 170ë³´ë‹¤ ì‘ê±°ë‚˜ 200ë³´ë‹¤ í° í•™ìƒ ë°ì´í„°

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´   ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80   75  70  80  75  Javascript
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202  80  100  95  85  80           C

### âœ… strí•¨ìˆ˜(startswith)
: ```df['column'].str.startswith('str')```\
  'str'ë¡œ ì‹œì‘í•˜ëŠ” ë°ì´í„°

In [11]:
filt = df['ì´ë¦„'].str.startswith('ì†¡') # 'ì†¡'ì”¨ ì„±ì„ ê°€ì§„ ì‚¬ëŒ
df[filt]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  70  80  75  Javascript

### âœ… strí•¨ìˆ˜(contains)
: ```df['column'].str.contains('str')```\
  'str'ê°€ í¬í•¨ë˜ì–´ìˆëŠ” ë°ì´í„°

In [13]:
filt = df['ì´ë¦„'].str.contains('íƒœ') # ì´ë¦„ì— 'íƒœ'ê°€ ë“¤ì–´ê°€ëŠ” ì‚¬ëŒ
df[filt]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60  70  75  80         NaN
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  55  65  45  40  35      PYTHON

: ```df['column'].str.contains('str', na=True/False)```\
  NaNê°’ì´ ìˆì„ ê²½ìš° error ë°œìƒ\
  ì´ë¥¼ í•´ê²°í•˜ê¸° ìœ„í•´ NaNê°’ì˜ ëŒ€ì²´ê°’ ì„¤ì •

In [14]:
filt = df['SWíŠ¹ê¸°'].str.contains('Java')
df[filt]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [15]:
df['SWíŠ¹ê¸°'].str.contains('Java')

ì§€ì›ë²ˆí˜¸
1ë²ˆ    False
2ë²ˆ     True
3ë²ˆ     True
4ë²ˆ      NaN
5ë²ˆ      NaN
6ë²ˆ    False
7ë²ˆ    False
8ë²ˆ    False
Name: SWíŠ¹ê¸°, dtype: object

In [16]:
df['SWíŠ¹ê¸°'].str.contains('Java', na=True) # NaNë°ì´í„°ì— ëŒ€í•´ Trueë¡œ ëŒ€ì²´

ì§€ì›ë²ˆí˜¸
1ë²ˆ    False
2ë²ˆ     True
3ë²ˆ     True
4ë²ˆ     True
5ë²ˆ     True
6ë²ˆ    False
7ë²ˆ    False
8ë²ˆ    False
Name: SWíŠ¹ê¸°, dtype: bool

In [17]:
df['SWíŠ¹ê¸°'].str.contains('Java', na=False) # NaNë°ì´í„°ì— ëŒ€í•´ Falseë¡œ ëŒ€ì²´

ì§€ì›ë²ˆí˜¸
1ë²ˆ    False
2ë²ˆ     True
3ë²ˆ     True
4ë²ˆ    False
5ë²ˆ    False
6ë²ˆ    False
7ë²ˆ    False
8ë²ˆ    False
Name: SWíŠ¹ê¸°, dtype: bool

In [18]:
filt = df['SWíŠ¹ê¸°'].str.contains('Java', na=False)
df[filt]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35  50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  70  80  75  Javascript

### âœ… strí•¨ìˆ˜(isin)
: ```df['column'].isin('value')```\
  'value'ì™€ ì¼ì¹˜í•˜ëŠ” ë°ì´í„° (ëŒ€ì†Œë¬¸ì êµ¬ë¶„)

In [19]:
langs = ['Python', 'Java']
filt = df['SWíŠ¹ê¸°'].isin(langs) # SWíŠ¹ê¸°ê°€ Pythonì´ê±°ë‚˜ Javaì¸ ì‚¬ëŒ
df[filt]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85  Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25    Java

In [20]:
langs = ['python', 'java']
filt = df['SWíŠ¹ê¸°'].str.lower().isin(langs) # SWíŠ¹ê¸°ë¥¼ ì†Œë¬¸ìë¡œ ë°”ê¾¼ í›„ í•„í„°ë§
df[filt]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85  Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25    Java
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  55  65   45  40  35  PYTHON