# üìç Îç∞Ïù¥ÌÑ∞ ÏÑ†ÌÉù(Ï°∞Í±¥)

### ‚úÖ ÏóëÏÖÄÎ°ú Ïó¥Í∏∞
: ```pd.read_excel('ÌååÏùºÎ™Ö.xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏') # index ÏÑ§Ï†ï
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

### ‚úÖ Ï°∞Í±¥Ïóê Ìï¥ÎãπÌïòÎäî Îç∞Ïù¥ÌÑ∞ÏÑ†ÌÉù
: ```df[filter]```

In [2]:
df['ÌÇ§'] >= 185 # ÌïôÏÉùÎì§Ïùò ÌÇ§Í∞Ä 185 Ïù¥ÏÉÅÏù∏ÏßÄ Ïó¨Î∂ÄÎ•º True/False

ÏßÄÏõêÎ≤àÌò∏
1Î≤à     True
2Î≤à    False
3Î≤à    False
4Î≤à     True
5Î≤à     True
6Î≤à     True
7Î≤à     True
8Î≤à     True
Name: ÌÇ§, dtype: bool

In [3]:
filt = (df['ÌÇ§'] >= 185)
df[filt]

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå    SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85  Python
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80     NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10     NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80       C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35  PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95      C#

: ```df[~filter]```\
  filterÎ•º Ïó≠ÏúºÎ°ú Ï†ÅÏö©

In [4]:
df[~filt]

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184  40  35  50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168  80  75  70  80  75  Javascript

In [5]:
df[df['ÌÇ§'] >= 185]

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå    SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85  Python
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80     NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10     NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80       C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35  PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95      C#

: ```df[filter, [column_list]]```

In [6]:
df.loc[df['ÌÇ§'] >= 185, 'ÏàòÌïô'] # ÌÇ§Í∞Ä 185 Ïù¥ÏÉÅÏù∏ ÌïôÏÉùÎì§Ïùò ÏàòÌïô Îç∞Ïù¥ÌÑ∞

ÏßÄÏõêÎ≤àÌò∏
1Î≤à    100
4Î≤à     70
5Î≤à     10
6Î≤à     95
7Î≤à     45
8Î≤à     90
Name: ÏàòÌïô, dtype: int64

In [7]:
df.loc[df['ÌÇ§'] >= 185, ['Ïù¥Î¶Ñ', 'ÏàòÌïô', 'Í≥ºÌïô']] # ÌÇ§Í∞Ä 185 Ïù¥ÏÉÅÏù∏ ÌïôÏÉùÎì§Ïùò Ïù¥Î¶Ñ, ÏàòÌïô, Í≥ºÌïô Îç∞Ïù¥ÌÑ∞

       Ïù¥Î¶Ñ   ÏàòÌïô  Í≥ºÌïô
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  100  95
4Î≤à    ÏÑúÌÉúÏõÖ   70  75
5Î≤à    Í∞ïÎ∞±Ìò∏   10  35
6Î≤à    Î≥ÄÎçïÍ∑ú   95  85
7Î≤à    Ìô©ÌÉúÏÇ∞   45  40
8Î≤à    Ïú§ÎåÄÌòë   90  95

### ‚úÖ & (and) Í∑∏Î¶¨Í≥†
: Ï°∞Í±¥ Î™®Îëê Ï∂©Ï°±Ìï¥Ïïº Ìï®

In [9]:
df.loc[(df['ÌÇ§'] >= 185) & (df['ÌïôÍµê'] == 'Î∂ÅÏÇ∞Í≥†')] # ÌÇ§Í∞Ä 185 Ïù¥ÏÉÅÏù∏ Î∂ÅÏÇ∞Í≥† ÌïôÏÉù Îç∞Ïù¥ÌÑ∞

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå    SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197  90  85  100  95  85  Python
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187  40  60   70  75  80     NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188  15  20   10  35  10     NaN

### ‚úÖ | (or) ÎòêÎäî
: Ï°∞Í±¥ Ï§ë ÌïòÎÇòÎßå Ï∂©Ï°±ÌïòÎ©¥ Îê®

In [10]:
df.loc[(df['ÌÇ§'] < 170) | (df['ÌÇ§'] > 200)] # ÌÇ§Í∞Ä 170Î≥¥Îã§ ÏûëÍ±∞ÎÇò 200Î≥¥Îã§ ÌÅ∞ ÌïôÏÉù Îç∞Ïù¥ÌÑ∞

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥   ÏòÅÏñ¥  ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168  80   75  70  80  75  Javascript
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202  80  100  95  85  80           C

### ‚úÖ strÌï®Ïàò(startswith)
: ```df['column'].str.startswith('str')```\
  'str'Î°ú ÏãúÏûëÌïòÎäî Îç∞Ïù¥ÌÑ∞

In [11]:
filt = df['Ïù¥Î¶Ñ'].str.startswith('ÏÜ°') # 'ÏÜ°'Ïî® ÏÑ±ÏùÑ Í∞ÄÏßÑ ÏÇ¨Îûå
df[filt]

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168  80  75  70  80  75  Javascript

### ‚úÖ strÌï®Ïàò(contains)
: ```df['column'].str.contains('str')```\
  'str'Í∞Ä Ìè¨Ìï®ÎêòÏñ¥ÏûàÎäî Îç∞Ïù¥ÌÑ∞

In [13]:
filt = df['Ïù¥Î¶Ñ'].str.contains('ÌÉú') # Ïù¥Î¶ÑÏóê 'ÌÉú'Í∞Ä Îì§Ïñ¥Í∞ÄÎäî ÏÇ¨Îûå
df[filt]

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168  80  75  70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187  40  60  70  75  80         NaN
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188  55  65  45  40  35      PYTHON

: ```df['column'].str.contains('str', na=True/False)```\
  NaNÍ∞íÏù¥ ÏûàÏùÑ Í≤ΩÏö∞ error Î∞úÏÉù\
  Ïù¥Î•º Ìï¥Í≤∞ÌïòÍ∏∞ ÏúÑÌï¥ NaNÍ∞íÏùò ÎåÄÏ≤¥Í∞í ÏÑ§Ï†ï

In [14]:
filt = df['SWÌäπÍ∏∞'].str.contains('Java')
df[filt]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [15]:
df['SWÌäπÍ∏∞'].str.contains('Java')

ÏßÄÏõêÎ≤àÌò∏
1Î≤à    False
2Î≤à     True
3Î≤à     True
4Î≤à      NaN
5Î≤à      NaN
6Î≤à    False
7Î≤à    False
8Î≤à    False
Name: SWÌäπÍ∏∞, dtype: object

In [16]:
df['SWÌäπÍ∏∞'].str.contains('Java', na=True) # NaNÎç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ TrueÎ°ú ÎåÄÏ≤¥

ÏßÄÏõêÎ≤àÌò∏
1Î≤à    False
2Î≤à     True
3Î≤à     True
4Î≤à     True
5Î≤à     True
6Î≤à    False
7Î≤à    False
8Î≤à    False
Name: SWÌäπÍ∏∞, dtype: bool

In [17]:
df['SWÌäπÍ∏∞'].str.contains('Java', na=False) # NaNÎç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ FalseÎ°ú ÎåÄÏ≤¥

ÏßÄÏõêÎ≤àÌò∏
1Î≤à    False
2Î≤à     True
3Î≤à     True
4Î≤à    False
5Î≤à    False
6Î≤à    False
7Î≤à    False
8Î≤à    False
Name: SWÌäπÍ∏∞, dtype: bool

In [18]:
filt = df['SWÌäπÍ∏∞'].str.contains('Java', na=False)
df[filt]

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184  40  35  50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168  80  75  70  80  75  Javascript

### ‚úÖ strÌï®Ïàò(isin)
: ```df['column'].isin('value')```\
  'value'ÏôÄ ÏùºÏπòÌïòÎäî Îç∞Ïù¥ÌÑ∞ (ÎåÄÏÜåÎ¨∏Ïûê Íµ¨Î∂Ñ)

In [19]:
langs = ['Python', 'Java']
filt = df['SWÌäπÍ∏∞'].isin(langs) # SWÌäπÍ∏∞Í∞Ä PythonÏù¥Í±∞ÎÇò JavaÏù∏ ÏÇ¨Îûå
df[filt]

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå    SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197  90  85  100  95  85  Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184  40  35   50  55  25    Java

In [20]:
langs = ['python', 'java']
filt = df['SWÌäπÍ∏∞'].str.lower().isin(langs) # SWÌäπÍ∏∞Î•º ÏÜåÎ¨∏ÏûêÎ°ú Î∞îÍæº ÌõÑ ÌïÑÌÑ∞ÎßÅ
df[filt]

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå    SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197  90  85  100  95  85  Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184  40  35   50  55  25    Java
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188  55  65   45  40  35  PYTHON