# ğŸ“ ê²°ì¸¡ì¹˜
: ë¹„ì–´ìˆëŠ” ë°ì´í„°
 
### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… ê²°ì¸¡ì¹˜ë¡œ ì±„ìš°ê¸°
: ```df['column'] = np.nan```

In [2]:
import numpy as np

df['í•™êµ'] = np.nan # í•™êµ ë°ì´í„° ì „ì²´ë¥¼ NaNìœ¼ë¡œ ì±„ì›€
df

       ì´ë¦„  í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜ NaN  197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ NaN  184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­ NaN  168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›… NaN  187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸ NaN  188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ NaN  202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚° NaN  188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘ NaN  190  100   85   90  95  95          C#

### âœ… ê²°ì¸¡ì¹˜ ì°¾ê¸°
: ```isnull()```, ```isna()```

In [3]:
df['SWíŠ¹ê¸°'].isnull()

ì§€ì›ë²ˆí˜¸
1ë²ˆ    False
2ë²ˆ    False
3ë²ˆ    False
4ë²ˆ     True
5ë²ˆ     True
6ë²ˆ    False
7ë²ˆ    False
8ë²ˆ    False
Name: SWíŠ¹ê¸°, dtype: bool

In [4]:
df['SWíŠ¹ê¸°'].notnull()

ì§€ì›ë²ˆí˜¸
1ë²ˆ     True
2ë²ˆ     True
3ë²ˆ     True
4ë²ˆ    False
5ë²ˆ    False
6ë²ˆ     True
7ë²ˆ     True
8ë²ˆ     True
Name: SWíŠ¹ê¸°, dtype: bool

In [5]:
df['SWíŠ¹ê¸°'].isna()

ì§€ì›ë²ˆí˜¸
1ë²ˆ    False
2ë²ˆ    False
3ë²ˆ    False
4ë²ˆ     True
5ë²ˆ     True
6ë²ˆ    False
7ë²ˆ    False
8ë²ˆ    False
Name: SWíŠ¹ê¸°, dtype: bool

In [6]:
df['SWíŠ¹ê¸°'].notna()

ì§€ì›ë²ˆí˜¸
1ë²ˆ     True
2ë²ˆ     True
3ë²ˆ     True
4ë²ˆ    False
5ë²ˆ    False
6ë²ˆ     True
7ë²ˆ     True
8ë²ˆ     True
Name: SWíŠ¹ê¸°, dtype: bool

In [7]:
df[df['SWíŠ¹ê¸°'].isnull()] # boolean indexing ì ìš© ê°€ëŠ¥

       ì´ë¦„  í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
4ë²ˆ    ì„œíƒœì›… NaN  187  40  60  70  75  80  NaN
5ë²ˆ    ê°•ë°±í˜¸ NaN  188  15  20  10  35  10  NaN

In [8]:
# ê° column ê²°ì¸¡ ë°ì´í„°ê°¯ìˆ˜
df.isna().sum()

ì´ë¦„      0
í•™êµ      8
í‚¤       0
êµ­ì–´      0
ì˜ì–´      0
ìˆ˜í•™      0
ê³¼í•™      0
ì‚¬íšŒ      0
SWíŠ¹ê¸°    2
dtype: int64

In [9]:
# ì „ì²´ ê²°ì¸¡ ë°ì´í„°ê°¯ìˆ˜
df.isnull().sum().sum()

10

### âœ… ê²°ì¸¡ì¹˜ í•„í„°ë§
: ```df.loc[df['column'].isnull()]```

In [10]:
# SWíŠ¹ê¸°ê°€ NaNì¸ ê°’ë§Œ ì¶œë ¥
df.loc[df['SWíŠ¹ê¸°'].isnull()]

       ì´ë¦„  í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
4ë²ˆ    ì„œíƒœì›… NaN  187  40  60  70  75  80  NaN
5ë²ˆ    ê°•ë°±í˜¸ NaN  188  15  20  10  35  10  NaN

### âœ… ê²°ì¸¡ì¹˜ ëŒ€ì²´
: ```df.fillna('data')```

In [11]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
df.fillna('') # NaN ë°ì´í„°ë¥¼ ë¹ˆì¹¸ìœ¼ë¡œ ì±„ì›€

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [12]:
df.fillna('ì—†ìŒ', inplace=True)
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80          ì—†ìŒ
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10          ì—†ìŒ
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

: í‰ê· ìœ¼ë¡œ ëŒ€ì²´\
```df['column'].fillna(df['column'].mean())```

In [13]:
df.loc['2ë²ˆ', 'êµ­ì–´'] = np.nan
df.loc['3ë²ˆ', 'êµ­ì–´'] = np.nan
df['êµ­ì–´'].fillna(df['êµ­ì–´'].mean())

ì§€ì›ë²ˆí˜¸
1ë²ˆ     90.000000
2ë²ˆ     63.333333
3ë²ˆ     63.333333
4ë²ˆ     40.000000
5ë²ˆ     15.000000
6ë²ˆ     80.000000
7ë²ˆ     55.000000
8ë²ˆ    100.000000
Name: êµ­ì–´, dtype: float64

: ì¤‘ì•™ê°’ìœ¼ë¡œ ëŒ€ì²´\
```df['column'].fillna(df['column'].median())```

In [14]:
df['êµ­ì–´'].fillna(df['êµ­ì–´'].median())

ì§€ì›ë²ˆí˜¸
1ë²ˆ     90.0
2ë²ˆ     67.5
3ë²ˆ     67.5
4ë²ˆ     40.0
5ë²ˆ     15.0
6ë²ˆ     80.0
7ë²ˆ     55.0
8ë²ˆ    100.0
Name: êµ­ì–´, dtype: float64

: ìµœë¹ˆê°’ìœ¼ë¡œ ëŒ€ì²´\
```df['column'].fillna(df['column'].mode()[0])```\
  ìµœë¹ˆê°’ìœ¼ë¡œ ì±„ìš¸ ë•ŒëŠ” [0]ë²ˆì§¸ indexë¥¼ ì§€ì •í•˜ì—¬ ì±„ì›Œì•¼ í•¨

In [15]:
# ìµœë¹ˆê°’ìœ¼ë¡œ ì±„ìš¸ ë•ŒëŠ” [0]ë²ˆì§¸ indexë¥¼ ì§€ì •í•˜ì—¬ ì±„ì›Œì•¼ í•¨
df['êµ­ì–´'].fillna(df['êµ­ì–´'].mode()[0])

ì§€ì›ë²ˆí˜¸
1ë²ˆ     90.0
2ë²ˆ     15.0
3ë²ˆ     15.0
4ë²ˆ     40.0
5ë²ˆ     15.0
6ë²ˆ     80.0
7ë²ˆ     55.0
8ë²ˆ    100.0
Name: êµ­ì–´, dtype: float64

: ì¹´í…Œê³ ë¦¬í˜• ë°ì´í„° ì²˜ë¦¬
- ì´ë¯¸ ì¶”ê°€ëœ ì¹´í…Œê³ ë¦¬ëŠ” ë°”ë¡œ fillna() ê°€ëŠ¥
- ì—†ëŠ” ì¹´í…Œê³ ë¦¬ëŠ” ``add_categories``ë¡œ ì¶”ê°€ í›„ ê°€ëŠ¥

In [16]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
df['SWíŠ¹ê¸°'] = df['SWíŠ¹ê¸°'].astype('category')
df['SWíŠ¹ê¸°']

ì§€ì›ë²ˆí˜¸
1ë²ˆ        Python
2ë²ˆ          Java
3ë²ˆ    Javascript
4ë²ˆ           NaN
5ë²ˆ           NaN
6ë²ˆ             C
7ë²ˆ        PYTHON
8ë²ˆ            C#
Name: SWíŠ¹ê¸°, dtype: category
Categories (6, object): ['C', 'C#', 'Java', 'Javascript', 'PYTHON', 'Python']

In [17]:
df['SWíŠ¹ê¸°'].cat.add_categories('No Data').fillna('No Data')

ì§€ì›ë²ˆí˜¸
1ë²ˆ        Python
2ë²ˆ          Java
3ë²ˆ    Javascript
4ë²ˆ       No Data
5ë²ˆ       No Data
6ë²ˆ             C
7ë²ˆ        PYTHON
8ë²ˆ            C#
Name: SWíŠ¹ê¸°, dtype: category
Categories (7, object): ['C', 'C#', 'Java', 'Javascript', 'PYTHON', 'Python', 'No Data']

### âœ… ê²°ì¸¡ì¹˜ ì œì™¸
: ```df.dropna(axis, how)```
- axis : index(defaultê°’) or columns
- how : any(defaultê°’) or all

In [18]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
df.dropna(inplace=True)
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [19]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
# NaNì´ í•˜ë‚˜ë¼ë„ ìˆëŠ” row ì‚­ì œ
df.dropna(axis='index', how='any')

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [20]:
# NaNì´ í•˜ë‚˜ë¼ë„ ìˆëŠ” column ì‚­ì œ
df.dropna(axis='columns')

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95

In [21]:
df['í•™êµ'] = np.nan
df

       ì´ë¦„  í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜ NaN  197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ NaN  184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­ NaN  168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›… NaN  187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸ NaN  188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ NaN  202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚° NaN  188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘ NaN  190  100   85   90  95  95          C#

In [22]:
# ë°ì´í„° ì „ì²´ê°€ NaNì¸ ê²½ìš°ì—ë§Œ column ì‚­ì œ
df.dropna(axis='columns', how='all')

       ì´ë¦„    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  190  100   85   90  95  95          C#