# üìç Í≤∞Ï∏°Ïπò
: ÎπÑÏñ¥ÏûàÎäî Îç∞Ïù¥ÌÑ∞
 
### ‚úÖ ÏóëÏÖÄÎ°ú Ïó¥Í∏∞
: ```pd.read_excel('ÌååÏùºÎ™Ö.xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏') # index ÏÑ§Ï†ï
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

### ‚úÖ Í≤∞Ï∏°ÏπòÎ°ú Ï±ÑÏö∞Í∏∞
: ```df['column'] = np.nan```

In [2]:
import numpy as np

df['ÌïôÍµê'] = np.nan # ÌïôÍµê Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤¥Î•º NaNÏúºÎ°ú Ï±ÑÏõÄ
df

       Ïù¥Î¶Ñ  ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò NaN  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå NaN  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠ NaN  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ NaN  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏ NaN  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú NaN  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞ NaN  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë NaN  190  100   85   90  95  95          C#

### ‚úÖ Í≤∞Ï∏°Ïπò ÎåÄÏ≤¥
: ```df.fillna('data')```

In [3]:
df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏')
df.fillna('') # NaN Îç∞Ïù¥ÌÑ∞Î•º ÎπàÏπ∏ÏúºÎ°ú Ï±ÑÏõÄ

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

In [4]:
df.fillna('ÏóÜÏùå', inplace=True)
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80          ÏóÜÏùå
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10          ÏóÜÏùå
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

### ‚úÖ Í≤∞Ï∏°Ïπò Ï†úÏô∏
: ```df.dropna(axis, how)```
- axis : index(defaultÍ∞í) or columns
- how : any(defaultÍ∞í) or all

In [5]:
df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏')
df.dropna(inplace=True)
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

In [6]:
df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏')
# NaNÏù¥ ÌïòÎÇòÎùºÎèÑ ÏûàÎäî row ÏÇ≠Ï†ú
df.dropna(axis='index', how='any')

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

In [7]:
# NaNÏù¥ ÌïòÎÇòÎùºÎèÑ ÏûàÎäî column ÏÇ≠Ï†ú
df.dropna(axis='columns')

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95

In [8]:
df['ÌïôÍµê'] = np.nan
df

       Ïù¥Î¶Ñ  ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò NaN  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå NaN  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠ NaN  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ NaN  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏ NaN  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú NaN  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞ NaN  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë NaN  190  100   85   90  95  95          C#

In [9]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤¥Í∞Ä NaNÏù∏ Í≤ΩÏö∞ÏóêÎßå column ÏÇ≠Ï†ú
df.dropna(axis='columns', how='all')

       Ïù¥Î¶Ñ    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  190  100   85   90  95  95          C#