# ğŸ“ ê²°ì¸¡ì¹˜
: ë¹„ì–´ìˆëŠ” ë°ì´í„°
 
### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… ê²°ì¸¡ì¹˜ë¡œ ì±„ìš°ê¸°
: ```df['column'] = np.nan```

In [2]:
import numpy as np

df['í•™êµ'] = np.nan # í•™êµ ë°ì´í„° ì „ì²´ë¥¼ NaNìœ¼ë¡œ ì±„ì›€
df

       ì´ë¦„  í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜ NaN  197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ NaN  184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­ NaN  168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›… NaN  187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸ NaN  188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ NaN  202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚° NaN  188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘ NaN  190  100   85   90  95  95          C#

### âœ… ê²°ì¸¡ì¹˜ ëŒ€ì²´
: ```df.fillna('data')```

In [3]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
df.fillna('') # NaN ë°ì´í„°ë¥¼ ë¹ˆì¹¸ìœ¼ë¡œ ì±„ì›€

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [4]:
df.fillna('ì—†ìŒ', inplace=True)
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80          ì—†ìŒ
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10          ì—†ìŒ
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… ê²°ì¸¡ì¹˜ ì œì™¸
: ```df.dropna(axis, how)```
- axis : index(defaultê°’) or columns
- how : any(defaultê°’) or all

In [5]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
df.dropna(inplace=True)
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [6]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
# NaNì´ í•˜ë‚˜ë¼ë„ ìˆëŠ” row ì‚­ì œ
df.dropna(axis='index', how='any')

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [7]:
# NaNì´ í•˜ë‚˜ë¼ë„ ìˆëŠ” column ì‚­ì œ
df.dropna(axis='columns')

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95

In [8]:
df['í•™êµ'] = np.nan
df

       ì´ë¦„  í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜ NaN  197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ NaN  184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­ NaN  168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›… NaN  187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸ NaN  188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ NaN  202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚° NaN  188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘ NaN  190  100   85   90  95  95          C#

In [9]:
# ë°ì´í„° ì „ì²´ê°€ NaNì¸ ê²½ìš°ì—ë§Œ column ì‚­ì œ
df.dropna(axis='columns', how='all')

       ì´ë¦„    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  190  100   85   90  95  95          C#