# üìç Í≤∞Ï∏°Ïπò
: ÎπÑÏñ¥ÏûàÎäî Îç∞Ïù¥ÌÑ∞
 
### ‚úÖ ÏóëÏÖÄÎ°ú Ïó¥Í∏∞
: ```pd.read_excel('ÌååÏùºÎ™Ö.xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏') # index ÏÑ§Ï†ï
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

### ‚úÖ Í≤∞Ï∏°ÏπòÎ°ú Ï±ÑÏö∞Í∏∞
: ```df['column'] = np.nan```

In [2]:
import numpy as np

df['ÌïôÍµê'] = np.nan # ÌïôÍµê Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤¥Î•º NaNÏúºÎ°ú Ï±ÑÏõÄ
df

       Ïù¥Î¶Ñ  ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò NaN  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå NaN  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠ NaN  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ NaN  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏ NaN  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú NaN  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞ NaN  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë NaN  190  100   85   90  95  95          C#

### ‚úÖ Í≤∞Ï∏°Ïπò Ï∞æÍ∏∞
: ```isnull()```, ```isna()```

In [3]:
df['SWÌäπÍ∏∞'].isnull()

ÏßÄÏõêÎ≤àÌò∏
1Î≤à    False
2Î≤à    False
3Î≤à    False
4Î≤à     True
5Î≤à     True
6Î≤à    False
7Î≤à    False
8Î≤à    False
Name: SWÌäπÍ∏∞, dtype: bool

In [4]:
df['SWÌäπÍ∏∞'].notnull()

ÏßÄÏõêÎ≤àÌò∏
1Î≤à     True
2Î≤à     True
3Î≤à     True
4Î≤à    False
5Î≤à    False
6Î≤à     True
7Î≤à     True
8Î≤à     True
Name: SWÌäπÍ∏∞, dtype: bool

In [5]:
df['SWÌäπÍ∏∞'].isna()

ÏßÄÏõêÎ≤àÌò∏
1Î≤à    False
2Î≤à    False
3Î≤à    False
4Î≤à     True
5Î≤à     True
6Î≤à    False
7Î≤à    False
8Î≤à    False
Name: SWÌäπÍ∏∞, dtype: bool

In [6]:
df['SWÌäπÍ∏∞'].notna()

ÏßÄÏõêÎ≤àÌò∏
1Î≤à     True
2Î≤à     True
3Î≤à     True
4Î≤à    False
5Î≤à    False
6Î≤à     True
7Î≤à     True
8Î≤à     True
Name: SWÌäπÍ∏∞, dtype: bool

In [7]:
df[df['SWÌäπÍ∏∞'].isnull()] # boolean indexing Ï†ÅÏö© Í∞ÄÎä•

       Ïù¥Î¶Ñ  ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
4Î≤à    ÏÑúÌÉúÏõÖ NaN  187  40  60  70  75  80  NaN
5Î≤à    Í∞ïÎ∞±Ìò∏ NaN  188  15  20  10  35  10  NaN

In [8]:
# Í∞Å column Í≤∞Ï∏° Îç∞Ïù¥ÌÑ∞Í∞ØÏàò
df.isna().sum()

Ïù¥Î¶Ñ      0
ÌïôÍµê      8
ÌÇ§       0
Íµ≠Ïñ¥      0
ÏòÅÏñ¥      0
ÏàòÌïô      0
Í≥ºÌïô      0
ÏÇ¨Ìöå      0
SWÌäπÍ∏∞    2
dtype: int64

In [9]:
# Ï†ÑÏ≤¥ Í≤∞Ï∏° Îç∞Ïù¥ÌÑ∞Í∞ØÏàò
df.isnull().sum().sum()

10

### ‚úÖ Í≤∞Ï∏°Ïπò ÌïÑÌÑ∞ÎßÅ
: ```df.loc[df['column'].isnull()]```

In [10]:
# SWÌäπÍ∏∞Í∞Ä NaNÏù∏ Í∞íÎßå Ï∂úÎ†•
df.loc[df['SWÌäπÍ∏∞'].isnull()]

       Ïù¥Î¶Ñ  ÌïôÍµê    ÌÇ§  Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
4Î≤à    ÏÑúÌÉúÏõÖ NaN  187  40  60  70  75  80  NaN
5Î≤à    Í∞ïÎ∞±Ìò∏ NaN  188  15  20  10  35  10  NaN

### ‚úÖ Í≤∞Ï∏°Ïπò ÎåÄÏ≤¥
: ```df.fillna('data')```

In [11]:
df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏')
df.fillna('') # NaN Îç∞Ïù¥ÌÑ∞Î•º ÎπàÏπ∏ÏúºÎ°ú Ï±ÑÏõÄ

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

In [12]:
df.fillna('ÏóÜÏùå', inplace=True)
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80          ÏóÜÏùå
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10          ÏóÜÏùå
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

: ÌèâÍ∑†ÏúºÎ°ú ÎåÄÏ≤¥\
```df['column'].fillna(df['column'].mean())```

In [13]:
df.loc['2Î≤à', 'Íµ≠Ïñ¥'] = np.nan
df.loc['3Î≤à', 'Íµ≠Ïñ¥'] = np.nan
df['Íµ≠Ïñ¥'].fillna(df['Íµ≠Ïñ¥'].mean())

ÏßÄÏõêÎ≤àÌò∏
1Î≤à     90.000000
2Î≤à     63.333333
3Î≤à     63.333333
4Î≤à     40.000000
5Î≤à     15.000000
6Î≤à     80.000000
7Î≤à     55.000000
8Î≤à    100.000000
Name: Íµ≠Ïñ¥, dtype: float64

: Ï§ëÏïôÍ∞íÏúºÎ°ú ÎåÄÏ≤¥\
```df['column'].fillna(df['column'].median())```

In [14]:
df['Íµ≠Ïñ¥'].fillna(df['Íµ≠Ïñ¥'].median())

ÏßÄÏõêÎ≤àÌò∏
1Î≤à     90.0
2Î≤à     67.5
3Î≤à     67.5
4Î≤à     40.0
5Î≤à     15.0
6Î≤à     80.0
7Î≤à     55.0
8Î≤à    100.0
Name: Íµ≠Ïñ¥, dtype: float64

: ÏµúÎπàÍ∞íÏúºÎ°ú ÎåÄÏ≤¥\
```df['column'].fillna(df['column'].mode()[0])```\
  ÏµúÎπàÍ∞íÏúºÎ°ú Ï±ÑÏö∏ ÎïåÎäî [0]Î≤àÏß∏ indexÎ•º ÏßÄÏ†ïÌïòÏó¨ Ï±ÑÏõåÏïº Ìï®

In [15]:
# ÏµúÎπàÍ∞íÏúºÎ°ú Ï±ÑÏö∏ ÎïåÎäî [0]Î≤àÏß∏ indexÎ•º ÏßÄÏ†ïÌïòÏó¨ Ï±ÑÏõåÏïº Ìï®
df['Íµ≠Ïñ¥'].fillna(df['Íµ≠Ïñ¥'].mode()[0])

ÏßÄÏõêÎ≤àÌò∏
1Î≤à     90.0
2Î≤à     15.0
3Î≤à     15.0
4Î≤à     40.0
5Î≤à     15.0
6Î≤à     80.0
7Î≤à     55.0
8Î≤à    100.0
Name: Íµ≠Ïñ¥, dtype: float64

: Ïπ¥ÌÖåÍ≥†Î¶¨Ìòï Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨
- Ïù¥ÎØ∏ Ï∂îÍ∞ÄÎêú Ïπ¥ÌÖåÍ≥†Î¶¨Îäî Î∞îÎ°ú fillna() Í∞ÄÎä•
- ÏóÜÎäî Ïπ¥ÌÖåÍ≥†Î¶¨Îäî ``add_categories``Î°ú Ï∂îÍ∞Ä ÌõÑ Í∞ÄÎä•

In [16]:
df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏')
df['SWÌäπÍ∏∞'] = df['SWÌäπÍ∏∞'].astype('category')
df['SWÌäπÍ∏∞']

ÏßÄÏõêÎ≤àÌò∏
1Î≤à        Python
2Î≤à          Java
3Î≤à    Javascript
4Î≤à           NaN
5Î≤à           NaN
6Î≤à             C
7Î≤à        PYTHON
8Î≤à            C#
Name: SWÌäπÍ∏∞, dtype: category
Categories (6, object): ['C', 'C#', 'Java', 'Javascript', 'PYTHON', 'Python']

In [17]:
df['SWÌäπÍ∏∞'].cat.add_categories('No Data').fillna('No Data')

ÏßÄÏõêÎ≤àÌò∏
1Î≤à        Python
2Î≤à          Java
3Î≤à    Javascript
4Î≤à       No Data
5Î≤à       No Data
6Î≤à             C
7Î≤à        PYTHON
8Î≤à            C#
Name: SWÌäπÍ∏∞, dtype: category
Categories (7, object): ['C', 'C#', 'Java', 'Javascript', 'PYTHON', 'Python', 'No Data']

### ‚úÖ Í≤∞Ï∏°Ïπò Ï†úÏô∏
: ```df.dropna(axis, how)```
- axis : index(defaultÍ∞í) or columns
- how : any(defaultÍ∞í) or all

In [18]:
df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏')
df.dropna(inplace=True)
df

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

In [19]:
df = pd.read_excel('score.xlsx', index_col='ÏßÄÏõêÎ≤àÌò∏')
# NaNÏù¥ ÌïòÎÇòÎùºÎèÑ ÏûàÎäî row ÏÇ≠Ï†ú
df.dropna(axis='index', how='any')

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75  Javascript
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95          C#

In [20]:
# NaNÏù¥ ÌïòÎÇòÎùºÎèÑ ÏûàÎäî column ÏÇ≠Ï†ú
df.dropna(axis='columns')

       Ïù¥Î¶Ñ   ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  Î∂ÅÏÇ∞Í≥†  197   90   85  100  95  85
2Î≤à    Ï†ïÎåÄÎßå  Î∂ÅÏÇ∞Í≥†  184   40   35   50  55  25
3Î≤à    ÏÜ°ÌÉúÏÑ≠  Î∂ÅÏÇ∞Í≥†  168   80   75   70  80  75
4Î≤à    ÏÑúÌÉúÏõÖ  Î∂ÅÏÇ∞Í≥†  187   40   60   70  75  80
5Î≤à    Í∞ïÎ∞±Ìò∏  Î∂ÅÏÇ∞Í≥†  188   15   20   10  35  10
6Î≤à    Î≥ÄÎçïÍ∑ú  Îä•ÎÇ®Í≥†  202   80  100   95  85  80
7Î≤à    Ìô©ÌÉúÏÇ∞  Îä•ÎÇ®Í≥†  188   55   65   45  40  35
8Î≤à    Ïú§ÎåÄÌòë  Îä•ÎÇ®Í≥†  190  100   85   90  95  95

In [21]:
df['ÌïôÍµê'] = np.nan
df

       Ïù¥Î¶Ñ  ÌïôÍµê    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò NaN  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå NaN  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠ NaN  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ NaN  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏ NaN  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú NaN  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞ NaN  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë NaN  190  100   85   90  95  95          C#

In [22]:
# Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤¥Í∞Ä NaNÏù∏ Í≤ΩÏö∞ÏóêÎßå column ÏÇ≠Ï†ú
df.dropna(axis='columns', how='all')

       Ïù¥Î¶Ñ    ÌÇ§   Íµ≠Ïñ¥   ÏòÅÏñ¥   ÏàòÌïô  Í≥ºÌïô  ÏÇ¨Ìöå        SWÌäπÍ∏∞
ÏßÄÏõêÎ≤àÌò∏
1Î≤à    Ï±ÑÏπòÏàò  197   90   85  100  95  85      Python
2Î≤à    Ï†ïÎåÄÎßå  184   40   35   50  55  25        Java
3Î≤à    ÏÜ°ÌÉúÏÑ≠  168   80   75   70  80  75  Javascript
4Î≤à    ÏÑúÌÉúÏõÖ  187   40   60   70  75  80         NaN
5Î≤à    Í∞ïÎ∞±Ìò∏  188   15   20   10  35  10         NaN
6Î≤à    Î≥ÄÎçïÍ∑ú  202   80  100   95  85  80           C
7Î≤à    Ìô©ÌÉúÏÇ∞  188   55   65   45  40  35      PYTHON
8Î≤à    Ïú§ÎåÄÌòë  190  100   85   90  95  95          C#