# ğŸ“ ë°ì´í„°ì •ë ¬

### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… columnê¸°ì¤€ ì •ë ¬(sort_values)
: ```df.sort_values([column_list], ascending=[True/False])```

In [2]:
df.sort_values('í‚¤') # í‚¤ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C

In [4]:
df.sort_values('í‚¤', ascending=False) # í‚¤ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript

In [5]:
df.sort_values(['ìˆ˜í•™', 'ì˜ì–´'], ascending=False) # ìˆ˜í•™, ì˜ì–´ ì ìˆ˜ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN

In [6]:
df.sort_values(['ìˆ˜í•™', 'ì˜ì–´'], ascending=[True, False]) # ìˆ˜í•™ì ìˆ˜ëŠ” ì˜¤ë¦„ì°¨ìˆœ, ì˜ì–´ì ìˆ˜ëŠ” ë‚´ë¦¼ì°¨ìˆœ

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python

: ```df['column'].sort_values()```\
  ì‹œë¦¬ì¦ˆë¡œ ì¶œë ¥

In [7]:
df['í‚¤'].sort_values()

ì§€ì›ë²ˆí˜¸
3ë²ˆ    168
2ë²ˆ    184
4ë²ˆ    187
5ë²ˆ    188
7ë²ˆ    188
8ë²ˆ    190
1ë²ˆ    197
6ë²ˆ    202
Name: í‚¤, dtype: int64

### âœ… indexê¸°ì¤€ ì •ë ¬(sort_index)
: ```df.sort_index(ascending=True/False)```

In [8]:
df.sort_index() # index ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [9]:
df.sort_index(ascending=False) # index ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python