# ğŸ“ ë°ì´í„°ì¶”ê°€
### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… Row ì¶”ê°€
: ```df.loc['index']=[list]```

In [2]:
df.loc['9ë²ˆ'] = ['ì´ì •í™˜', 'í•´ë‚¨ê³ ', 184, 90, 90, 90, 90, 90, 'Kotlin']
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#
9ë²ˆ    ì´ì •í™˜  í•´ë‚¨ê³   184   90   90   90  90  90      Kotlin

### âœ… Column ì¶”ê°€
: ```df['new_column']=data```

In [3]:
df['ì´í•©'] = df['êµ­ì–´'] + df['ì˜ì–´'] + df['ìˆ˜í•™'] + df['ê³¼í•™'] + df['ì‚¬íšŒ']
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°   ì´í•©
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python  455
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java  205
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript  380
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN  325
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN   90
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C  440
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON  240
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#  465
9ë²ˆ    ì´ì •í™˜  í•´ë‚¨ê³   184   90   90   90  90  90      Kotlin  450

In [4]:
df['ê²°ê³¼'] = 'Fail'
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°   ì´í•©    ê²°ê³¼
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python  455  Fail
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java  205  Fail
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript  380  Fail
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN  325  Fail
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN   90  Fail
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C  440  Fail
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON  240  Fail
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#  465  Fail
9ë²ˆ    ì´ì •í™˜  í•´ë‚¨ê³   184   90   90   90  90  90      Kotlin  450  Fail

### âœ… ì¡°ê±´, ë°ì´í„°ìˆ˜ì • ì‘ìš©

In [5]:
df.loc[df['ì´í•©'] > 400, 'ê²°ê³¼'] = 'Pass' # ì´í•©ì´ 400ë³´ë‹¤ í° ë°ì´í„°ì— ëŒ€í•´ì„œ ê²°ê³¼ë¥¼ Passë¡œ ì—…ë°ì´íŠ¸
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°   ì´í•©    ê²°ê³¼
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python  455  Pass
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java  205  Fail
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript  380  Fail
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN  325  Fail
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN   90  Fail
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C  440  Pass
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON  240  Fail
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#  465  Pass
9ë²ˆ    ì´ì •í™˜  í•´ë‚¨ê³   184   90   90   90  90  90      Kotlin  450  Pass

# ğŸ“ datetime(ë‚ ì§œ, ì‹œê°„)
### âœ… date_range
: ```pd.date_range(start, end, periods, freq)```
- start : ì‹œì‘ë‚ ì§œ
- end : ëë‚ ì§œ
- periods : ìƒì„±í•  ë°ì´í„° ê°œìˆ˜
- freq : ì£¼ê¸°

In [6]:
dates = pd.date_range('20240101', periods=df.shape[0], freq='15H')
df['date'] = dates
df

,ì´ë¦„,í•™êµ,í‚¤,êµ­ì–´,ì˜ì–´,ìˆ˜í•™,ê³¼í•™,ì‚¬íšŒ,SWíŠ¹ê¸°,ì´í•©,ê²°ê³¼,date
ì§€ì›ë²ˆí˜¸,,,,,,,,,,,,
1ë²ˆ,ì±„ì¹˜ìˆ˜,ë¶ì‚°ê³,197,90,85,100,95,85,Python,455,Pass,2024-01-01 00:00:00
2ë²ˆ,ì •ëŒ€ë§Œ,ë¶ì‚°ê³,184,40,35,50,55,25,Java,205,Fail,2024-01-01 15:00:00
3ë²ˆ,ì†¡íƒœì„­,ë¶ì‚°ê³,168,80,75,70,80,75,Javascript,380,Fail,2024-01-02 06:00:00
4ë²ˆ,ì„œíƒœì›…,ë¶ì‚°ê³,187,40,60,70,75,80,NaN,325,Fail,2024-01-02 21:00:00
5ë²ˆ,ê°•ë°±í˜¸,ë¶ì‚°ê³,188,15,20,10,35,10,NaN,90,Fail,2024-01-03 12:00:00
6ë²ˆ,ë³€ë•ê·œ,ëŠ¥ë‚¨ê³,202,80,100,95,85,80,C,440,Pass,2024-01-04 03:00:00
7ë²ˆ,í™©íƒœì‚°,ëŠ¥ë‚¨ê³,188,55,65,45,40,35,PYTHON,240,Fail,2024-01-04 18:00:00
8ë²ˆ,ìœ¤ëŒ€í˜‘,ëŠ¥ë‚¨ê³,190,100,85,90,95,95,C#,465,Pass,2024-01-05 09:00:00
9ë²ˆ,ì´ì •í™˜,í•´ë‚¨ê³,184,90,90,90,90,90,Kotlin,450,Pass,2024-01-06 00:00:00

In [7]:
df['date'].info()

<class 'pandas.core.series.Series'>
Index: 9 entries, 1ë²ˆ to 9ë²ˆ
Series name: date
Non-Null Count  Dtype
--------------  -----
9 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 144.0+ bytes

### âœ… datetime type
: dtì ‘ê·¼ìë¡œ ì•„ë˜ì˜ ë‚ ì§œì†ì„±ì— ì ‘ê·¼ ê°€ëŠ¥
- pd.Series.dt.year: ì—°ë„
- pd.Series.dt.month: ì›”
- pd.Series.dt.day: ì¼
- pd.Series.dt.hour: ì‹œ
- pd.Series.dt.minute: ë¶„
- pd.Series.dt.second: ì´ˆ
- pd.Series.dt.microsecond: micro ì´ˆ
- pd.Series.dt.nanosecond: nano ì´ˆ
- pd.Series.dt.week: ì£¼
- pd.Series.dt.weekofyear: ì—°ì¤‘ ëª‡ ì§¸ì£¼
- pd.Series.dt.dayofweek: ìš”ì¼ (ì›”ìš”ì¼ 0, ì¼ìš”ì¼ 6)
- pd.Series.dt.weekday: ìš”ì¼ (dayofweekê³¼ ë™ì¼)
- pd.Series.dt.dayofyear: ì—°ì¤‘ ëª‡ ë²ˆì§¸ ë‚ 
- pd.Series.dt.quarter: ë¶„ê¸°

In [8]:
df['date'].dt.year.head()

ì§€ì›ë²ˆí˜¸
1ë²ˆ    2024
2ë²ˆ    2024
3ë²ˆ    2024
4ë²ˆ    2024
5ë²ˆ    2024
Name: date, dtype: int32

In [9]:
df['date'].dt.dayofweek.head()

ì§€ì›ë²ˆí˜¸
1ë²ˆ    0
2ë²ˆ    0
3ë²ˆ    1
4ë²ˆ    1
5ë²ˆ    2
Name: date, dtype: int32

### âœ… datetime type ë³€í™˜
: ```pd.to_datetime(df['column'])```

In [10]:
df = pd.read_csv('seoul_bicycle.csv')
df.head()

,ëŒ€ì—¬ì¼ì,ëŒ€ì—¬ì†Œë²ˆí˜¸,ëŒ€ì—¬ì†Œëª…,ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ,ì„±ë³„,ì—°ë ¹ëŒ€ì½”ë“œ,ì´ìš©ê±´ìˆ˜,ìš´ë™ëŸ‰,íƒ„ì†ŒëŸ‰,ì´ë™ê±°ë¦¬,ì´ìš©ì‹œê°„
0,Jan-20-2020,3,ì¤‘ë‘ì„¼í„°,ì¼ì¼(íšŒì›),M,AGE_003,3,61.82,0.52,2230.0,75
1,Jan-20-2020,3,ì¤‘ë‘ì„¼í„°,ì¼ì¼(íšŒì›),M,AGE_004,1,39.62,0.28,1220.0,15
2,Jan-20-2020,3,ì¤‘ë‘ì„¼í„°,ì •ê¸°,M,AGE_005,3,430.85,4.01,17270.0,53
3,Jan-20-2020,5,ìƒì•”ì„¼í„° ì •ë¹„ì‹¤,ì¼ì¼(íšŒì›),\N,AGE_005,2,1.79,0.02,90.0,33
4,Jan-20-2020,5,ìƒì•”ì„¼í„° ì •ë¹„ì‹¤,ì •ê¸°,F,AGE_003,1,4501.96,45.47,196010.0,64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327231 entries, 0 to 327230
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ëŒ€ì—¬ì¼ì    327231 non-null  object
 1   ëŒ€ì—¬ì†Œë²ˆí˜¸   327231 non-null  int64
 2   ëŒ€ì—¬ì†Œëª…    327231 non-null  object
 3   ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ  327231 non-null  object
 4   ì„±ë³„      272841 non-null  object
 5   ì—°ë ¹ëŒ€ì½”ë“œ   327231 non-null  object
 6   ì´ìš©ê±´ìˆ˜    327231 non-null  int64
 7   ìš´ë™ëŸ‰     327231 non-null  object
 8   íƒ„ì†ŒëŸ‰     327231 non-null  object
 9   ì´ë™ê±°ë¦¬    327231 non-null  float64
 10  ì´ìš©ì‹œê°„    327231 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 27.5+ MB

In [12]:
# ëŒ€ì—¬ì¼ì ì»¬ëŸ¼ì€ object íƒ€ì…ì´ë¯€ë¡œ datetimeíƒ€ì…ìœ¼ë¡œ ë³€ê²½í•´ì•¼ .dt ì ‘ê·¼ì ì‚¬ìš© ê°€ëŠ¥
df['ëŒ€ì—¬ì¼ì'] = pd.to_datetime(df['ëŒ€ì—¬ì¼ì'])
df['ëŒ€ì—¬ì¼ì'].dt.year.head()

0    2020
1    2020
2    2020
3    2020
4    2020
Name: ëŒ€ì—¬ì¼ì, dtype: int32

# ğŸ“ ë°ì´í„°ì‚­ì œ
### âœ… Column ì‚­ì œ
: ```df.drop(columns=[column_list])```

In [13]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
df.drop(columns=['SWíŠ¹ê¸°']) # SWíŠ¹ê¸° columnì„ ì‚­ì œ

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95

In [14]:
df.drop(columns=['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™'], inplace=True)
df

       ì´ë¦„   í•™êµ    í‚¤  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  95  95          C#

: ```df.drop([column_list], axis=1)```

In [15]:
df.drop('SWíŠ¹ê¸°', axis=1)

       ì´ë¦„   í•™êµ    í‚¤  ê³¼í•™  ì‚¬íšŒ
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  95  85
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  55  25
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  75  80
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  35  10
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202  85  80
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  40  35
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  95  95

### âœ… Row ì‚­ì œ
: ```df.drop(index=[row_list])```

In [16]:
df.drop(index='4ë²ˆ') # 4ë²ˆ í•™ìƒ rowë¥¼ ì‚­ì œ

       ì´ë¦„   í•™êµ    í‚¤  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  Javascript
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  95  95          C#

In [17]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
filt = df['ìˆ˜í•™'] < 80 # ìˆ˜í•™ì ìˆ˜ 80ì ë¯¸ë§Œ í•™ìƒ í•„í„°ë§
df[filt]

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35  50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75  70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60  70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15  20  10  35  10         NaN
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188  55  65  45  40  35      PYTHON

In [18]:
df[filt].index

Index(['2ë²ˆ', '3ë²ˆ', '4ë²ˆ', '5ë²ˆ', '7ë²ˆ'], dtype='object', name='ì§€ì›ë²ˆí˜¸')

In [19]:
df.drop(index=df[filt].index) # ìˆ˜í•™ì ìˆ˜ 80ì  ë¯¸ë§Œì¸ í•™ìƒ ì‚­ì œ

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ    SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85  Python
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80       C
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95      C#