# ğŸ“ ë°ì´í„°ìˆ˜ì •
### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… Column ë°ì´í„° ìˆ˜ì •
: ```df['column'].replace({'old_column' : 'new_column'})```

In [2]:
# ë¶ì‚°ê³ ëŠ” ìƒë¶ê³ ë¡œ ìˆ˜ì •
df['í•™êµ'].replace({'ë¶ì‚°ê³ ':'ìƒë¶ê³ '}, inplace=True)
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ìƒë¶ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ìƒë¶ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ìƒë¶ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ìƒë¶ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ìƒë¶ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… ì†Œë¬¸ì ëŒ€ì²´
: ```df.str.lower()```

In [3]:
df['SWíŠ¹ê¸°'] = df['SWíŠ¹ê¸°'].str.lower()
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ìƒë¶ê³   197   90   85  100  95  85      python
2ë²ˆ    ì •ëŒ€ë§Œ  ìƒë¶ê³   184   40   35   50  55  25        java
3ë²ˆ    ì†¡íƒœì„­  ìƒë¶ê³   168   80   75   70  80  75  javascript
4ë²ˆ    ì„œíƒœì›…  ìƒë¶ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ìƒë¶ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           c
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      python
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          c#

### âœ… str í•©
: ```'str' + 'str'```

In [4]:
df['í•™êµ'] = df['í•™êµ'] + 'ë“±í•™êµ'
df

       ì´ë¦„      í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ìƒë¶ê³ ë“±í•™êµ  197   90   85  100  95  85      python
2ë²ˆ    ì •ëŒ€ë§Œ  ìƒë¶ê³ ë“±í•™êµ  184   40   35   50  55  25        java
3ë²ˆ    ì†¡íƒœì„­  ìƒë¶ê³ ë“±í•™êµ  168   80   75   70  80  75  javascript
4ë²ˆ    ì„œíƒœì›…  ìƒë¶ê³ ë“±í•™êµ  187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ìƒë¶ê³ ë“±í•™êµ  188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³ ë“±í•™êµ  202   80  100   95  85  80           c
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³ ë“±í•™êµ  188   55   65   45  40  35      python
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³ ë“±í•™êµ  190  100   85   90  95  95          c#

### âœ… í•¨ìˆ˜ì ìš©
: ```df['column'].apply(function)```

In [5]:
# ë°ì´í„°íƒ€ì… ë¶ˆì¼ì¹˜(int + str)ë¡œ error ë°œìƒ
df['í‚¤'] = df['í‚¤'] + 'cm'
df

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U2')) -> None

In [6]:
# í‚¤ ë’¤ì— cmë¥¼ ë¶™ì´ëŠ” í•¨ìˆ˜
def add_cm(height):
    return str(height) + 'cm'

df['í‚¤'] = df['í‚¤'].apply(add_cm) # í‚¤ ë°ì´í„°ì— ëŒ€í•´ add_cmí•¨ìˆ˜ë¥¼ í˜¸ì¶œí•œ ê²°ê³¼ ë°ì´í„°ì— ë°˜ì˜
df

       ì´ë¦„      í•™êµ      í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ìƒë¶ê³ ë“±í•™êµ  197cm   90   85  100  95  85      python
2ë²ˆ    ì •ëŒ€ë§Œ  ìƒë¶ê³ ë“±í•™êµ  184cm   40   35   50  55  25        java
3ë²ˆ    ì†¡íƒœì„­  ìƒë¶ê³ ë“±í•™êµ  168cm   80   75   70  80  75  javascript
4ë²ˆ    ì„œíƒœì›…  ìƒë¶ê³ ë“±í•™êµ  187cm   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ìƒë¶ê³ ë“±í•™êµ  188cm   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³ ë“±í•™êµ  202cm   80  100   95  85  80           c
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³ ë“±í•™êµ  188cm   55   65   45  40  35      python
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³ ë“±í•™êµ  190cm  100   85   90  95  95          c#

In [7]:
# ì²« ê¸€ìëŠ” ëŒ€ë¬¸ìë¡œ, ë‚˜ë¨¸ì§€ëŠ” ì†Œë¬¸ìë¡œ
def capitalize(lang):
    if pd.notnull(lang):
        return lang.capitalize()
    return lang

df['SWíŠ¹ê¸°'] = df['SWíŠ¹ê¸°'].apply(capitalize)
df

       ì´ë¦„      í•™êµ      í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ìƒë¶ê³ ë“±í•™êµ  197cm   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ìƒë¶ê³ ë“±í•™êµ  184cm   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ìƒë¶ê³ ë“±í•™êµ  168cm   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ìƒë¶ê³ ë“±í•™êµ  187cm   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ìƒë¶ê³ ë“±í•™êµ  188cm   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³ ë“±í•™êµ  202cm   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³ ë“±í•™êµ  188cm   55   65   45  40  35      Python
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³ ë“±í•™êµ  190cm  100   85   90  95  95          C#

### âœ… Cell ìˆ˜ì •
: ```df.loc['index', 'column'] = data```

In [8]:
df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸')
df.loc['4ë²ˆ', 'SWíŠ¹ê¸°'] = 'Python' # 4ë²ˆ í•™ìƒì˜ SWíŠ¹ê¸° ë°ì´í„°ë¥¼ Pythonìœ¼ë¡œ ë³€ê²½
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80      Python
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

In [9]:
df.loc['5ë²ˆ', ['í•™êµ', 'SWíŠ¹ê¸°']] = ['ëŠ¥ë‚¨ê³ ', 'C'] # 5ë²ˆ í•™ìƒì˜ í•™êµëŠ” ëŠ¥ë‚¨ê³ , SWíŠ¹ê¸°ëŠ” Cë¡œ ìˆ˜ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80      Python
5ë²ˆ    ê°•ë°±í˜¸  ëŠ¥ë‚¨ê³   188   15   20   10  35  10           C
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… Column ìˆœì„œ ë³€ê²½
: ```df[[new_column_list]]```

In [10]:
cols = list(df.columns)
cols

['ì´ë¦„', 'í•™êµ', 'í‚¤', 'êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³¼í•™', 'ì‚¬íšŒ', 'SWíŠ¹ê¸°']

In [11]:
# ë§¨ ë’¤ì— ìˆëŠ” SWíŠ¹ê¸° columnì„ ì•ìœ¼ë¡œ ê°€ì ¸ì˜¤ê³  ë‚˜ë¨¸ì§€ columnë“¤ê³¼ í•©ì³ì„œ ìˆœì„œ ë³€ê²½
df = df[[cols[-1]] + cols[0:-1]]
df

            SWíŠ¹ê¸°   ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ
ì§€ì›ë²ˆí˜¸
1ë²ˆ        Python  ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85
2ë²ˆ          Java  ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25
3ë²ˆ    Javascript  ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75
4ë²ˆ        Python  ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80
5ë²ˆ             C  ê°•ë°±í˜¸  ëŠ¥ë‚¨ê³   188   15   20   10  35  10
6ë²ˆ             C  ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80
7ë²ˆ        PYTHON  í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35
8ë²ˆ            C#  ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95

### âœ… Column ì´ë¦„ ë³€ê²½
: ```df.columns = [new_column_list]```

In [12]:
df = df[['ì´ë¦„', 'í•™êµ']]
df

       ì´ë¦„   í•™êµ
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³
5ë²ˆ    ê°•ë°±í˜¸  ëŠ¥ë‚¨ê³
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³

In [13]:
df.columns

Index(['ì´ë¦„', 'í•™êµ'], dtype='object')

In [14]:
df.columns = ['Name', 'School']
df

     Name School
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜    ë¶ì‚°ê³
2ë²ˆ    ì •ëŒ€ë§Œ    ë¶ì‚°ê³
3ë²ˆ    ì†¡íƒœì„­    ë¶ì‚°ê³
4ë²ˆ    ì„œíƒœì›…    ë¶ì‚°ê³
5ë²ˆ    ê°•ë°±í˜¸    ëŠ¥ë‚¨ê³
6ë²ˆ    ë³€ë•ê·œ    ëŠ¥ë‚¨ê³
7ë²ˆ    í™©íƒœì‚°    ëŠ¥ë‚¨ê³
8ë²ˆ    ìœ¤ëŒ€í˜‘    ëŠ¥ë‚¨ê³