# ğŸ“ ê·¸ë£¹í™”
: ë™ì¼í•œ ê°’ì„ ê°€ì§„ ê²ƒë“¤ë¼ë¦¬ í•©ì³ì„œ í†µê³„ ë˜ëŠ” í‰ê·  ë“±ì˜ ê°’ì„ ê³„ì‚°í•˜ê¸° ìœ„í•´ ì‚¬ìš©

### âœ… ì—‘ì…€ë¡œ ì—´ê¸°
: ```pd.read_excel('íŒŒì¼ëª….xlsx', index_col='column')```

In [1]:
import pandas as pd

df = pd.read_excel('score.xlsx', index_col='ì§€ì›ë²ˆí˜¸') # index ì„¤ì •
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#

### âœ… ê·¸ë£¹í™” í›„ í•„í„°ë§
: ```df.groupby('column').get_group('value')```

In [2]:
df.groupby('í•™êµ')

In [3]:
df.groupby('í•™êµ').get_group('ë¶ì‚°ê³ ')

       ì´ë¦„   í•™êµ    í‚¤  êµ­ì–´  ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197  90  85  100  95  85      Python
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184  40  35   50  55  25        Java
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168  80  75   70  80  75  Javascript
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187  40  60   70  75  80         NaN
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188  15  20   10  35  10         NaN

### âœ… ê·¸ë£¹í™” í›„ ê·¸ë£¹ë³„ í–‰ ê°¯ìˆ˜
: ```df.groupby('column').size()```

In [8]:
df.groupby('í•™êµ').size()

í•™êµ
ëŠ¥ë‚¨ê³     3
ë¶ì‚°ê³     5
dtype: int64

In [9]:
df.groupby('í•™êµ').size()['ëŠ¥ë‚¨ê³ ']

3

### âœ… ê·¸ë£¹í™” í›„ í‰ê· ê°’
: ```df.groupby('column').mean()```

In [10]:
# ê³„ì‚° ê°€ëŠ¥í•œ ë°ì´í„°ì˜ í‰ê· ê°’
df.groupby('í•™êµ').mean(numeric_only=True)

              í‚¤         êµ­ì–´         ì˜ì–´         ìˆ˜í•™         ê³¼í•™    ì‚¬íšŒ
í•™êµ
ëŠ¥ë‚¨ê³   193.333333  78.333333  83.333333  76.666667  73.333333  70.0
ë¶ì‚°ê³   184.800000  53.000000  55.000000  60.000000  68.000000  55.0

: ```df.groupby('column')[column_list].mean()```

In [11]:
# í•™êµë¡œ ê·¸ë£¹í™” í•œ ë’¤ í‚¤ì˜ í‰ê·  ë°ì´í„°
df.groupby('í•™êµ')['í‚¤'].mean()

í•™êµ
ëŠ¥ë‚¨ê³     193.333333
ë¶ì‚°ê³     184.800000
Name: í‚¤, dtype: float64

In [13]:
# í•™êµë¡œ ê·¸ë£¹í™” í•œ ë’¤ êµ­ì–´, ì˜ì–´, ìˆ˜í•™ í‰ê·  ë°ì´í„°
df.groupby('í•™êµ')[['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™']].mean()

            êµ­ì–´         ì˜ì–´         ìˆ˜í•™
í•™êµ
ëŠ¥ë‚¨ê³   78.333333  83.333333  76.666667
ë¶ì‚°ê³   53.000000  55.000000  60.000000

: ```df.groupby([column_list]).mean()```

In [14]:
df['í•™ë…„'] = [3, 3, 2, 1, 1, 3, 2, 2] # í•™ë…„ column ì¶”ê°€
df

       ì´ë¦„   í•™êµ    í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™  ê³¼í•™  ì‚¬íšŒ        SWíŠ¹ê¸°  í•™ë…„
ì§€ì›ë²ˆí˜¸
1ë²ˆ    ì±„ì¹˜ìˆ˜  ë¶ì‚°ê³   197   90   85  100  95  85      Python   3
2ë²ˆ    ì •ëŒ€ë§Œ  ë¶ì‚°ê³   184   40   35   50  55  25        Java   3
3ë²ˆ    ì†¡íƒœì„­  ë¶ì‚°ê³   168   80   75   70  80  75  Javascript   2
4ë²ˆ    ì„œíƒœì›…  ë¶ì‚°ê³   187   40   60   70  75  80         NaN   1
5ë²ˆ    ê°•ë°±í˜¸  ë¶ì‚°ê³   188   15   20   10  35  10         NaN   1
6ë²ˆ    ë³€ë•ê·œ  ëŠ¥ë‚¨ê³   202   80  100   95  85  80           C   3
7ë²ˆ    í™©íƒœì‚°  ëŠ¥ë‚¨ê³   188   55   65   45  40  35      PYTHON   2
8ë²ˆ    ìœ¤ëŒ€í˜‘  ëŠ¥ë‚¨ê³   190  100   85   90  95  95          C#   2

In [16]:
# í•™êµë³„, í•™ë…„ë³„ í‰ê·  ë°ì´í„°
df.groupby(['í•™êµ', 'í•™ë…„']).mean(numeric_only=True)

            í‚¤    êµ­ì–´     ì˜ì–´    ìˆ˜í•™    ê³¼í•™    ì‚¬íšŒ
í•™êµ  í•™ë…„
ëŠ¥ë‚¨ê³  2   189.0  77.5   75.0  67.5  67.5  65.0
    3   202.0  80.0  100.0  95.0  85.0  80.0
ë¶ì‚°ê³  1   187.5  27.5   40.0  40.0  55.0  45.0
    2   168.0  80.0   75.0  70.0  80.0  75.0
    3   190.5  65.0   60.0  75.0  75.0  55.0

: ```df.groupby('column').mean().sort_values('column')```

In [18]:
# í•™ë…„ìœ¼ë¡œ ê·¸ë£¹í™” í•œ ë’¤ í‚¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬
df.groupby('í•™ë…„').mean(numeric_only=True).sort_values('í‚¤')

             í‚¤         êµ­ì–´         ì˜ì–´         ìˆ˜í•™         ê³¼í•™         ì‚¬íšŒ
í•™ë…„
2   182.000000  78.333333  75.000000  68.333333  71.666667  68.333333
1   187.500000  27.500000  40.000000  40.000000  55.000000  45.000000
3   194.333333  70.000000  73.333333  81.666667  78.333333  63.333333

In [19]:
# í•™ë…„ìœ¼ë¡œ ê·¸ë£¹í™” í•œ ë’¤ í‚¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬
df.groupby('í•™ë…„').mean(numeric_only=True).sort_values('í‚¤', ascending=False)

             í‚¤         êµ­ì–´         ì˜ì–´         ìˆ˜í•™         ê³¼í•™         ì‚¬íšŒ
í•™ë…„
3   194.333333  70.000000  73.333333  81.666667  78.333333  63.333333
1   187.500000  27.500000  40.000000  40.000000  55.000000  45.000000
2   182.000000  78.333333  75.000000  68.333333  71.666667  68.333333

### âœ… ê·¸ë£¹í™” í›„ í•©ê³„
: ```df.groupby('column').sum()```

In [21]:
# í•™êµ, í•™ë…„ìœ¼ë¡œ ê·¸ë£¹í™” í•œ ë’¤ ê° ë°ì´í„°ì˜ í•©ê³„
df.groupby(['í•™êµ', 'í•™ë…„']).sum(numeric_only=True)

          í‚¤   êµ­ì–´   ì˜ì–´   ìˆ˜í•™   ê³¼í•™   ì‚¬íšŒ
í•™êµ  í•™ë…„
ëŠ¥ë‚¨ê³  2   378  155  150  135  135  130
    3   202   80  100   95   85   80
ë¶ì‚°ê³  1   375   55   80   80  110   90
    2   168   80   75   70   80   75
    3   381  130  120  150  150  110

### âœ… ê·¸ë£¹í™” í›„ ê°¯ìˆ˜
: ```df.groupby('column').count()```

In [23]:
# í•™êµë¡œ ê·¸ë£¹í™” í•œ ë’¤ì— ì´ë¦„, SW íŠ¹ê¸° ë°ì´í„° ìˆ˜
df.groupby('í•™êµ')[['ì´ë¦„', 'SWíŠ¹ê¸°']].count()

     ì´ë¦„  SWíŠ¹ê¸°
í•™êµ
ëŠ¥ë‚¨ê³    3     3
ë¶ì‚°ê³    5     3

### âœ… ê·¸ë£¹í™” í›„ ë°ì´í„°ê°¯ìˆ˜
: ```df.groupby('column').value_counts(normalize=True/False)```

In [25]:
# í•™êµë¡œ ê·¸ë£¹í™” í•œ ë’¤ í•™ë…„ë³„ í•™ìƒ ìˆ˜
school = df.groupby('í•™êµ')
school['í•™ë…„'].value_counts()

í•™êµ   í•™ë…„
ëŠ¥ë‚¨ê³   2     2
     3     1
ë¶ì‚°ê³   1     2
     3     2
     2     1
Name: count, dtype: int64

In [27]:
# í•™êµë¡œ ê·¸ë£¹í™” í•œ ë’¤ ë¶ì‚°ê³ ì˜ í•™ë…„ë³„ í•™ìƒ ìˆ˜
school['í•™ë…„'].value_counts().loc['ë¶ì‚°ê³ ']

í•™ë…„
1    2
3    2
2    1
Name: count, dtype: int64

In [28]:
# í•™êµë¡œ ê·¸ë£¹í™” í•œ ë’¤ í•™ìƒìˆ˜ ë°ì´í„°ë¥¼ í¼ì„¼íŠ¸ë¡œ ë¹„êµ
school['í•™ë…„'].value_counts(normalize=True).loc['ë¶ì‚°ê³ ']

í•™ë…„
1    0.4
3    0.4
2    0.2
Name: proportion, dtype: float64