# π“ DataFrame λ°μ΄ν„° ν™•μΈ
### β… μ—‘μ…€λ΅ μ—΄κΈ°
: ```pd.read_excel('νμΌλ….xlsx', index_col='column')```

In [1]:
import pandas as pd

# 1μ›”~6μ›” μƒλ°κΈ° λ°μ΄ν„°
gas1 = pd.read_csv('gas_first_2019.csv', encoding='euc-kr')
gas1.head()

,λ²νΈ,μ§€μ—­,μƒνΈ,μ£Όμ†,κΈ°κ°„,μƒν‘,μ…€ν”„μ—¬λ¶€,κ³ κΈ‰νλ°μ,νλ°μ,κ²½μ,μ‹¤λ‚΄λ“±μ
0,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190101,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
1,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190102,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
2,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190103,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
3,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190104,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
4,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190105,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0

In [2]:
# 7μ›”~12μ›” ν•λ°κΈ° λ°μ΄ν„°
gas2 = pd.read_csv('gas_second_2019.csv', encoding='euc-kr')
gas2.head()

,λ²νΈ,μ§€μ—­,μƒνΈ,μ£Όμ†,κΈ°κ°„,μƒν‘,μ…€ν”„μ—¬λ¶€,κ³ κΈ‰νλ°μ,νλ°μ,κ²½μ,μ‹¤λ‚΄λ“±μ
0,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190701,SKμ—λ„μ§€,μ…€ν”„,1777,1577,1477,0
1,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190702,SKμ—λ„μ§€,μ…€ν”„,1777,1577,1477,0
2,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190703,SKμ—λ„μ§€,μ…€ν”„,1777,1577,1477,0
3,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190704,SKμ—λ„μ§€,μ…€ν”„,1777,1577,1477,0
4,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190705,SKμ—λ„μ§€,μ…€ν”„,1777,1577,1477,0

### β… concat()
: ```pd.concat([df1, df2], ignore_index=True/False)```
- axis=0(defaultκ°’) : κ°™μ€ columnλΌλ¦¬ λ°μ΄ν„° μ—°κ²°
- ignore_index=True : index μ΄κΈ°ν™”

In [3]:
pd.concat([gas1, gas2])

,λ²νΈ,μ§€μ—­,μƒνΈ,μ£Όμ†,κΈ°κ°„,μƒν‘,μ…€ν”„μ—¬λ¶€,κ³ κΈ‰νλ°μ,νλ°μ,κ²½μ,μ‹¤λ‚΄λ“±μ
0,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190101,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
1,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190102,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
2,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190103,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
3,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190104,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
4,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190105,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
...,...,...,...,...,...,...,...,...,...,...,...
91119,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191227,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
91120,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191228,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
91121,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191229,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
91122,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191230,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
91123,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191231,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100

In [4]:
gas = pd.concat([gas1, gas2], ignore_index = True)
gas

,λ²νΈ,μ§€μ—­,μƒνΈ,μ£Όμ†,κΈ°κ°„,μƒν‘,μ…€ν”„μ—¬λ¶€,κ³ κΈ‰νλ°μ,νλ°μ,κ²½μ,μ‹¤λ‚΄λ“±μ
0,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190101,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
1,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190102,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
2,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190103,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
3,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190104,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
4,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190105,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
...,...,...,...,...,...,...,...,...,...,...,...
181709,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191227,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
181710,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191228,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
181711,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191229,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
181712,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191230,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
181713,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191231,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100

: ```pd.concat([df1, df2], axis=1, ignore_index=True/False)```
- axis=1 : rowλΌλ¦¬ λ°μ΄ν„° μ—°κ²°

In [5]:
gas1 = gas.iloc[:, :5]
gas2 = gas.iloc[:, 5:]
gas1.head()

         λ²νΈ      μ§€μ—­            μƒνΈ              μ£Όμ†        κΈ°κ°„
0  A0006039  μ„μΈ κ°•λ‚¨κµ¬  (μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†  μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640  20190101
1  A0006039  μ„μΈ κ°•λ‚¨κµ¬  (μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†  μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640  20190102
2  A0006039  μ„μΈ κ°•λ‚¨κµ¬  (μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†  μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640  20190103
3  A0006039  μ„μΈ κ°•λ‚¨κµ¬  (μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†  μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640  20190104
4  A0006039  μ„μΈ κ°•λ‚¨κµ¬  (μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†  μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640  20190105

In [6]:
gas2.head()

      μƒν‘ μ…€ν”„μ—¬λ¶€  κ³ κΈ‰νλ°μ    νλ°μ     κ²½μ   μ‹¤λ‚΄λ“±μ
0  SKμ—λ„μ§€   μ…€ν”„   1673  1465  1365     0
1  SKμ—λ„μ§€   μ…€ν”„   1673  1465  1365     0
2  SKμ—λ„μ§€   μ…€ν”„   1673  1465  1365     0
3  SKμ—λ„μ§€   μ…€ν”„   1673  1465  1365     0
4  SKμ—λ„μ§€   μ…€ν”„   1673  1465  1365     0

In [7]:
pd.concat([gas1, gas2], axis=1)

,λ²νΈ,μ§€μ—­,μƒνΈ,μ£Όμ†,κΈ°κ°„,μƒν‘,μ…€ν”„μ—¬λ¶€,κ³ κΈ‰νλ°μ,νλ°μ,κ²½μ,μ‹¤λ‚΄λ“±μ
0,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190101,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
1,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190102,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
2,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190103,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
3,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190104,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
4,A0006039,μ„μΈ κ°•λ‚¨κµ¬,(μ£Ό)λ™ν•ννƒ‘μ…€ν”„μ£Όμ μ†,μ„μΈ κ°•λ‚¨κµ¬ λ…Όν„λ΅ 640,20190105,SKμ—λ„μ§€,μ…€ν”„,1673,1465,1365,0
...,...,...,...,...,...,...,...,...,...,...,...
181709,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191227,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
181710,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191228,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
181711,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191229,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
181712,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191230,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100
181713,A0032659,μ„μΈ μ¤‘λ‘κµ¬,μ§€μ—μ¤μΉΌν…μ¤γ μ†λ§μ£Όμ μ†,μ„μΈ μ¤‘λ‘κµ¬ λ§μ°λ΅ 475,20191231,GSμΉΌν…μ¤,μ…€ν”„,0,1540,1389,1100

### β… merge()
: κ³µν†µλ keyκ°’(column)μ„ κ°€μ§€κ³  μμ„ μ‹ λ³‘ν•© κ°€λ¥\
  ```pd.merge(df1, df2, how)```
- how : left, right, outer, inner(defaultκ°’)

In [8]:
df1 = pd.DataFrame({
    'κ³ κ°λ…': ['λ°•μ„Έλ¦¬', 'μ΄λ€νΈ', 'μ†ν¥λ―Ό', 'κΉ€μ—°μ•„', 'λ§μ΄ν΄μ΅°λ'],
    'μƒλ…„μ›”μΌ': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    'μ„±λ³„': ['μ—¬μ', 'λ‚¨μ', 'λ‚¨μ', 'μ—¬μ', 'λ‚¨μ']})
df1

     κ³ κ°λ…        μƒλ…„μ›”μΌ  μ„±λ³„
0    λ°•μ„Έλ¦¬  1980-01-02  μ—¬μ
1    μ΄λ€νΈ  1982-02-22  λ‚¨μ
2    μ†ν¥λ―Ό  1993-06-12  λ‚¨μ
3    κΉ€μ—°μ•„  1988-10-16  μ—¬μ
4  λ§μ΄ν΄μ΅°λ  1970-03-03  λ‚¨μ

In [9]:
df2 = pd.DataFrame({
    'κ³ κ°λ…': ['κΉ€μ—°μ•„', 'λ°•μ„Έλ¦¬', 'μ†ν¥λ―Ό', 'μ΄λ€νΈ', 'νƒ€μ΄κ±°μ°μ¦'],
    'μ—°λ΄‰': ['2000μ›', '3000μ›', '1500μ›', '2500μ›', '3500μ›']})
df2

     κ³ κ°λ…     μ—°λ΄‰
0    κΉ€μ—°μ•„  2000μ›
1    λ°•μ„Έλ¦¬  3000μ›
2    μ†ν¥λ―Ό  1500μ›
3    μ΄λ€νΈ  2500μ›
4  νƒ€μ΄κ±°μ°μ¦  3500μ›

In [10]:
# how='inner'(defalut) : df1, df2 μ¤‘λ³µλ μ”μ†λ§ λ³‘ν•©
pd.merge(df1, df2)

   κ³ κ°λ…        μƒλ…„μ›”μΌ  μ„±λ³„     μ—°λ΄‰
0  λ°•μ„Έλ¦¬  1980-01-02  μ—¬μ  3000μ›
1  μ΄λ€νΈ  1982-02-22  λ‚¨μ  2500μ›
2  μ†ν¥λ―Ό  1993-06-12  λ‚¨μ  1500μ›
3  κΉ€μ—°μ•„  1988-10-16  μ—¬μ  2000μ›

In [11]:
# how='left' : df1(left) κΈ°μ¤€μΌλ΅ λ³‘ν•©
pd.merge(df1, df2, how='left')

     κ³ κ°λ…        μƒλ…„μ›”μΌ  μ„±λ³„     μ—°λ΄‰
0    λ°•μ„Έλ¦¬  1980-01-02  μ—¬μ  3000μ›
1    μ΄λ€νΈ  1982-02-22  λ‚¨μ  2500μ›
2    μ†ν¥λ―Ό  1993-06-12  λ‚¨μ  1500μ›
3    κΉ€μ—°μ•„  1988-10-16  μ—¬μ  2000μ›
4  λ§μ΄ν΄μ΅°λ  1970-03-03  λ‚¨μ    NaN

In [12]:
# how='right' : df2(right) κΈ°μ¤€μΌλ΅ λ³‘ν•©
pd.merge(df1, df2, how='right')

     κ³ κ°λ…        μƒλ…„μ›”μΌ   μ„±λ³„     μ—°λ΄‰
0    κΉ€μ—°μ•„  1988-10-16   μ—¬μ  2000μ›
1    λ°•μ„Έλ¦¬  1980-01-02   μ—¬μ  3000μ›
2    μ†ν¥λ―Ό  1993-06-12   λ‚¨μ  1500μ›
3    μ΄λ€νΈ  1982-02-22   λ‚¨μ  2500μ›
4  νƒ€μ΄κ±°μ°μ¦         NaN  NaN  3500μ›

In [13]:
# how='outer' : df1, df2μ λ¨λ“  λ°μ΄ν„° λ³‘ν•©
pd.merge(df1, df2, how='outer')

     κ³ κ°λ…        μƒλ…„μ›”μΌ   μ„±λ³„     μ—°λ΄‰
0    λ°•μ„Έλ¦¬  1980-01-02   μ—¬μ  3000μ›
1    μ΄λ€νΈ  1982-02-22   λ‚¨μ  2500μ›
2    μ†ν¥λ―Ό  1993-06-12   λ‚¨μ  1500μ›
3    κΉ€μ—°μ•„  1988-10-16   μ—¬μ  2000μ›
4  λ§μ΄ν΄μ΅°λ  1970-03-03   λ‚¨μ    NaN
5  νƒ€μ΄κ±°μ°μ¦         NaN  NaN  3500μ›

: λ³‘ν•©ν•λ ¤λ” columnμ μ΄λ¦„μ΄ λ‹¤λ¥Έ κ²½μ°\
  ```pd.merge(df1, df2, left_on='df1_column', right_on='df2_column')```

In [14]:
df1 = pd.DataFrame({
    'μ΄λ¦„': ['λ°•μ„Έλ¦¬', 'μ΄λ€νΈ', 'μ†ν¥λ―Ό', 'κΉ€μ—°μ•„', 'λ§μ΄ν΄μ΅°λ'],
    'μƒλ…„μ›”μΌ': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    'μ„±λ³„': ['μ—¬μ', 'λ‚¨μ', 'λ‚¨μ', 'μ—¬μ', 'λ‚¨μ']})
df1

      μ΄λ¦„        μƒλ…„μ›”μΌ  μ„±λ³„
0    λ°•μ„Έλ¦¬  1980-01-02  μ—¬μ
1    μ΄λ€νΈ  1982-02-22  λ‚¨μ
2    μ†ν¥λ―Ό  1993-06-12  λ‚¨μ
3    κΉ€μ—°μ•„  1988-10-16  μ—¬μ
4  λ§μ΄ν΄μ΅°λ  1970-03-03  λ‚¨μ

In [15]:
df2 = pd.DataFrame({
    'κ³ κ°λ…': ['κΉ€μ—°μ•„', 'λ°•μ„Έλ¦¬', 'μ†ν¥λ―Ό', 'μ΄λ€νΈ', 'νƒ€μ΄κ±°μ°μ¦'],
    'μ—°λ΄‰': ['2000μ›', '3000μ›', '1500μ›', '2500μ›', '3500μ›']})
df2

     κ³ κ°λ…     μ—°λ΄‰
0    κΉ€μ—°μ•„  2000μ›
1    λ°•μ„Έλ¦¬  3000μ›
2    μ†ν¥λ―Ό  1500μ›
3    μ΄λ€νΈ  2500μ›
4  νƒ€μ΄κ±°μ°μ¦  3500μ›

In [16]:
pd.merge(df1, df2, left_on='μ΄λ¦„', right_on='κ³ κ°λ…')

    μ΄λ¦„        μƒλ…„μ›”μΌ  μ„±λ³„  κ³ κ°λ…     μ—°λ΄‰
0  λ°•μ„Έλ¦¬  1980-01-02  μ—¬μ  λ°•μ„Έλ¦¬  3000μ›
1  μ΄λ€νΈ  1982-02-22  λ‚¨μ  μ΄λ€νΈ  2500μ›
2  μ†ν¥λ―Ό  1993-06-12  λ‚¨μ  μ†ν¥λ―Ό  1500μ›
3  κΉ€μ—°μ•„  1988-10-16  μ—¬μ  κΉ€μ—°μ•„  2000μ›