# ğŸ“ ë°ì´í„°ë³‘í•©

### âœ… concat()
: ```pd.concat([df1, df2], axis, join, ignore_index=True/False)```
- axis : 0(defaultê°’) í–‰ë°©í–¥ / 1 ì—´ë°©í–¥ ê²°í•©
- join : 'inner' / 'outer'(defaultê°’)
- ignore_index=True : index ì´ˆê¸°í™”

In [1]:
import pandas as pd
import numpy as np

df1=pd.DataFrame(
                np.arange(6).reshape(3,2),
                index=['a','b','c'],
                columns=['ë°ì´í„°1','ë°ì´í„°2']
                )
df1

   ë°ì´í„°1  ë°ì´í„°2
a     0     1
b     2     3
c     4     5

In [2]:
df2=pd.DataFrame(
                5+np.arange(4).reshape(2,2),
                index=['a','c'],
                columns=['ë°ì´í„°2','ë°ì´í„°4']
                )
df2

   ë°ì´í„°2  ë°ì´í„°4
a     5     6
c     7     8

In [3]:
pd.concat([df1, df2], axis=1)

   ë°ì´í„°1  ë°ì´í„°2  ë°ì´í„°2  ë°ì´í„°4
a     0     1   5.0   6.0
b     2     3   NaN   NaN
c     4     5   7.0   8.0

In [4]:
pd.concat([df1, df2], axis=0)

   ë°ì´í„°1  ë°ì´í„°2  ë°ì´í„°4
a   0.0     1   NaN
b   2.0     3   NaN
c   4.0     5   NaN
a   NaN     5   6.0
c   NaN     7   8.0

In [5]:
pd.concat([df1,df2], axis=1, join='inner')

   ë°ì´í„°1  ë°ì´í„°2  ë°ì´í„°2  ë°ì´í„°4
a     0     1     5     6
c     4     5     7     8

In [6]:
pd.concat([df1,df2], axis=0, join='inner')

   ë°ì´í„°2
a     1
b     3
c     5
a     5
c     7

In [7]:
test = pd.concat([df1,df2], axis=1, join='inner', keys=['x','y'])
test

     x         y
  ë°ì´í„°1 ë°ì´í„°2 ë°ì´í„°2 ë°ì´í„°4
a    0    1    5    6
c    4    5    7    8

In [8]:
test.x.ë°ì´í„°1

a    0
c    4
Name: ë°ì´í„°1, dtype: int64

### âœ… merge()
: ê³µí†µëœ keyê°’(column)ì„ ê°€ì§€ê³  ìˆì„ ì‹œ ë³‘í•© ê°€ëŠ¥\
  ```pd.merge(df1, df2, how)```
- how : left, right, outer, inner(defaultê°’)

In [9]:
df1 = pd.DataFrame({
    'ê³ ê°ëª…': ['ë°•ì„¸ë¦¬', 'ì´ëŒ€í˜¸', 'ì†í¥ë¯¼', 'ê¹€ì—°ì•„', 'ë§ˆì´í´ì¡°ë˜'],
    'ìƒë…„ì›”ì¼': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    'ì„±ë³„': ['ì—¬ì', 'ë‚¨ì', 'ë‚¨ì', 'ì—¬ì', 'ë‚¨ì']})
df1

     ê³ ê°ëª…        ìƒë…„ì›”ì¼  ì„±ë³„
0    ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì
1    ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì
2    ì†í¥ë¯¼  1993-06-12  ë‚¨ì
3    ê¹€ì—°ì•„  1988-10-16  ì—¬ì
4  ë§ˆì´í´ì¡°ë˜  1970-03-03  ë‚¨ì

In [10]:
df2 = pd.DataFrame({
    'ê³ ê°ëª…': ['ê¹€ì—°ì•„', 'ë°•ì„¸ë¦¬', 'ì†í¥ë¯¼', 'ì´ëŒ€í˜¸', 'íƒ€ì´ê±°ìš°ì¦ˆ'],
    'ì—°ë´‰': ['2000ì›', '3000ì›', '1500ì›', '2500ì›', '3500ì›']})
df2

     ê³ ê°ëª…     ì—°ë´‰
0    ê¹€ì—°ì•„  2000ì›
1    ë°•ì„¸ë¦¬  3000ì›
2    ì†í¥ë¯¼  1500ì›
3    ì´ëŒ€í˜¸  2500ì›
4  íƒ€ì´ê±°ìš°ì¦ˆ  3500ì›

In [11]:
# how='inner'(defalut) : df1, df2 ì¤‘ë³µëœ ìš”ì†Œë§Œ ë³‘í•©
pd.merge(df1, df2)

   ê³ ê°ëª…        ìƒë…„ì›”ì¼  ì„±ë³„     ì—°ë´‰
0  ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì  3000ì›
1  ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì  2500ì›
2  ì†í¥ë¯¼  1993-06-12  ë‚¨ì  1500ì›
3  ê¹€ì—°ì•„  1988-10-16  ì—¬ì  2000ì›

In [12]:
# how='left' : df1(left) ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©
pd.merge(df1, df2, how='left')

     ê³ ê°ëª…        ìƒë…„ì›”ì¼  ì„±ë³„     ì—°ë´‰
0    ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì  3000ì›
1    ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì  2500ì›
2    ì†í¥ë¯¼  1993-06-12  ë‚¨ì  1500ì›
3    ê¹€ì—°ì•„  1988-10-16  ì—¬ì  2000ì›
4  ë§ˆì´í´ì¡°ë˜  1970-03-03  ë‚¨ì    NaN

In [13]:
# how='right' : df2(right) ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©
pd.merge(df1, df2, how='right')

     ê³ ê°ëª…        ìƒë…„ì›”ì¼   ì„±ë³„     ì—°ë´‰
0    ê¹€ì—°ì•„  1988-10-16   ì—¬ì  2000ì›
1    ë°•ì„¸ë¦¬  1980-01-02   ì—¬ì  3000ì›
2    ì†í¥ë¯¼  1993-06-12   ë‚¨ì  1500ì›
3    ì´ëŒ€í˜¸  1982-02-22   ë‚¨ì  2500ì›
4  íƒ€ì´ê±°ìš°ì¦ˆ         NaN  NaN  3500ì›

In [14]:
# how='outer' : df1, df2ì˜ ëª¨ë“  ë°ì´í„° ë³‘í•©
pd.merge(df1, df2, how='outer')

     ê³ ê°ëª…        ìƒë…„ì›”ì¼   ì„±ë³„     ì—°ë´‰
0    ë°•ì„¸ë¦¬  1980-01-02   ì—¬ì  3000ì›
1    ì´ëŒ€í˜¸  1982-02-22   ë‚¨ì  2500ì›
2    ì†í¥ë¯¼  1993-06-12   ë‚¨ì  1500ì›
3    ê¹€ì—°ì•„  1988-10-16   ì—¬ì  2000ì›
4  ë§ˆì´í´ì¡°ë˜  1970-03-03   ë‚¨ì    NaN
5  íƒ€ì´ê±°ìš°ì¦ˆ         NaN  NaN  3500ì›

: ë³‘í•©í•˜ë ¤ëŠ” columnì˜ ì´ë¦„ì´ ë‹¤ë¥¸ ê²½ìš°\
  ```pd.merge(df1, df2, left_on='df1_column', right_on='df2_column')```

In [15]:
df1 = pd.DataFrame({
    'ì´ë¦„': ['ë°•ì„¸ë¦¬', 'ì´ëŒ€í˜¸', 'ì†í¥ë¯¼', 'ê¹€ì—°ì•„', 'ë§ˆì´í´ì¡°ë˜'],
    'ìƒë…„ì›”ì¼': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    'ì„±ë³„': ['ì—¬ì', 'ë‚¨ì', 'ë‚¨ì', 'ì—¬ì', 'ë‚¨ì']})
df1

      ì´ë¦„        ìƒë…„ì›”ì¼  ì„±ë³„
0    ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì
1    ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì
2    ì†í¥ë¯¼  1993-06-12  ë‚¨ì
3    ê¹€ì—°ì•„  1988-10-16  ì—¬ì
4  ë§ˆì´í´ì¡°ë˜  1970-03-03  ë‚¨ì

In [16]:
df2 = pd.DataFrame({
    'ê³ ê°ëª…': ['ê¹€ì—°ì•„', 'ë°•ì„¸ë¦¬', 'ì†í¥ë¯¼', 'ì´ëŒ€í˜¸', 'íƒ€ì´ê±°ìš°ì¦ˆ'],
    'ì—°ë´‰': ['2000ì›', '3000ì›', '1500ì›', '2500ì›', '3500ì›']})
df2

     ê³ ê°ëª…     ì—°ë´‰
0    ê¹€ì—°ì•„  2000ì›
1    ë°•ì„¸ë¦¬  3000ì›
2    ì†í¥ë¯¼  1500ì›
3    ì´ëŒ€í˜¸  2500ì›
4  íƒ€ì´ê±°ìš°ì¦ˆ  3500ì›

In [17]:
pd.merge(df1, df2, left_on='ì´ë¦„', right_on='ê³ ê°ëª…')

    ì´ë¦„        ìƒë…„ì›”ì¼  ì„±ë³„  ê³ ê°ëª…     ì—°ë´‰
0  ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì  ë°•ì„¸ë¦¬  3000ì›
1  ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì  ì´ëŒ€í˜¸  2500ì›
2  ì†í¥ë¯¼  1993-06-12  ë‚¨ì  ì†í¥ë¯¼  1500ì›
3  ê¹€ì—°ì•„  1988-10-16  ì—¬ì  ê¹€ì—°ì•„  2000ì›

: ì´ë¦„ì´ ê°™ì€ columnì´ ì—¬ëŸ¬ê°œ ìˆëŠ” ê²½ìš°\
  ì´ë¦„ì´ ê°™ì•„ë„ í‚¤ê°€ ë˜ë©´ ì•ˆë˜ëŠ” ì—´ì´ ìˆì„ ë•Œ on ì¸ìˆ˜ë¡œ ê¸°ì¤€ì—´ì„ ëª…ì‹œ\
```pd.merge(df1, df2, on='column')```

In [18]:
df1 = pd.DataFrame({
    'ì´ë¦„': ['ë°•ì„¸ë¦¬', 'ì´ëŒ€í˜¸', 'ì†í¥ë¯¼', 'ê¹€ì—°ì•„', 'ë§ˆì´í´ì¡°ë˜'],
    'ìƒë…„ì›”ì¼': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    'ë°ì´í„°': ['ì—¬ì', 'ë‚¨ì', 'ë‚¨ì', 'ì—¬ì', 'ë‚¨ì']})
df1

      ì´ë¦„        ìƒë…„ì›”ì¼ ë°ì´í„°
0    ë°•ì„¸ë¦¬  1980-01-02  ì—¬ì
1    ì´ëŒ€í˜¸  1982-02-22  ë‚¨ì
2    ì†í¥ë¯¼  1993-06-12  ë‚¨ì
3    ê¹€ì—°ì•„  1988-10-16  ì—¬ì
4  ë§ˆì´í´ì¡°ë˜  1970-03-03  ë‚¨ì

In [19]:
df2 = pd.DataFrame({
    'ì´ë¦„': ['ê¹€ì—°ì•„', 'ë°•ì„¸ë¦¬', 'ì†í¥ë¯¼', 'ì´ëŒ€í˜¸', 'íƒ€ì´ê±°ìš°ì¦ˆ'],
    'ë°ì´í„°': ['2000ì›', '3000ì›', '1500ì›', '2500ì›', '3500ì›']})
df2

      ì´ë¦„    ë°ì´í„°
0    ê¹€ì—°ì•„  2000ì›
1    ë°•ì„¸ë¦¬  3000ì›
2    ì†í¥ë¯¼  1500ì›
3    ì´ëŒ€í˜¸  2500ì›
4  íƒ€ì´ê±°ìš°ì¦ˆ  3500ì›

In [20]:
# ë°ì´í„° columnì€ ê°’ì˜ ì˜ë¯¸ê°€ ë‹¤ë¦„(í‚¤ë¡œ ì‚¬ìš©ë˜ë©´ ì•ˆë¨)
# ê¸°ì¤€ì—´ì„ onì„ í†µí•´ ì§ì ‘ ì§€ì •(ë°˜í™˜ ê²°ê³¼ì— ë™ì¼ í•„ë“œëª…ì´ ìˆì„ ê²½ìš° column_x, column_yë¡œ ë³€ê²½í•´ì„œ í‘œí˜„
pd.merge(df1,df2, on='ì´ë¦„')

    ì´ë¦„        ìƒë…„ì›”ì¼ ë°ì´í„°_x  ë°ì´í„°_y
0  ë°•ì„¸ë¦¬  1980-01-02    ì—¬ì  3000ì›
1  ì´ëŒ€í˜¸  1982-02-22    ë‚¨ì  2500ì›
2  ì†í¥ë¯¼  1993-06-12    ë‚¨ì  1500ì›
3  ê¹€ì—°ì•„  1988-10-16    ì—¬ì  2000ì›

: indexë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©\
```pd.merge(df1, df2, left_index=True/False, right_index=True/False)```

In [21]:
df1 = pd.DataFrame([[1.,2.],[3.,4.],[5.,6.]],
                    index=['ë´„','ì—¬ë¦„','ê²¨ìš¸'],
                    columns=['ì„œìš¸','ë¶€ì‚°'])
df1

     ì„œìš¸   ë¶€ì‚°
ë´„   1.0  2.0
ì—¬ë¦„  3.0  4.0
ê²¨ìš¸  5.0  6.0

In [22]:
df2 = pd.DataFrame([[7.,8.],[9.,10.],[11.,12.],[13.,14.]],
                    index=['ì´ˆì—¬ë¦„','ì—¬ë¦„','ê°€ì„','ê²¨ìš¸'],
                    columns=['ëŒ€êµ¬','ê´‘ì£¼'])
df2

       ëŒ€êµ¬    ê´‘ì£¼
ì´ˆì—¬ë¦„   7.0   8.0
ì—¬ë¦„    9.0  10.0
ê°€ì„   11.0  12.0
ê²¨ìš¸   13.0  14.0

In [23]:
# ê¸°ì¤€ì´ ëª¨ë‘ indexë¡œ ì²˜ë¦¬ë˜ì–´ ìˆëŠ” ê²½ìš° indexëŠ” ê¸°ì¡´ indexë¥¼ ì‚¬ìš©
pd.merge(df1, df2, left_index=True, right_index=True, how='outer')

      ì„œìš¸   ë¶€ì‚°    ëŒ€êµ¬    ê´‘ì£¼
ê°€ì„   NaN  NaN  11.0  12.0
ê²¨ìš¸   5.0  6.0  13.0  14.0
ë´„    1.0  2.0   NaN   NaN
ì—¬ë¦„   3.0  4.0   9.0  10.0
ì´ˆì—¬ë¦„  NaN  NaN   7.0   8.0

### âœ… join()
: ```df1.join(df2, how)```
- how : left, right, outer, inner(defaultê°’)

In [24]:
df1.join(df2, how='outer')

      ì„œìš¸   ë¶€ì‚°    ëŒ€êµ¬    ê´‘ì£¼
ê°€ì„   NaN  NaN  11.0  12.0
ê²¨ìš¸   5.0  6.0  13.0  14.0
ë´„    1.0  2.0   NaN   NaN
ì—¬ë¦„   3.0  4.0   9.0  10.0
ì´ˆì—¬ë¦„  NaN  NaN   7.0   8.0