# üìç Îç∞Ïù¥ÌÑ∞Î≥ëÌï©

### ‚úÖ concat()
: ```pd.concat([df1, df2], axis, join, ignore_index=True/False)```
- axis : 0(defaultÍ∞í) ÌñâÎ∞©Ìñ• / 1 Ïó¥Î∞©Ìñ• Í≤∞Ìï©
- join : 'inner' / 'outer'(defaultÍ∞í)
- ignore_index=True : index Ï¥àÍ∏∞Ìôî

In [1]:
import pandas as pd
import numpy as np

df1=pd.DataFrame(
                np.arange(6).reshape(3,2),
                index=['a','b','c'],
                columns=['Îç∞Ïù¥ÌÑ∞1','Îç∞Ïù¥ÌÑ∞2']
                )
df1

   Îç∞Ïù¥ÌÑ∞1  Îç∞Ïù¥ÌÑ∞2
a     0     1
b     2     3
c     4     5

In [2]:
df2=pd.DataFrame(
                5+np.arange(4).reshape(2,2),
                index=['a','c'],
                columns=['Îç∞Ïù¥ÌÑ∞2','Îç∞Ïù¥ÌÑ∞4']
                )
df2

   Îç∞Ïù¥ÌÑ∞2  Îç∞Ïù¥ÌÑ∞4
a     5     6
c     7     8

In [3]:
pd.concat([df1, df2], axis=1)

   Îç∞Ïù¥ÌÑ∞1  Îç∞Ïù¥ÌÑ∞2  Îç∞Ïù¥ÌÑ∞2  Îç∞Ïù¥ÌÑ∞4
a     0     1   5.0   6.0
b     2     3   NaN   NaN
c     4     5   7.0   8.0

In [4]:
pd.concat([df1, df2], axis=0)

   Îç∞Ïù¥ÌÑ∞1  Îç∞Ïù¥ÌÑ∞2  Îç∞Ïù¥ÌÑ∞4
a   0.0     1   NaN
b   2.0     3   NaN
c   4.0     5   NaN
a   NaN     5   6.0
c   NaN     7   8.0

In [5]:
pd.concat([df1,df2], axis=1, join='inner')

   Îç∞Ïù¥ÌÑ∞1  Îç∞Ïù¥ÌÑ∞2  Îç∞Ïù¥ÌÑ∞2  Îç∞Ïù¥ÌÑ∞4
a     0     1     5     6
c     4     5     7     8

In [6]:
pd.concat([df1,df2], axis=0, join='inner')

   Îç∞Ïù¥ÌÑ∞2
a     1
b     3
c     5
a     5
c     7

In [7]:
test = pd.concat([df1,df2], axis=1, join='inner', keys=['x','y'])
test

     x         y
  Îç∞Ïù¥ÌÑ∞1 Îç∞Ïù¥ÌÑ∞2 Îç∞Ïù¥ÌÑ∞2 Îç∞Ïù¥ÌÑ∞4
a    0    1    5    6
c    4    5    7    8

In [8]:
test.x.Îç∞Ïù¥ÌÑ∞1

a    0
c    4
Name: Îç∞Ïù¥ÌÑ∞1, dtype: int64

### ‚úÖ merge()
: Í≥µÌÜµÎêú keyÍ∞í(column)ÏùÑ Í∞ÄÏßÄÍ≥† ÏûàÏùÑ Ïãú Î≥ëÌï© Í∞ÄÎä•\
  ```pd.merge(df1, df2, how)```
- how : left, right, outer, inner(defaultÍ∞í)

In [9]:
df1 = pd.DataFrame({
    'Í≥†Í∞ùÎ™Ö': ['Î∞ïÏÑ∏Î¶¨', 'Ïù¥ÎåÄÌò∏', 'ÏÜêÌù•ÎØº', 'ÍπÄÏó∞ÏïÑ', 'ÎßàÏù¥ÌÅ¥Ï°∞Îçò'],
    'ÏÉùÎÖÑÏõîÏùº': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    'ÏÑ±Î≥Ñ': ['Ïó¨Ïûê', 'ÎÇ®Ïûê', 'ÎÇ®Ïûê', 'Ïó¨Ïûê', 'ÎÇ®Ïûê']})
df1

     Í≥†Í∞ùÎ™Ö        ÏÉùÎÖÑÏõîÏùº  ÏÑ±Î≥Ñ
0    Î∞ïÏÑ∏Î¶¨  1980-01-02  Ïó¨Ïûê
1    Ïù¥ÎåÄÌò∏  1982-02-22  ÎÇ®Ïûê
2    ÏÜêÌù•ÎØº  1993-06-12  ÎÇ®Ïûê
3    ÍπÄÏó∞ÏïÑ  1988-10-16  Ïó¨Ïûê
4  ÎßàÏù¥ÌÅ¥Ï°∞Îçò  1970-03-03  ÎÇ®Ïûê

In [10]:
df2 = pd.DataFrame({
    'Í≥†Í∞ùÎ™Ö': ['ÍπÄÏó∞ÏïÑ', 'Î∞ïÏÑ∏Î¶¨', 'ÏÜêÌù•ÎØº', 'Ïù¥ÎåÄÌò∏', 'ÌÉÄÏù¥Í±∞Ïö∞Ï¶à'],
    'Ïó∞Î¥â': ['2000Ïõê', '3000Ïõê', '1500Ïõê', '2500Ïõê', '3500Ïõê']})
df2

     Í≥†Í∞ùÎ™Ö     Ïó∞Î¥â
0    ÍπÄÏó∞ÏïÑ  2000Ïõê
1    Î∞ïÏÑ∏Î¶¨  3000Ïõê
2    ÏÜêÌù•ÎØº  1500Ïõê
3    Ïù¥ÎåÄÌò∏  2500Ïõê
4  ÌÉÄÏù¥Í±∞Ïö∞Ï¶à  3500Ïõê

In [11]:
# how='inner'(defalut) : df1, df2 Ï§ëÎ≥µÎêú ÏöîÏÜåÎßå Î≥ëÌï©
pd.merge(df1, df2)

   Í≥†Í∞ùÎ™Ö        ÏÉùÎÖÑÏõîÏùº  ÏÑ±Î≥Ñ     Ïó∞Î¥â
0  Î∞ïÏÑ∏Î¶¨  1980-01-02  Ïó¨Ïûê  3000Ïõê
1  Ïù¥ÎåÄÌò∏  1982-02-22  ÎÇ®Ïûê  2500Ïõê
2  ÏÜêÌù•ÎØº  1993-06-12  ÎÇ®Ïûê  1500Ïõê
3  ÍπÄÏó∞ÏïÑ  1988-10-16  Ïó¨Ïûê  2000Ïõê

In [12]:
# how='left' : df1(left) Í∏∞Ï§ÄÏúºÎ°ú Î≥ëÌï©
pd.merge(df1, df2, how='left')

     Í≥†Í∞ùÎ™Ö        ÏÉùÎÖÑÏõîÏùº  ÏÑ±Î≥Ñ     Ïó∞Î¥â
0    Î∞ïÏÑ∏Î¶¨  1980-01-02  Ïó¨Ïûê  3000Ïõê
1    Ïù¥ÎåÄÌò∏  1982-02-22  ÎÇ®Ïûê  2500Ïõê
2    ÏÜêÌù•ÎØº  1993-06-12  ÎÇ®Ïûê  1500Ïõê
3    ÍπÄÏó∞ÏïÑ  1988-10-16  Ïó¨Ïûê  2000Ïõê
4  ÎßàÏù¥ÌÅ¥Ï°∞Îçò  1970-03-03  ÎÇ®Ïûê    NaN

In [13]:
# how='right' : df2(right) Í∏∞Ï§ÄÏúºÎ°ú Î≥ëÌï©
pd.merge(df1, df2, how='right')

     Í≥†Í∞ùÎ™Ö        ÏÉùÎÖÑÏõîÏùº   ÏÑ±Î≥Ñ     Ïó∞Î¥â
0    ÍπÄÏó∞ÏïÑ  1988-10-16   Ïó¨Ïûê  2000Ïõê
1    Î∞ïÏÑ∏Î¶¨  1980-01-02   Ïó¨Ïûê  3000Ïõê
2    ÏÜêÌù•ÎØº  1993-06-12   ÎÇ®Ïûê  1500Ïõê
3    Ïù¥ÎåÄÌò∏  1982-02-22   ÎÇ®Ïûê  2500Ïõê
4  ÌÉÄÏù¥Í±∞Ïö∞Ï¶à         NaN  NaN  3500Ïõê

In [14]:
# how='outer' : df1, df2Ïùò Î™®Îì† Îç∞Ïù¥ÌÑ∞ Î≥ëÌï©
pd.merge(df1, df2, how='outer')

     Í≥†Í∞ùÎ™Ö        ÏÉùÎÖÑÏõîÏùº   ÏÑ±Î≥Ñ     Ïó∞Î¥â
0    Î∞ïÏÑ∏Î¶¨  1980-01-02   Ïó¨Ïûê  3000Ïõê
1    Ïù¥ÎåÄÌò∏  1982-02-22   ÎÇ®Ïûê  2500Ïõê
2    ÏÜêÌù•ÎØº  1993-06-12   ÎÇ®Ïûê  1500Ïõê
3    ÍπÄÏó∞ÏïÑ  1988-10-16   Ïó¨Ïûê  2000Ïõê
4  ÎßàÏù¥ÌÅ¥Ï°∞Îçò  1970-03-03   ÎÇ®Ïûê    NaN
5  ÌÉÄÏù¥Í±∞Ïö∞Ï¶à         NaN  NaN  3500Ïõê

: Î≥ëÌï©ÌïòÎ†§Îäî columnÏùò Ïù¥Î¶ÑÏù¥ Îã§Î•∏ Í≤ΩÏö∞\
  ```pd.merge(df1, df2, left_on='df1_column', right_on='df2_column')```

In [15]:
df1 = pd.DataFrame({
    'Ïù¥Î¶Ñ': ['Î∞ïÏÑ∏Î¶¨', 'Ïù¥ÎåÄÌò∏', 'ÏÜêÌù•ÎØº', 'ÍπÄÏó∞ÏïÑ', 'ÎßàÏù¥ÌÅ¥Ï°∞Îçò'],
    'ÏÉùÎÖÑÏõîÏùº': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    'ÏÑ±Î≥Ñ': ['Ïó¨Ïûê', 'ÎÇ®Ïûê', 'ÎÇ®Ïûê', 'Ïó¨Ïûê', 'ÎÇ®Ïûê']})
df1

      Ïù¥Î¶Ñ        ÏÉùÎÖÑÏõîÏùº  ÏÑ±Î≥Ñ
0    Î∞ïÏÑ∏Î¶¨  1980-01-02  Ïó¨Ïûê
1    Ïù¥ÎåÄÌò∏  1982-02-22  ÎÇ®Ïûê
2    ÏÜêÌù•ÎØº  1993-06-12  ÎÇ®Ïûê
3    ÍπÄÏó∞ÏïÑ  1988-10-16  Ïó¨Ïûê
4  ÎßàÏù¥ÌÅ¥Ï°∞Îçò  1970-03-03  ÎÇ®Ïûê

In [16]:
df2 = pd.DataFrame({
    'Í≥†Í∞ùÎ™Ö': ['ÍπÄÏó∞ÏïÑ', 'Î∞ïÏÑ∏Î¶¨', 'ÏÜêÌù•ÎØº', 'Ïù¥ÎåÄÌò∏', 'ÌÉÄÏù¥Í±∞Ïö∞Ï¶à'],
    'Ïó∞Î¥â': ['2000Ïõê', '3000Ïõê', '1500Ïõê', '2500Ïõê', '3500Ïõê']})
df2

     Í≥†Í∞ùÎ™Ö     Ïó∞Î¥â
0    ÍπÄÏó∞ÏïÑ  2000Ïõê
1    Î∞ïÏÑ∏Î¶¨  3000Ïõê
2    ÏÜêÌù•ÎØº  1500Ïõê
3    Ïù¥ÎåÄÌò∏  2500Ïõê
4  ÌÉÄÏù¥Í±∞Ïö∞Ï¶à  3500Ïõê

In [17]:
pd.merge(df1, df2, left_on='Ïù¥Î¶Ñ', right_on='Í≥†Í∞ùÎ™Ö')

    Ïù¥Î¶Ñ        ÏÉùÎÖÑÏõîÏùº  ÏÑ±Î≥Ñ  Í≥†Í∞ùÎ™Ö     Ïó∞Î¥â
0  Î∞ïÏÑ∏Î¶¨  1980-01-02  Ïó¨Ïûê  Î∞ïÏÑ∏Î¶¨  3000Ïõê
1  Ïù¥ÎåÄÌò∏  1982-02-22  ÎÇ®Ïûê  Ïù¥ÎåÄÌò∏  2500Ïõê
2  ÏÜêÌù•ÎØº  1993-06-12  ÎÇ®Ïûê  ÏÜêÌù•ÎØº  1500Ïõê
3  ÍπÄÏó∞ÏïÑ  1988-10-16  Ïó¨Ïûê  ÍπÄÏó∞ÏïÑ  2000Ïõê

: Ïù¥Î¶ÑÏù¥ Í∞ôÏùÄ columnÏù¥ Ïó¨Îü¨Í∞ú ÏûàÎäî Í≤ΩÏö∞\
  Ïù¥Î¶ÑÏù¥ Í∞ôÏïÑÎèÑ ÌÇ§Í∞Ä ÎêòÎ©¥ ÏïàÎêòÎäî Ïó¥Ïù¥ ÏûàÏùÑ Îïå on Ïù∏ÏàòÎ°ú Í∏∞Ï§ÄÏó¥ÏùÑ Î™ÖÏãú\
```pd.merge(df1, df2, on='column')```

In [18]:
df1 = pd.DataFrame({
    'Ïù¥Î¶Ñ': ['Î∞ïÏÑ∏Î¶¨', 'Ïù¥ÎåÄÌò∏', 'ÏÜêÌù•ÎØº', 'ÍπÄÏó∞ÏïÑ', 'ÎßàÏù¥ÌÅ¥Ï°∞Îçò'],
    'ÏÉùÎÖÑÏõîÏùº': ['1980-01-02', '1982-02-22', '1993-06-12', '1988-10-16', '1970-03-03'],
    'Îç∞Ïù¥ÌÑ∞': ['Ïó¨Ïûê', 'ÎÇ®Ïûê', 'ÎÇ®Ïûê', 'Ïó¨Ïûê', 'ÎÇ®Ïûê']})
df1

      Ïù¥Î¶Ñ        ÏÉùÎÖÑÏõîÏùº Îç∞Ïù¥ÌÑ∞
0    Î∞ïÏÑ∏Î¶¨  1980-01-02  Ïó¨Ïûê
1    Ïù¥ÎåÄÌò∏  1982-02-22  ÎÇ®Ïûê
2    ÏÜêÌù•ÎØº  1993-06-12  ÎÇ®Ïûê
3    ÍπÄÏó∞ÏïÑ  1988-10-16  Ïó¨Ïûê
4  ÎßàÏù¥ÌÅ¥Ï°∞Îçò  1970-03-03  ÎÇ®Ïûê

In [19]:
df2 = pd.DataFrame({
    'Ïù¥Î¶Ñ': ['ÍπÄÏó∞ÏïÑ', 'Î∞ïÏÑ∏Î¶¨', 'ÏÜêÌù•ÎØº', 'Ïù¥ÎåÄÌò∏', 'ÌÉÄÏù¥Í±∞Ïö∞Ï¶à'],
    'Îç∞Ïù¥ÌÑ∞': ['2000Ïõê', '3000Ïõê', '1500Ïõê', '2500Ïõê', '3500Ïõê']})
df2

      Ïù¥Î¶Ñ    Îç∞Ïù¥ÌÑ∞
0    ÍπÄÏó∞ÏïÑ  2000Ïõê
1    Î∞ïÏÑ∏Î¶¨  3000Ïõê
2    ÏÜêÌù•ÎØº  1500Ïõê
3    Ïù¥ÎåÄÌò∏  2500Ïõê
4  ÌÉÄÏù¥Í±∞Ïö∞Ï¶à  3500Ïõê

In [20]:
# Îç∞Ïù¥ÌÑ∞ columnÏùÄ Í∞íÏùò ÏùòÎØ∏Í∞Ä Îã§Î¶Ñ(ÌÇ§Î°ú ÏÇ¨Ïö©ÎêòÎ©¥ ÏïàÎê®)
# Í∏∞Ï§ÄÏó¥ÏùÑ onÏùÑ ÌÜµÌï¥ ÏßÅÏ†ë ÏßÄÏ†ï(Î∞òÌôò Í≤∞Í≥ºÏóê ÎèôÏùº ÌïÑÎìúÎ™ÖÏù¥ ÏûàÏùÑ Í≤ΩÏö∞ column_x, column_yÎ°ú Î≥ÄÍ≤ΩÌï¥ÏÑú ÌëúÌòÑ
pd.merge(df1,df2, on='Ïù¥Î¶Ñ')

    Ïù¥Î¶Ñ        ÏÉùÎÖÑÏõîÏùº Îç∞Ïù¥ÌÑ∞_x  Îç∞Ïù¥ÌÑ∞_y
0  Î∞ïÏÑ∏Î¶¨  1980-01-02    Ïó¨Ïûê  3000Ïõê
1  Ïù¥ÎåÄÌò∏  1982-02-22    ÎÇ®Ïûê  2500Ïõê
2  ÏÜêÌù•ÎØº  1993-06-12    ÎÇ®Ïûê  1500Ïõê
3  ÍπÄÏó∞ÏïÑ  1988-10-16    Ïó¨Ïûê  2000Ïõê

: indexÎ•º Í∏∞Ï§ÄÏúºÎ°ú Î≥ëÌï©\
```pd.merge(df1, df2, left_index=True/False, right_index=True/False)```

In [21]:
df1 = pd.DataFrame([[1.,2.],[3.,4.],[5.,6.]],
                    index=['Î¥Ñ','Ïó¨Î¶Ñ','Í≤®Ïö∏'],
                    columns=['ÏÑúÏö∏','Î∂ÄÏÇ∞'])
df1

     ÏÑúÏö∏   Î∂ÄÏÇ∞
Î¥Ñ   1.0  2.0
Ïó¨Î¶Ñ  3.0  4.0
Í≤®Ïö∏  5.0  6.0

In [22]:
df2 = pd.DataFrame([[7.,8.],[9.,10.],[11.,12.],[13.,14.]],
                    index=['Ï¥àÏó¨Î¶Ñ','Ïó¨Î¶Ñ','Í∞ÄÏùÑ','Í≤®Ïö∏'],
                    columns=['ÎåÄÍµ¨','Í¥ëÏ£º'])
df2

       ÎåÄÍµ¨    Í¥ëÏ£º
Ï¥àÏó¨Î¶Ñ   7.0   8.0
Ïó¨Î¶Ñ    9.0  10.0
Í∞ÄÏùÑ   11.0  12.0
Í≤®Ïö∏   13.0  14.0

In [23]:
# Í∏∞Ï§ÄÏù¥ Î™®Îëê indexÎ°ú Ï≤òÎ¶¨ÎêòÏñ¥ ÏûàÎäî Í≤ΩÏö∞ indexÎäî Í∏∞Ï°¥ indexÎ•º ÏÇ¨Ïö©
pd.merge(df1, df2, left_index=True, right_index=True, how='outer')

      ÏÑúÏö∏   Î∂ÄÏÇ∞    ÎåÄÍµ¨    Í¥ëÏ£º
Í∞ÄÏùÑ   NaN  NaN  11.0  12.0
Í≤®Ïö∏   5.0  6.0  13.0  14.0
Î¥Ñ    1.0  2.0   NaN   NaN
Ïó¨Î¶Ñ   3.0  4.0   9.0  10.0
Ï¥àÏó¨Î¶Ñ  NaN  NaN   7.0   8.0

### ‚úÖ join()
: ```df1.join(df2, how)```
- how : left, right, outer, inner(defaultÍ∞í)

In [24]:
df1.join(df2, how='outer')

      ÏÑúÏö∏   Î∂ÄÏÇ∞    ÎåÄÍµ¨    Í¥ëÏ£º
Í∞ÄÏùÑ   NaN  NaN  11.0  12.0
Í≤®Ïö∏   5.0  6.0  13.0  14.0
Î¥Ñ    1.0  2.0   NaN   NaN
Ïó¨Î¶Ñ   3.0  4.0   9.0  10.0
Ï¥àÏó¨Î¶Ñ  NaN  NaN   7.0   8.0